.controls.playback-controls
	%ul
		%li.track
			%span.fill
			%span.load
			.previewer
			%span.bob
		%li.icon.volume
			%span.indicator= fa :volume_up
			.slider
				%span.fill
				%span.bob
		%li.icon.maximise
			%span.indicator= fa :square_o
		%li.icon.fullscreen
			%span.indicator= fa :arrows_alt
