.player(data-state="ready")
	%span.playing
	%span.error
		%span.error-message
	%span.suspend.hidden
		%i.fa.fa-pulse.fa-spinner
	%span.pause.resize-holder
		%span.playback
		- if embed
			%h1.resize-target
				%a.title(target="_blank" href="#{@video.link}")= @video.title
= render 'videos/widget/controls'
%ul.contextmenu.transitional.hidden
= yield
