.controls.playback-controls
	%ul
		%li.icon.play
			%span.indicator= fa :play
		%li.track
			.bars
				%span.fill
				%span.cursor-fill
			.bars.load
			.previewer
			%span.bob
		%li.icon.volume
			%span.indicator= fa :volume_up
			.slider
				%span.fill
				%span.bob
		%li.icon.maximise
			%span.indicator= fa :square_o
		%li.icon.fullscreen
			%span.indicator= fa :arrows_alt
