<div class="comment basic post-box">
	<div class="content editing previewable">
		<%= render partial: "comment/edit_toolbar" %>
		<div class="comment-content preview"></div>
		<%= yield %>
		<hr>
		<button class="blue state-toggle button-fw" data-state="editing">
			<span class="on">Preview</span>
			<span class="off">Edit</span>
		</button>
	</div>
</div>
