<div class="toolbar">
	<ul class="button-group">
		<li class="button edit-action" data-action="tag" data-tag="b" title="Bold">
			<i class="fa fa-bold"></i>
		</li><li class="button edit-action" data-action="tag" data-tag="i" title="Italic">
			<i class="fa fa-italic"></i>
		</li><li class="button edit-action" data-action="tag" data-tag="u" title="Underline">
			<i class="fa fa-underline"></i>
		</li><li class="button edit-action" data-action="tag" data-tag="s" title="Strikethrough">
			<i class="fa fa-strikethrough"></i>
		</li>
	</ul><ul class="button-group">
		<li class="popper button pop-out-toggle edit-action" data-action="emoticons" title="Emoticons">
			<i class="fa fa-smile-o"></i>
			<ul class="pop-out" id="emoticons"></ul>
		</li>
	</ul><ul class="button-group">
		<li class="button edit-action" data-action="tag" data-tag="spoiler" title="Spoiler">
			<i class="fa fa-filter"></i>
		</li><li class="button edit-action" data-action="tag" data-tag="q" title="Quote">
			<i class="fa fa-quote-left"></i>
		</li>
	</ul>
</div>
