- title @tag.name
%section.page.full-width
	= render layout: 'pagination/paginated', locals: {type: tag_changes_path(@tag), paginated: @history, id: "page"} do
		= render partial: 'history/list', locals: {id: @tag.id, items: @history.records}
