- flash.each do |key,value|
	%p.notice.removeable{class: key}
		= value
		%span.actions.right
			%a.remove.right.red(title="Remove")= fa :close
- cache('site_notices', expires_in: 1.minute) do
	- SiteNotice.where(active: true).each do |notice|
		%p.notice.site-notice.removeable
			= emotify notice.message
			%span.actions.right
				- if user_signed_in? && current_user.is_contributor?
					%a.green{href: admin_sitenotices_path}(title="Edit")= fa :pencil
				%a.remove.red(title="Remove")= fa :close
