%section.page.full-width.listing.compact.collapse-padding
	%p All the messages that appear on the site can be defined from here.
	.items
		%span.row.heads
			.cell
			.cell Message
			.cell.center(style="width:0") Active
			.cell
		= render partial: 'item', collection: @notices
	%span.row.foot
		%a.button.button-bub.bub(title="add" data-title="Add Notice" data-external-form="#{new_admin_sitenotice_path}")
			= fa :plus
			Add New
