.actions {
  display: flex;
	line-height: 19px;
  gap: 4px;
}

.action[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.actions > .button,
.actions > button,
.actions > .split-button {
  white-space: nowrap;
}

.actions .divider {
  display: flex;
  border-left: 1px solid var(--divider-color);
  margin: 0 10px;
  align-self: stretch;
}
.actions .spacer {
  flex-grow: 1;
}
