@media(max-width: 600px) {
  .actions.mobile-tabbed {
    white-space: nowrap;
    text-align: center;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .actions.mobile-tabbed .divider {
    display: none;
  }

  .actions.mobile-tabbed .button > span,
  .actions.mobile-tabbed button > span {
    display: block;
  }

  .actions.mobile-tabbed .button > .fa,
  .actions.mobile-tabbed button > .fa {
    display: block;
    white-space: pre-line;
  }

  .actions.mobile-tabbed .button > .fa,
  .actions.mobile-tabbed button > .fa {
    font-size: 1.5em;
    padding: 3px;
  }
}
