.button.button-bub, .toolbar .button {
  line-height: 27px;
  border: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 5px;
  width: 37px;
  height: 37px;
  text-align: center;
  
  --button-background: var(--bubble-color);
  --button-background-hover: var(--bubble-background-hover);
  --button-background-active: var(--bubble-background-active);
}

.button.button-bub.bub {
  border-radius: 20px/20px;
  width: auto;
  padding: 5px 10px;
}

.toolbar .button.pop-out-shown {
  background: var(--button-background-hover);
}

.button.button-bub.subscribe {
  margin-top: -10px;
  color: var(--block-shadow-color);
  --on-color: #00f;
  --off-color: #f00;
}
.button.button-bub.subscribe .fa.fa-check {
  color: var(--on-color);
}
.button.button-bub.subscribe .fa.fa-bell-slash {
  color: var(--off-color);
}
