button, .button, input[type=submit], .tag, .foobar {
  --button-background: #f8f8f8;
  --button-background-hover: #fcfcfc;
  --button-background-active: #f7f7f7;
  --button-background-selected: var(--content-background);

  --button-border-color: #d6d6d6;
  --button-bottom-color: #cacaca;
  --button-top-color: #e2e2e2;
  --button-shadow-color: #fafafa;
  --button-shine-color: rgba(255,255,255,0.2);
  --button-foreground: #333;
  --button-foreground-hover: #444;
  --button-foreground-active: #222;
  --button-foreground-selected: var(--button-foreground-active);
  
  display: inline-block;
  background: var(--button-background);
  padding: 5px 15px;
  border: solid 1px var(--button-border-color);
  border-bottom-color: var(--button-bottom-color);
  border-top-color: var(--button-top-color);
  border-radius: 3px;
  box-shadow: 0 1px 0 var(--button-shine-color) inset;
  text-shadow: 1px 1px var(--button-shadow-color);
  text-decoration: none;
  color: var(--button-foreground) !important;
  font-weight: initial;
  line-height: 20px;
}

button, .button, input[type=submit], .tag {
  transition: background 0.5s ease, border 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}

button > span, .button > span {
  color: inherit !important;
}

/* fake buttons, for show only*/
.foobar {
  opacity: 0.3;
  pointer-events: none;
}

button, .button, .foobar, input[type=submit] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
button.right, .foobar.right, .button.right, input[type=submit].right {
  margin-left: 5px;
}

button:hover, .button:hover, input[type=submit]:hover {
  background: var(--button-background-hover);
  color: var(--button-foreground-hover) !important;
}

button.selected, .button.selected, input[type=submit].selected {
   background: var(--button-background-selected);
   color: var(--button-foreground-selected) !important;
}

button:active, .button:active, input[type=submit]:active {
   background: var(--button-background-active);
   color: var(--button-foreground-active) !important;
   box-shadow: 0 0 5px 0 rgba(0,0,0,0.1) inset;
}

button.disable, .button.disable, button.working, .button.working {
  opacity: 0.6;
  pointer-events: none;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1) inset;
}

.button-fw {
  min-width: 80px;
}

.split-button {
  display: inline-block;
  vertical-align: top;
}

.waiting .refresh, .button.working {
	opacity: 1;
}
.waiting .refresh .progress-throbber,
.button.working .progress-throbber {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.split-button > .action {
  display: block;
  float: left;
  line-height: inherit;
  padding-bottom: 6px;
}
.split-button .split-icon {
  border-radius: 2px 0 0 2px;
  border-right: none !important;
}
.split-action {
  border-radius: 0 2px 2px 0;
  padding-left: 6px;
}

.actions {
	line-height: 19px;
  --divider-color: rgba(0,0,255,0.1);
}

.actions > .button, .actions > button, .actions > .split-button {
  margin-right: 4px;
  margin-top: 4px;
}
.actions > .button:last-child, .actions > button:last-child, .actions > .split-button:last-child {
  margin-right: 0px;
}

.actions .divider {
  height: 30px;
  border-left: 1px solid var(--divider-color);
  margin: 0 10px;
}

@media(max-width:430px) {
  button.mobile-friendly span,
  .button.mobile-friendly span {
    display: none;
  }
}