.actions .dislike.liked, button.red, .button.red, input[type=submit].red,
.actions .like.liked, button.green, .button.green, input[type=submit].green,
.actions .star.liked, button.yellow, .button.yellow, input.yellow[type="submit"],
button.blue, .button.blue, input.blue[type="submit"] {
  --button-foreground: #fff;
  --button-foreground-hover: var(--button-foreground);
  --button-foreground-active: var(--button-foreground);
}


.actions .dislike.liked,
button.red, .button.red, input[type=submit].red {
  --button-border-color: #a73535;
  --button-bottom-color: #9d3232;
  --button-top-color: #b03838;
  --button-shadow-color: #a73535;
  --button-background: rgb(236, 72, 72);
  --button-background-hover: rgb(252, 87, 87);
  --button-background-active: rgb(236, 72, 72);
}

.actions .like.liked,
button.green, .button.green, input[type=submit].green {
  --button-border-color: #699739;
  --button-bottom-color: #638f36;
  --button-top-color: #6fa03c;
  --button-shadow-color: #699739;
  --button-background: #7bb042;
  --button-background-hover: #8bc052;
  --button-background-active: #7bb042;
}

button.blue, .button.blue, input.blue[type="submit"] {
  --button-border-color: #3480b5;
  --button-bottom-color: #3179ab;
  --button-top-color: #3787bf;
  --button-shadow-color: #3480b5;
  --button-background: #3d95d3;
  --button-background-hover: #4da5e3;
  --button-background-active: #2d85c3;
}

.actions .star.liked,
button.yellow, .button.yellow, input.yellow[type="submit"] {
  --button-border-color: #c7c739;
  --button-bottom-color: #b7b736;
  --button-top-color: #c7c73c;
  --button-shadow-color: #c7c739;
  --button-background: #e0e046;
  --button-background-hover: #f0f056;
  --button-background-active: #e0e046;
}
