.split-button {
  display: flex;
  align-items: center;
}

.split-button > .action {
  display: block;
  line-height: inherit;
  padding-bottom: 6px;
}

.split-action {
  border-radius: 0 2px 2px 0;
  padding-left: 6px;
}
.split-button.button > button,
.split-button.button > .button {
  border-width: 0px;
}

.split-button.button {
  padding: 0;
}
.split-button.button > *:not(.split-icon) {
  padding: var(--button-vertical-padding) 0;
}
.split-button.button > *:first-child {
  padding-left: var(--button-horizontal-padding);
  
}
.split-button.button > *:last-child {
  padding-right: var(--button-horizontal-padding);
  border-right-width: 0;
}

.split-button.button > .pop-out {
  text-shadow: none;
}