.playback-controls .icon {
  position: relative;
  width: 20px;
  height: 23px;
  cursor: pointer;
  border-radius: 12px;
}
.playback-controls .icon .indicator {
  color: var(--controls-foreground);
  font-size: 1.5em;
}
