.playback-controls .icon {
  position: relative;
  width: 20px;
  height: 100%;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}
.playback-controls .icon .indicator {
  color: var(--controls-foreground);
  font-size: 1.5em;
}
