.playback-controls {
  --controls-foreground: #fff;
  --controls-background: #000;
  --bob-tint: #f00;
  --bob-highlight: #f00;
  --bob-outline: transparent;
  --progress-fill-color: red;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  color: var(--controls-foreground);
}
.video .playback-controls {
  --default-hide-delay: 5s;
  --hide-delay: var(--default-hide-delay);
  visibility: hidden;
  position: absolute;
  opacity: 0;
  width: 100%;
  transition:
    opacity 0.5s linear var(--hide-delay),
    visibility 0.5s linear var(--hide-delay);
}
.video .playback-controls::before {
  display: block;
  content: '';
  box-shadow: 0 -50px 40px -40px var(--controls-background) inset;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  opacity: 0.7;
  pointer-events: none;
}

.playback-controls ul {
  display: flex;
  align-items: center;
  gap: 12px;
}

.video .playback-controls ul {
  margin: 0 15px 15px 15px;
}

.playback-controls li {
  display: flex;
  align-items: center;
}

.video.audio-only .playback-controls,
.video[data-state=error] .playback-controls,
.video[data-state=stopped] .playback-controls,
.video[data-state=paused] .playback-controls,
.video[data-state=playing]:hover .playback-controls, 
.video[data-state=playing].hover .playback-controls,
.video[data-state=playing]:focus-within .playback-controls,
.video[data-state=playing] .playback-controls:hover,
.video[data-state=playing] .playback-controls:focus-within,
.video .playback-controls.interacting {
  opacity: 1;
  visibility: visible;
  --hide-delay: 0s;
}

.video[data-state=playing][data-idle=true] {
  cursor: none;
}
.video[data-state=playing][data-idle=true] .playback-controls:not(.interacting) {
  opacity: 0 !important;
  visibility: hidden !important;
}
