- tag_string = tags.order(:name).limit(cutoff).to_tag_string
- total = tags.count
%span.taglist
	%span{title: tag_string}=tag_string
- if total > cutoff
	%span.over-count{title: truncate(tags.order(:name).offset(cutoff).limit(15).to_tag_string, length: 200)}
		= precede '+' do
			= total - cutoff
			more
