blockquote {
  background: rgba(100,130,255, 0.03);
  padding: 3px 1%;
  margin: 3px 1%;
  border-radius: 5px;
  border: dotted 1px #ccc;
  box-shadow: 0px 0px 12px rgba(100,130,255, 0.1) inset;
}

.comment-content blockquote.even {
  background: rgba(255,255,255, 0.5);
}

blockquote > blockquote > blockquote > blockquote > blockquote > blockquote {
  padding: 3px 0.5%;
  margin: 3px 0.5%;
}
blockquote > blockquote > blockquote > blockquote > blockquote > blockquote >
blockquote > blockquote > blockquote > blockquote > blockquote > blockquote {
  padding: 3px 0;
  margin: 3px 0;
}

blockquote[who], blockquote[when] {
  position: relative;
  padding-top: 1em;
}
blockquote[who]::before, blockquote[when]::before {
  display: block;
  position: absolute;
  top: -1em;
  background: inherit;
  box-shadow: inherit;
  border: inherit;
  border-radius: inherit;
  padding: 2px 5px;
  content: attr(who) ' ' attr(when);
}
