<li class="comment<% if comment.hidden %> deleted<% end %> transitional" id="comment_<%= comment.get_open_id %>" data-user="<%= comment.user.username %>">
<%= render partial: "thread/comment_guts", locals: {comment: comment, indirect: indirect} %>
</li>