<div class="comment basic post-box">
	<div class="content editing">
		<div class="comment-content preview"></div>
		<%= yield %>
		<hr>
		<button class="blue state-toggle" data-state="editing" data-true="Preview" data-false="Edit">Preview</button>
		</div>
	</div>
</div>