<% if @thread.owner.resolved.nil? %>
<label class="button blue right">
	<input name="resolve" type="checkbox"></input>
	<i class="fa fa-check"></i>
	Mark As Resolved
</label>
<label class="button red right">
	<input name="close" type="checkbox"></input>
	<i class="fa fa-check"></i>
	Close Report
</label>
<% else %>
<label class="button blue right">
	<input name="unresolve" type="checkbox"></input>
	<i class="fa fa-check"></i>
	Re-open Report
</label>
<% end %>
<% end %>
