<h1 class="title">Comments</h1>
<% if user_signed_in? %>
<% if @thread.locked %>
Thread locked
<% else %>
<%= render partial: "thread/comment_box", locals: {invert: false} %>
<hr>
<% end %>
<% end %>
<%= render layout: '/layouts/paginated', locals: {type: "comments/" + @thread.id.to_s + "/" + @order, paginated: @comments, id: "page"} do %>
<ul id="thread-<%= @thread.id %>" class="comments">
	<%= render partial: '/thread/comment_set', locals: {thread: @comments.records, indirect: false} %>
</ul>
<% end %>
</div>