<% lim "900px" %>
<section style="width:100%;" class="page properties">
	<h1 class="title">Notifications</h1>
	<ul class="notifications">
	<% @notifications.each do |i| %>
		<li class="notification">
			<a href="<%= i.source %>"><%= raw i.message %></a>
		</li>
	<% end %>
	<% @notifications.destroy_all %>
	</ul>
</section>