%section.page.seamless.full-width
	%h1 Statistics
	- cache(@user, expires_in: 30.minutes) do
		= render 'users/profile_modules/left_column/stat_bar', records: @user.videos, title: 'Uploads'
		= render 'users/profile_modules/left_column/stat_bar', records: @user.comments, title: 'Comments'
		= render 'users/profile_modules/left_column/stat_bar', records: @user.votes, title: 'Votes'
		= render 'users/profile_modules/left_column/stat_bar', records: @user.tag_histories, title: 'Tag Changes'
