.playlist .controls {
  display: flex;
  width: 100%;
  border-top: solid 1px var(--seamless-button-hover-tint);
  white-space: nowrap;
}
.playlist .controls a {
  width: 25%;
  text-align: center;
  float: left;
  color: var(--playlist-controls-color);
  padding: 5px 30px;
  border-right: solid 1px var(--seamless-button-hover-tint);
  transition:
    background 0.25s ease,
    border-color 0.25s ease;
}
.playlist .controls a.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.playlist .controls a:hover {
  background: var(--header-overlay-element-focus-fill);
}
.playlist .controls a:last-child {
  border-right: none;
}

.playlist .controls .title {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.playlist .controls a.active {
  color: #7c7cff;
}

.listing.compact.playlist .controls:first-child {
  border-radius: var(--block-radius) var(--block-radius) 0 0;
}

.listing.compact.playlist .controls a {
  padding: 10px;
  border-radius: inherit;
}