/* Used for genres (tags) and user tiles */

li.bio, li.genre {
  float: left;
  margin: 5px;
  width: 200px;
  text-align: center;
  min-height: 320px;
  overflow: hidden;
}
li.bio > *, li.genre {
  vertical-align: middle;
}
li.bio, li.genre {
  --tile-border-color: #ccc;

  background: var(--content-background);
  border: solid 1px var(--tile-border-color);
  box-shadow: 1px 1px 1px 0 var(--tile-border-color);
  padding: 10px;
}

li.bio.virtual {
  opacity: 0;
}

.bio a, .genre a {
  text-decoration: none;
}
li.bio h2, li.genre h2 {
  text-decoration: none;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  line-height: 28px;
}

.bio.short {
  vertical-align: top;
}
