li.bio {
  float: left;
  margin: 5px;
  width: 200px;
  text-align: center;
  min-height: 320px;
  overflow: hidden;
}
li.bio > * {
  vertical-align: middle;
}
li.bio {
  background: var(--content-background);
  border: solid 1px var(--tile-border-color);
  box-shadow: 1px 1px 1px 0 var(--tile-border-color);
  padding: 10px;
  border-radius: var(--page-radius);
}

li.bio.virtual {
  border: none;
  box-shadow: none;
}

.bio a {
  text-decoration: none;
}
li.bio h2 {
  text-decoration: none;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  line-height: 28px;
}
li.bio .bio {
  color: #aaa;
  font-weight: normal;
  text-align: center;
}

.bio.short {
  vertical-align: top;
}
