.infinite-page {
  position: relative;
}
.infinite-page.loading-before::before,
.infinite-page.loading-after::before {
  position: absolute;
  content: 'Loading...';
  display: block;
  padding: 5px;
  line-height: 20px;
  border-collapse: collapse;
  border-top: solid 1px rgba(0,0,0,0.1);
  text-align: center;
  left: 0;
  right: 0;
}
.infinite-page.loading-before {
  padding-bottom: 30px;
}
.infinite-page.loading-before::before {
  bottom: 0;
}
.infinite-page.loading-after {
  padding-top: 30px;
}
.infinite-page.loading-after::before {
  top: 0;
}

.row[data-type="Folder"] {
  background: #efe;
}
