
ul.horizontal.filter-list, .filter-list li {
  overflow: visible;
}
.filter-list li.generic.thumb.bio {
  --thumb-width: 100%;
  --thumb-height: calc(var(--thumb-width) * 2);
  display: flex;
  flex-direction: column;
  padding: 0;
}
.filter-list li .details {
  flex-grow: 1;
  padding: 10px;
}
.filter-list li .actions {
  text-align: left;
  padding: 5px;
  border-top: solid 1px var(--heading-border-color);
  background: var(--heading-background);
}
.filter-list .title {
  background: var(--heading-background);
  border: solid 1px var(--heading-border-color);
  margin: -3px;
  vertical-align: middle;
  line-height: 40px;
}