ul.horizontal.tag-list {
  overflow: visible;
}
ul.horizontal.tag-list .tag {
  display: flex;
  flex-grow: 1;
  flex-basis: 15%;
}
ul.horizontal.tag-list .tag m {
  flex-grow: 1;
}


li.tag.virtual {
  opacity: 0;
}

li.genre {
  min-height: 150px;
}

.tag-set, .date, .source {
  font-size: 0.8em;
}
.tag-set > .overflow {
  display: none;
  border-bottom: none;
}
.tag-set.show-all > .overflow {
  display: inline;
}
.tag-set, .date, .source, .underline a {
  font-style: italic;
}
.tag-set, .date, .source, .underline a, .tag-set a {
  color: #aaa;
  text-decoration: none;
  font-weight: normal;
}
