<h1 class="title">
	<a href="/">Home</a> <i class="fa fa-chevron-right"></i> <a href="/admin">Admin</a> <i class="fa fa-chevron-right"></i> 
	Tag Types
</h1>
<section class="page full-width listing compact">
	<div class="items">
		<span class="row heads">
			<div></div>
			<div>Type Name</div>
			<div>Total Tags</div>
			<div class="center">Hidden</div>
			<div>Implications</div>
		</span>
		<%= render partial: 'item', collection: @types %>
	</div>
	<span class="row foot">
		<a class="button confirm-button button-bub bub" title="add" data-title="Add Tag Type" data-url="tagtype/new">
			<i class="fa fa-plus"></i> Add New
		</a>
	</span>
</section>