.comment .comment-actions {
  display: flex;
  gap: 4px;
  float: right;
  margin-top: -3px;
}

.comment .comment-actions .button {
  padding: 3px 5px;
}

.comment .content .like {
  --button-foreground-hover: #72c733;
  --button-foreground-active: var(--button-foreground-hover);
}
.comment .content .like:not([data-count="0"])::before {
  content: attr(data-count);
}

.comment .content .like.liked {
  --button-foreground: var(--button-foreground-active);
}
