.comment {
  min-height: 100px;
  transition: visibility 0.5s ease,
              height 0.5s ease,
              opacity 0.5s ease;
              
  --comment-background: rgb(255, 255, 250);
  --comment-border-color: rgb(204, 204, 204);
  --comment-background-color: rgb(247, 247, 247);
  --comment-text-shadow-color: rgba(255, 255, 255, 0.8);
  --mention-color: #ccc;
  --user-link-color: #337287;
}
.comment.highlight {
  --comment-border-color: rgb(204, 204, 255);
  --comment-background-color: #09f9f9;
}

label.focus .content {
  --comment-background: rgba(249,249,249);
  --comment-background-color: rgb(241, 241, 241);
}

.comment.deleted, .comment.deleted .content {
  min-height: 0;
}
.comment.deleted .content::before, .comment.deleted .content::after {
  display: none;
}
.comment.deleted .content {
  background: #fee;
  border-color: #a88;
}

.comment .bio {
  float: left;
  padding-right: 20px;
}

.comment .name {
  border-bottom: solid 1px var(--divider-color);
  margin-bottom: 10px;
}
.comment .name a {
  text-decoration: none;
  width: 100%;
}
.comment .name > a {
  color: #333333;
}

.comment .thumb .title {
  max-width: 185px;
}

.comment .content {
  transition: background 0.5s ease;
  position: relative;
  padding: 10px;
  margin-left: 70px;
  border: 1px solid var(--comment-border-color);
  border-radius: 5px !important;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.07) inset;
  background: var(--comment-background);
  text-shadow: 1px 1px var(--comment-text-shadow-color);
  vertical-align: middle;
  min-height: 120px;
}
.comment.basic > .content {
  margin-left: 0;
}
.comment.highlight > .content {
  box-shadow: 0 0 12px rgba(0, 0, 255, 0.07) inset,
              0 0 15px -3px rgba(0, 0, 255, 0.3);
}
.comment .content::before {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: -20px;
  border: solid 10px;
  border-color: transparent var(--comment-border-color) transparent transparent;
}
.comment .content::after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: -18px;
  border: solid 10px;
  transition: border-color 0.5s ease;
  border-color: transparent var(--comment-background) transparent transparent;
}
.comment.basic > .content::before, .comment.basic > .content::after {
  display: none;
}

.comment .content .comment-content {
  resize: vertical;
  width: 100%;
  min-height: 120px;
  border: none;
  background: none;
  word-wrap: break-word;
}

.comment .content.editing .preview,
.comment .content textarea.comment-content {
  display: none !important;
}
.comment .content.editing textarea.comment-content {
  display: block !important;
}

.comment .content .posting-spinner {
  display: none;
}
.comment .content.posting button.green {
  position: relative;
}
.comment .content.posting .posting-spinner {
  display: inline;
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
}
.comment .content.posting button.green span {
  opacity: 0;
}

.comment .name a.user-link {
  color: var(--user-link-color);
}
.comment .artist-bio a.user-link::before,
.comment .name a.user-link::before {
  display: none;
}

.comment .artist-bio .thumb {
  --thumb-width: 190px;
  width: var(--thumb-width);
}

.comment .name a.mention,
.comment a.mention {
  color: var(--mention-color);
  font-size: 10px;
  display: inline-block;
  width: auto;
  padding-right: 3px;
}
