.comment .comment-actions {
  float: right;
}

.comment .comment-actions > * {
  margin-left: 10px;
  box-shadow: none;
  font-size: 1.1em;
}

.comment .reply-comment {
  cursor: pointer;
}

.comment .content .like {
  border: none;
  background: none;
  padding: 0;
  margin: 0;

  --button-foreground: var(--default-link-color);
  --button-foreground-hover: #72c733;
  --button-foreground-active: #2362ef;
}
.comment .content .like.liked,
.comment .content .like.liked:hover,
.comment .content .like.liked:active {
  border: none;
  background: none;
  text-shadow: none;
  box-shadow: none;
}
.comment .content .like.liked {
  --button-foreground: var(--button-foreground-active);
}
