#emoticons {
  max-height: initial;
  padding: 10px;
  text-align: center;
  white-space: initial;
  min-width: 290px;
}
#emoticons li {
  background: none;
  overflow: hidden;
  width: 37px;
  height: 37px;
  display: inline-block;
  list-style: none;
  padding: 5px;
  border-radius: 100%;
  transition: background 0.5s ease;
  line-height: 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
#emoticons li:hover {
  background: var(--block-hover-color);
}

img.emoticon {
  background: none;
  border: none;
  box-shadow: none;
  max-height: 27px;
  margin: 0 -5px 0 0;
  padding: 0 1px 0 1px;
  vertical-align: middle;
}

#emoticons .emote:hover {
  transform: rotate(15deg);
  filter: blur(0);
}

.emote {
  --x-size: 34px;
  --y-size: calc(var(--x-size) - 2px);
  --x: 0;
  --y: 0;
  margin-left: -4px;
  margin-top: -2px;
  display: block;
  width: var(--x-size);
  height: var(--y-size);
  background: url(/emoticons/all.png);
  background-position-x: calc(var(--x) * var(--x-size) * -1);
  background-position-y: calc(var(--y) * var(--y-size) * -1);
  background-size: calc(var(--x-size) * 7) auto;
  font-size: 0;
  vertical-align: bottom;
}
i.emote {
  display: inline-block;
}

.notice .emote {
  --x-size: 23px;
}
