#emoticons {
  max-height: initial;
  left: -130px;
  overflow-x: hidden;
  padding: 10px;
  text-align: center;
  white-space: initial;
  min-width: 290px;
}
#emoticons li {
  background: none;
  overflow: hidden;
  width: 37px;
  height: 37px;
  display: inline-block;
  list-style: none;
  padding: 5px;
  border-radius: 100%;
  transition: background 0.5s ease;
  line-height: 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
#emoticons li:hover {
  background: #eee;
}

img.emoticon {
  background: none;
  border: none;
  box-shadow: none;
  max-height: 27px;
  margin: 0 -5px 0 0;
  padding: 0 1px 0 1px;
  vertical-align: middle;
}
