
main.wrapper:not(.editing) .profile-column .removeable .remove,
main.wrapper:not(.editing) .profile-column .handle,
main.wrapper:not(.editing) .new-module,
main.wrapper.editing .removeable .title a {
  display: none;
}
main.wrapper.editing .profile-column {
  outline: dotted 1px var(--block-border-color);
  outline-offset: 8px;
}

.reorderable .title .remove,
.reorderable .title .handle {
  color: inherit;
  text-shadow: inherit;
  width: 50px;
  float: left;
  padding: inherit;
  margin: inherit;
  padding-right: 50px;
}
.reorderable .title .handle {
  margin-right: 20px;
}
.reorderable .title .remove {
  cursor: pointer;
  float: right;
  color: #ec4848;
}

.reorderable .properties .title .remove,
.reorderable .properties .title .handle {
  margin: -20px;
}
.reorderable .properties .title .handle {
  margin-right: 20px;
}
.reorderable .title .remove:hover,
.reorderable .title .handle:hover {
  background: var(--content-highlight);
}

.new-module {
  padding: 20px;
}
.new-module button {
  width: 100%;
  border-radius: 0;
  background: none;
}