.resolution-status {
	background: rgb(236, 236, 236);
  border-radius: 5px;
	padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07) inset;
}
.report[data-state="closed"] .resolution-status {
  background: rgb(236, 72, 72);
  border: 1px solid #a73535;
  border-bottom-color: #9d3232;
  border-top-color: #b03838;
  text-shadow: -1px -1px #a73535;
  color: #fff;
}
.report[data-state="resolved"] .resolution-status {
  background: #7bb042;
  border: 1px solid #699739;
  border-bottom-color: #638f36;
  border-top-color: #6fa03c;
  text-shadow: -1px -1px #699739;
  color: #8f8;
}
.report[data-state="open"] .resolution-status .fa-inverse {
  color: rgb(236, 236, 236);
}
.report[data-state="closed"] .resolution-status .fa-inverse {
  color: rgb(236, 72, 72);
}
.report[data-state="resolved"] .resolution-status .fa-inverse {
  color: rgb(72, 236, 72);
}

.report .resolution-status span {
  vertical-align: middle;
}

.report .resolution-status span i.fa.fa-stack-1x {
  font-size: 140%;
  padding-left: 2px;
  padding-top: 1px;
}

.report[data-state="open"] .closed, .report[data-state="open"] .resolved,
.report[data-state="closed"] .open, .report[data-state="closed"] .resolved,
.report[data-state="resolved"] .open, .report[data-state="resolved"] .closed {
	display: none;
}
