<% title "Private Messages" %>
<h1>Private Messages</h1>
<section class="page tab-set full-width">
	<div class="tab-set tabs async" data-target="messages" data-url="messages/tab">
		<a href="/messages/new" class="button<% if @type == 'new' %> selected<% end %>" data-target="new"><i class="fa fa-star"></i> Unread<% if @new > 0 %> (<%= number_with_delimiter @new %>)<% end %></a>
		<a href="/messages/received" class="button<% if @type == 'received' %> selected<% end %>" data-target="received"><i class="fa fa-inbox"></i> Inbox</a>
		<a href="/messages/sent" class="button<% if @type == 'sent' %> selected<% end %>" data-target="sent"><i class="fa fa-reply"></i> Sent</a>
		<a href="/messages/deleted" class="button<% if @type == 'deleted' %> selected<% end %>" data-target="deleted"><i class="fa fa-trash"></i> Deleted</a>
	</div>
	<div class="actions">
		<button class="action green" data-external-form="/ajax/message/new" data-title="New PM" type="button"><i class="fa fa-plus"></i> New</button>
	</div>
	<br>
	<div class="tab selected" data-tab="messages">
		<%= render partial: "list_group", locals: {type: @type, paginated: @result, selected: true} %>
	</div>
</section>
