.context-3d .layer-background, .context-3d .layer-foreground {
  position: absolute;
  width: 100%;
}
.context-3d:not(.no-3d) .layer-background {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.context-3d .layer-foreground {
  z-index: 2;
}

.context-3d:not(.no-3d) .layer-background .far {
  transform: translateX(200%) translateZ(-1200px) scale(5.3);
}
.context-3d:not(.no-3d) .layer-background .near {
  transform: translateX(50%) translateZ(-300px) scale(2);
}

.layer-foreground.body {
  display: flex;
  flex-direction: column;
  margin-top: var(--banner-height);
  padding-top: 20px;
  background: inherit;
  z-index: 1;
  min-height: calc(100vh - var(--banner-height));
}
