%section.page.full-width.listing.compact.collapse-padding
	.items.display-grid
		%span.row.heads
			.cell
			.cell Type Name
			.cell Total Tags
			.cell.center Hidden
			.cell Implications
		= render partial: 'item', collection: @types
	%span.row.foot
		%a.button.button-bub.bub(title="add" data-title="Add Tag Type" data-external-form="#{new_admin_tags_type_path}")
			= fa :plus
			Add New
