# Ignore sample data
/public/avatar
!/public/avatar/.keep
/public/banner
!/public/banner/.keep
/public/cover
!/public/cover/.keep
/public/stream
!/public/stream/.keep
/private/stream
!/private/stream/.keep
/encoding
!/encoding/.keep
/public/assets

# Ignore bundler config.
/.bundle

# Ignore app settings
/config/settings.yml

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/shared
*.save
*.swp
*.rdb

.rake_tasks~
.rbenv-vars
.env
.byebug_history
