(function() {

  let windowFocused = false;

  window.addEventListener('focus', () => windowFocused = true);
  window.addEventListener('blur', () => windowFocused = false);

  // TODO: ew.
  function initWorker() {
    const docTitle = document.querySelector('#document_title');
    const title = docTitle.text;
    const worker = new SharedWorker('<%= asset_path("notifications.js") %>');
    const feeds = document.querySelector('.notices-bell.feeds');
    const notices = document.querySelector('.notices-bell.notices');

    worker.port.addEventListener('message', function(e) {
      if (e.data.command == 'feeds') {
        if (e.data.count > 0) {
          feeds.innerHTML = `<i class="fa fa-globe"/><span>${e.data.count}</span>`;
        } else {
          feeds.innerHTML = `<i class="fa fa-globe"/>`;
        }
      } else if (e.data.command == 'notices') {
        const notInvert = notices.querySelector('span:not(.invert)');
        if (notInvert) notInvert.parentNode.removeChild(notInvert);

        if (e.data.count > 0) {
          notices.querySelector('i').insertAdjacentHTML('afterend', `<span>${e.data.count}</span>`);
        }
      } else if (e.data.command == 'mail') {
        if (e.data.count > 0) {
          notices.insertAdjacentHTML('beforeend', `<span class="invert">${e.data.count}</span>`);
        } else {
          const invert = notices.querySelector('span.invert');
          if (invert) invert.parentNode.removeChild(invert);
        }
      }

      if (e.data.command == 'notices' || e.data.command == 'feeds' || e.data.command == 'mail') {
        if (!windowFocused && e.data.count) {
          if (title.indexOf('*') !== 0) {
            title = '* ' + title;
            docTitle.text = title;
          }
        } else {
          if (title.indexOf('*') == 0) {
            title = title.replace('* ', '');
            docTitle.text = title;
          }
        }
      }
    });

    window.addEventListener('focus', () => {
      if (title.indexOf('*') == 0) {
        title = title.replace('* ', '');
        docTitle.text = title;
      }
    });

    worker.port.start();
    worker.port.postMessage({
      command: 'connect',
      notices: notices.querySelector('span') ? parseInt(notices.querySelector('span').textContent, 10) : 0,
      feeds: feeds.querySelector('span') ? parseInt(feeds.querySelector('span').textContent, 10) : 0
    });

    window.onbeforeunload = function() {
      worker.port.postMessage({command: 'disconnect'});
      return null;
    };
  }
  
  function setupNotifications() {
    const giveMeNotifications = document.querySelector('#give_me_notifications');
    if (giveMeNotifications) {
      giveMeNotifications.value = (window.SharedWorker && !!localStorage['give_me_notification']).toString();
      giveMeNotifications.addEventListener('change', () => {
        if (giveMeNotifications.checked) {
          localStorage['give_me_notifications'] = giveMeNotifications.checked;
        } else {
          localStorage.removeItem('give_me_notifications');
        }
      });
    }
    
    if (window.current_user && window.SharedWorker && !!localStorage['give_me_notifications']) {
      initWorker();
    }
  }

  if (document.readyState !== 'loading') setupNotifications();
  else document.addEventListener('DOMContentLoaded', setupNotifications);
})();
