.editable .edit {
  position: relative;
  cursor: pointer;
  border-radius: 100%;
  padding: 3px 5px 3px 5px;
}
.editable .edit:hover {
  background: var(--block-hover-color);
}

.editable.editing .edit {
  display: none;
}
