.video .contextmenu {
  position: absolute;
  background: rgba(28,28,28,0.9);
  text-shadow: 0 0 2px rgba(0,0,0,.5);
  color: #eee;
  white-space: nowrap;
  list-style: none;
  border-radius: 2px;
  margin: 0;
  padding: 5px 0;
  min-width: 220px;
  opacity: 1;
  display: table;
  z-index: 300;
  overflow-x: hidden;
  transition: visibility .1s cubic-bezier(0,0,0.2,1),
              opacity    .1s cubic-bezier(0,0,0.2,1);
}
.video .contextmenu.hidden {
  opacity: 0;
}
.video .contextmenu li {
  display: table-row;
  cursor: pointer;
  margin: 0;
}
.video .contextmenu div {
  padding: 5px;
  display: table-cell;
  white-space: nowrap;
}
.video .contextmenu .value {
  text-align: right;
}
.video .contextmenu .label {
  width: 75%;
}
.video .contextmenu li:hover {
  background: rgba(255,255,255,0.2);
}
