
.floating-player .playback-controls {
  display: flex;
  background: var(--content-background);
  border-top: solid 1px var(--block-border-color);
  box-shadow: 0 0 3px var(--block-shadow-color);
  padding: 0 calc((100vw - var(--site-width)) / 2);
  transition: bottom 0.5s ease;
  
  --controls-foreground: #444;
}
.floating-player .playback-controls .fullscreen {
  display: none;
}

.floating-player.hiding .playback-controls {
  bottom: -100%;
}

.floating-player .playback-controls ul {
  margin: 5px;
  flex-grow: 1;
}

.floating-player .playback-controls .icon {
  border-radius: var(--block-radius);
  padding: 1px 10px;
  width: auto;
}
.floating-player .playback-controls .icon:hover {
  background: var(--block-hover-color);
}

.floating-player .player {
  position: fixed;
  top: 20px;
  right: 40px;
  transform: scale(1);
  transform-origin: top right;
  transition: transform 0.5s ease;
}

.floating-player .player > * {
  width: 12vw;
  max-width: 90vw;
  min-width: 150px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}

.floating-player.hiding .player {
  transform: scale(0);
}

@media(max-width: 500px) {
  .floating-player .player {
    transform: scale(0);
  }
}