.video, #upload .cover-block {
  display: block;
  width: 100%;
  --max-player-height: 100vh;
  --aspect-ratio: calc(16 / 9);
  padding-bottom: calc(min(var(--max-player-height), 100% / var(--aspect-ratio)));
  height: 0 !important;
  position: relative;
}
.video:fullscreen {
  padding: 0;
}

.video {
  background: #000 center/contain no-repeat;
  touch-action: pan-x pan-y;
}

.video .player, .video .player h1 a {
  color: #fff;
  text-decoration: none;
}

.video .player h1 {
  white-space: nowrap;
  opacity: 0.7;
  border: none;
  box-shadow: 0 50px 40px -40px #000 inset;
}

.video .player span.pause {
  display: inline-block;
  padding: 5px;
  width: 100%;
  overflow-x: hidden;
}

.video[data-state=playing] .player span.pause {
  opacity: 0;
}

.video .player span.playing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video[data-state=ready] .player span.playing {
  opacity: 0;
}

.video[data-state=playing] .player span.playing, .video.audio-only .player span.pause {
  opacity: 1;
}

.video[data-state=stopped] .player span.playing {
  display: none;
}

.video .player span.playing video {
  background: #000;
}

.video span.playing video {
  width: 100%;
  height: 100%;
}

.video:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
