.video .player h1,
.video .player::after {
  transition:
    opacity 0.25s linear,
    top 0.25s linear,
    left 0.25s linear,
    transform 0.25s ease;
}
.video .player.playing::after {
  transition:
    opacity 0.125s linear,
    transform 0.25s ease;
}

.video:not(.unplayable) .player::after {
  cursor: pointer;
  content: "\f04b";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background: #b00;
  color: #fff;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  text-align: center;
  line-height: 100px;
  font-size: 4em;
  font-family: 'FontAwesome';
  text-indent: 10px;
  opacity: 0.6;
}
.video .player:hover h1,
.video .player:hover::after {
  opacity: 0.99;
}

.video .player[data-state=error]::after,
.video .player[data-state=error] .suspend,
.video:not(.unplayable) .player[data-state=paused]::after {
  display: none;
}
.video:not(.unplayable) .player[data-state=stopped]::after {
  content: "\f01e";
  text-indent: 0;
}

.video:not(.unplayable) .player[data-state=playing]::after {
  cursor: default;
  transform: scale(0.25);
  top: 50px;
  left: 50px;
  opacity: 0;
}

@media(max-width: 500px) {
  .video:not(.unplayable) .player::after {
    transform: scale(0.65);
  }
}
