.video {
  --video-background-color: rgba(28,28,28,0.9);
  --video-preview-height: 70px;
  --video-preview-width: calc(var(--aspect-ratio) * var(--video-preview-height));
}

.video .previewer {
  pointer-events: none;
  transition:
    opacity 0.1s linear,
    visibility 0.1s linear,
    transform 0.1s linear;
  visibility: hidden;
  position: absolute;
  width: var(--video-preview-width);
  height: var(--video-preview-height);
  bottom: 40px;
  margin-left: calc(var(--video-preview-width) / -2);
  border-radius: 3px;
  opacity: 0;
  transform: scale(0);
  transform-origin: calc(var(--video-preview-width) / 2) 70px;
  background-color: var(--video-background-color);

  --frame-x: 0;
  --frame-y: 0;
  --static-frame: url(/images/default-cover-smaller-g.png);
  --tiled-frame: url('');
  background-size: 2000%,contain;
  background-image: var(--tiled-frame), var(--static-frame);
  background-position:
    calc(var(--frame-x) * var(--video-preview-width) * -1)
    calc(var(--frame-y) * var(--video-preview-height) * -1),
    top
    left;
}

.video .previewer:before {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  content: attr(data-time);
  z-index: 3;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 3px #000;
  opacity: 0.6;
  background-color: inherit;
  border-radius: inherit;
}
.video .previewer::after {
  content: '';
  position: absolute;
  bottom: -45px;
  left: calc(50% - 10px);
  border: solid 10px transparent;
  border-top-color: var(--video-background-color);
  opacity: 0.6;
}

.video .track:focus .previewer,
.video .track:hover .previewer {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition-delay: 0.3s;
}
