.video {
  --video-background-color: rgba(28,28,28,0.9);
}

.video .previewer {
  transition: opacity 0.1s linear, visibility 0.1s linear;
  visibility: hidden;
  position: absolute;
  width: 70px;
  height: 50px;
  background: var(--video-background-color);
  bottom: 20px;
  margin-left: -35px;
  border-radius: 3px;
  opacity: 0;
}

.video .previewer:before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: attr(data-time);
  z-index: 3;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 3px #000;
  opacity: 0.6;
}
.video .previewer::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 25px;
  border: solid 10px transparent;
  border-top-color: var(--video-background-color);
}
.video .previewer canvas,
.video .previewer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.video .track:hover .previewer {
  opacity: 1;
  visibility: visible;
}
