- title "Settings"
- lim "900px"
- can_api = @user == current_user && @token = ApiToken.for_user(@user)
%section.page.full-width.properties.tab-set
	%ul.tab-set.tabs
		%li.button{@tab_selection_hash[:profile]}(data-target="profile") Profile
		%li.button{@tab_selection_hash[:account]}(data-target="account") Account
		- if can_api
			%li.button{@tab_selection_hash[:api]}(data-target="api") API *
		%li.button{@tab_selection_hash[:filter]}(data-target="filter") Content & Filter
		%li.button{@tab_selection_hash[:commenting]}(data-target="commenting") Notifications
		%li.button{@tab_selection_hash[:local]}(data-target="local") Local
	.tab{@tab_selection_hash[:profile]}(data-tab="profile")
		%h1 Profile Information
		= render 'users/edit', user: current_user, url: "/users/#{current_user.id}", method: :patch
	.tab{@tab_selection_hash[:account]}(data-tab="account")= render 'account'
	- if can_api
		.tab{@tab_selection_hash[:api]}(data-tab="api")= render 'api'
	.tab{@tab_selection_hash[:filter]}(data-tab="filter")= render 'videos/feeds/filter_settings'
	= render 'notifications'
	= render 'settings/local'
