.comment {
  min-height: 100px;
  transition: visibility 0.5s ease,
              height 0.5s ease,
              opacity 0.5s ease;
}

.comment.deleted, .comment.deleted .content {
  min-height: 0;
}
.comment.deleted .content::before, .comment.deleted .content::after {
  display: none;
}
.comment.deleted .content {
  background: #fee;
  border-color: #a88;
}

.comment .bio {
  float: left;
  padding-right: 20px;
}

.comment .name {
  border-bottom: solid 1px rgba(0,0,150, 0.3);;
  margin-bottom: 10px;
}
.comment .name a {
  text-decoration: none;
  width: 100%;
}
.comment .name > a {
  color: #333333;
}

.comment .thumb .title {
  max-width: 185px;
}

.comment .content {
  transition: background 0.5s ease;
  position: relative;
  padding: 10px;
  margin-left: 70px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07) inset;
  background: rgb(255, 255, 250);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
  vertical-align: middle;
  min-height: 120px;
}
.comment.basic > .content {
  margin-left: 0;
}
.comment.highlight > .content {
  border-color: rgb(204,204,255);
  box-shadow: 0 0 12px rgba(0, 0, 255, 0.07) inset,
    0 0 15px -3px rgba(0,0,255,0.3);
}
.comment.highlight > .content::after {
  border-color: transparent #09f9f9 transparent transparent;
}
.comment .content::before {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: -20px;
  border: solid 10px;
  border-color: transparent rgb(204, 204, 204) transparent transparent;
}
.comment .content::after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: -19px;
  border: solid 10px;
  transition: border-color 0.5s ease;
  border-color: transparent rgb(247, 247, 247) transparent transparent;
}
.comment.basic > .content::before, .comment.basic > .content::after {
  display: none;
}

.comment .content .comment-content {
  resize: vertical;
  width: 100%;
  min-height: 120px;
  border: none;
  background: none;
}

label.focus .content {
  background: rgba(200,200,200,0.1);
}

label.focus .content::after {
  border-color: transparent rgb(241, 241, 241) transparent transparent;
}

.comment .content.editing .preview,
.comment .content textarea {
  display: none !important;
}
.comment .content.editing textarea {
  display: block !important;
}

.comment .comment-actions {
  float: right;
}

.comment .reply-comment {
  cursor: pointer;
  margin-left: 5px;
}

.comment .content .like {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  color: #337287;
}
.comment .content .like.liked,
.comment .content .like.liked:hover,
.comment .content .like.liked:active {
  color: #3372ff;
  border: none;
  background: none;
  text-shadow: none;
  box-shadow: none;
}
.comment .content .like.liked:active {
  color: #2362ef;
}

.comment .content .posting-spinner {
  display: none;
}
.comment .content.posting button.green {
  position: relative;
}
.comment .content.posting .posting-spinner {
  display: inline;
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
}
.comment .content.posting button.green span {
  opacity: 0;
}

.comment .name a.user-link {
  color: #337287;
}
.comment .artist-bio a.user-link::before,
.comment .name a.user-link::before {
  display: none;
}

.comment .artist-bio .tile {
  width: 180px;
}

.comment .name a.mention,
.comment a.mention {
  color: #ccc;
  font-size: 8px;
  display: inline-block;
  width: auto;
  padding-right: 3px;
}
