.comments {
  min-height: 340px;
}

.comment-list {
  padding: 0;
}
.comment-list .comments {
  min-height: 0;
  background: #fff;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: solid 1px #ccc;
  box-shadow: 0px 0px 12px #0000001a inset;
}
.comment-list li.comment {
  list-style: none;
  padding-bottom: 10px;
}
.comment-list li.comment .content:not(.editing) textarea ~ * {
  display: none;
}
.comment-list li.comment.hidden {
  min-height: 0;
  height: 0 !important;
  overflow: hidden;
  opacity: 0;
}
