form .progressor, form.uploading > :not(.uploaded-preview),
form.uploading .uploaded-preview.preview-selective > :not(.preview-selective-selected),
form.uploading .drop-icon, form.uploading input {
  display: none;
}

form.uploading .progressor {
  display: block !important;
  width: 100%;
  position: relative;
}
form.uploading .avatar ~ .progressor,
form.uploading .uploaded-preview + .progressor {
  padding-top: 0;
}

.progress {
  --stripe-color-one: rgba(255, 165, 0, 0.6);
  --stripe-color-two: rgba(255, 165, 0, 1);

  --status-tint: orange;
}
.error .progress {
  --status-tint: red;
}

.progressor .progress {
  position: relative;
  background: var(--block-hover-color);
  border-radius: 5px;
  height: 10px;
  margin-top: 10px;
  overflow-x: hidden;
}

.progress .fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--status-tint);
  width: 50%;
  text-align: right;
  vertical-align: top;
  line-height: 0px;
}

.waiting .progress .fill {
  animation: 1s linear infinite intermediate;
  background: repeating-linear-gradient(
    45deg,
    var(--stripe-color-one), var(--stripe-color-one) 30%,
    var(--stripe-color-two) 30%, var(--stripe-color-two) 71%,
    var(--stripe-color-one) 71%, var(--stripe-color-one) 100%
  );
  background: webkit-repeating-linear-gradient(
    45deg,
    var(--stripe-color-one), var(--stripe-color-one) 30%,
    var(--stripe-color-two) 30%, var(--stripe-color-two) 71%,
    var(--stripe-color-one) 71%, var(--stripe-color-one) 100%
  );
  background-size: 30px 100%;
}
