#upload {
  background: var(--content-background);
  transition: text-shadow 0.5s ease, background 0.5s ease;
  border-radius: var(--page-radius);
}
#upload:hover {
  background: var(--content-highlight);
  text-shadow: 0 0 50px #bbb;
}

#upload .playback-controls {
  --controls-background: #eee;
  --controls-border: #ccc;
  --bob-tint: var(--content-background);
  --bob-highlight: #efefef;
  --bob-outline: #bbb;
  --progress-fill-color: var(--bob-tint);

  opacity: 1;
  visibility: visible;
  margin: 0;
  box-shadow: none;
  padding: 15px;
  border: solid 1px var(--controls-border);
  border-top: none;
  background: var(--controls-background);
  bottom: auto;
  top: 100%;
}
#upload .playback-controls .icon,
#upload .playback-controls::before {
  display: none;
}

#upload .playback-controls ul {
    margin: 0;
}

#upload .playback-controls .track {
  margin: 0;
}

#upload .video {
  margin-bottom: 50px;
}

#upload .video .player::after {
  display: none;
}
