#upload {
  --hover-shadow: #bbb;
  background: var(--content-background);
  transition: text-shadow 0.5s ease, background 0.5s ease;
  border-radius: var(--page-radius);
}
#upload:hover {
  text-shadow: 0 0 50px var(--hover-shadow);
}
#upload:hover .file-select::before {
  background: var(--content-highlight);
}

#upload .playback-controls {
  --controls-background:  var(--block-emboss-color);
  --controls-border: var(--block-emboss-hover-color);
  --bob-tint: var(--content-background);
  --bob-highlight: #efefef;
  --bob-outline: #bbb;
  --progress-fill-color: var(--bob-tint);

  opacity: 1;
  visibility: visible;
  margin: 0;
  box-shadow: none;
  padding: 15px;
  border: solid 1px var(--controls-border);
  border-top: none;
  background: var(--controls-background);
  bottom: auto;
  top: 100%;
}
#upload .playback-controls .icon,
#upload .playback-controls::before {
  display: none;
}

#upload .playback-controls ul {
    margin: 0;
}

#upload .playback-controls .track {
  margin: 0;
}

#upload .ui:not(.drag-target) {
  margin: 0 10px;
}

#upload .video {
  margin-bottom: 50px;
}

#upload .video .player::after {
  display: none;
}

#upload #video-upload {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.uploader-frame-tab-bar {
  z-index: 60;
}

.uploader-frame-tab-bar + .tab .stick-top {
  top: 45px;
}