- cache(comment.reportable_name, expires_in: 1.minute) do
	%li.comment.transitional{class: comment.hidden && "deleted", id: "comment_#{comment.get_open_id}", "data-user": comment.user.username}
		= render partial: comment.hidden ? 'comments/guts_hidden' : 'comments/guts', locals: {comment: comment, indirect: indirect}
