%label.comment.basic.post-box
	.content.editing.previewable
		= render partial: "comments/edit_toolbar"
		.comment-content.preview
		= yield
		.actions
			%button.blue.state-toggle.button-fw(data-state="editing" data-parent=".previewable")>
				%span.on Preview
				%span.off Edit
