.content
	Comment Hidden
	- if user_signed_in? && current_user.is_contributor?
		%a.remove-comment{title: "Restore Comment", href: comment_path(comment, indirect: indirect), data: {id: comment.get_open_id, title: "Restore Comment", icon: "warning"}}
			= fa :trash
