/*Firefox(android)/Edge fix*/
html.android-mozilla .context-3d,
html.ms-edge .context-3d {
  /* perspective prevents rendering */
  perspective: none !important;
  -webkit-perspective: none !important;
  
  /* perspective-origin causes jumping */
  -webkit-perspective-origin: initial;
  perspective-origin: initial;
}
html.android-mozilla .layer-background .far,
html.android-mozilla .layer-background .near,
html.ms-edge .layer-background .far,
html.ms-edge .layer-background .near {
  transform: none !important;
}
html.android-mozilla .context-3d .layer-foreground,
html.ms-edge .context-3d .layer-foreground {
	position: absolute;
}
