%a.tiny-link.slider-toggle(href="#" data-target=".explanation") Search Syntax
.slideout.explanation.properties
	.group.active(style="padding:10px;white-space:normal")
		= render 'search/syntaxes/content'