#search
	%form(action="#{search_path}" method="get")
		%input#search_small(name="tagquery" type="search" placeholder="Tag Search" value="#{query}")
		%label.select
			%select#search_type_small(name="type")
				= sensible_option_for_select %w[ Song Album User Tag ], search_type
		%button(type="submit")= fa :search
