<h1>Searching for- Uh, oh!</h1>
<p class="center">
	<img class="iconic" style="max-height:200px;" src="/images/derpy.png"></img>
	<br>
	<% if @ditzy %>
	<%= derp %>
	<% else %>
	You searched for <u><%= @query %></u> but I don't know what that means. :'c
	<% end %>
</p>
<hr>
<p class="center red">
	<%= @derpy.message %>
</p>
