- title @query.length > 0 ? "Searching for #{@query}" : "Search"
.page.full-width
	= render @results.exception ? 'warden_derpy' : 'results' do
		= render partial: 'big_search', locals: { table: :videos }
