<% title @query.length > 0 ? "Searching for " + @query : "Search" %>
<div class="page full-width">
	<%= render partial: @derpy.nil? ? 'search/results' : 'search/warden_derpy' %>
</div>
<div class="page full-width resize-holder">
	<section>
		<h1 class="resize-target">
			<a>Search</a>
		</h1>
		<%= render partial: 'search/big_search' %>
	</section>
</div>