- title @query.length > 0 ? "Searching for #{@query}" : "Search"
.page.full-width= render @results.error ? 'warden_derpy' : 'results'
.page.full-width.resize-holder
	%section
		%h1.resize-target
			%a Search
		= render 'big_search'
