%section.page.full-width.recent-comments.resize-holder
	%h1.title.resize-target
		Comments (
		= number_with_delimiter @comments.count
		)
		%a.right{href: user_comments_path(@user)}
			View All
			= fa :chevron_right
	%ul.comment-list= render 'comments/set', thread: @comments.records, indirect: true
