%section.page.full-width.recent-favourites.resize-holder
	%h1.title.rasize-target
		Favourites (
		= number_with_delimiter @user.stars.album_items.count
		)
		%span.icon(title="Private - only you and moderators can see this.")= fa :lock
		%a.right(href="/stars")
			View All
			= fa :chevron_right
	%ul.horizontal.video-list#uploads= render partial: 'videos/thumb_h', collection: @user.stars.videos.limit(8)
