%section.page.full-width.resize-holder
	%h1 Statistics
	- cache(@user, expires_in: 30.minutes) do
		= render 'users/modules/stat_bar', records: @user.videos, title: 'Uploads'
		= render 'users/modules/stat_bar', records: @user.comments, title: 'Comments'
		= render 'users/modules/stat_bar', records: @user.votes, title: 'Votes'
		= render 'users/modules/stat_bar', records: @user.tag_histories, title: 'Tag Changes'
