%section.page.full-width.recent-uploads.resize-holder
	%h1.title.resize-target
		Uploads
		= surround '(', ')' do
			= number_with_delimiter @videos.count
		%a.right{href: user_uploads_path(@user)}
			View All
			= fa :chevron_right
	%ul.horizontal.video-list#uploads
		- if @videos.count > 0
			= render partial: 'videos/thumb_h', collection: @videos.records
		- else
			%li.generic.virtual.keep
