ul.horizontal {
  overflow: hidden;
  margin-bottom: -1px;
  display: flex;
  flex-wrap: wrap;
}
ul.horizontal > li.generic {
  display: inline-block;
  border-top: none !important;
  border-bottom: solid 1px rgba(0,0,0,0.2);
  padding: 10px;
  max-width: 235px;
  min-width: 190px;
  max-height: 250px;
  min-height: 140px;
  width: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
ul.horizontal > li.generic:hover {
  background: #fcfcfc;
}

ul.horizontal.center > li {
  text-align: left;
  float: none;
  display: inline-block;
}

@media(max-width: 650px) {
  ul.horizontal {
    text-align: center;
  }
  ul.horizontal li.generic {
    text-align: left;
  }
}

ul.horizontal, ul.queue, .controls ul, li.generic {
  list-style: none;
  padding: 0;
}
ul.horizontal > li + li {
  border-top: solid 1px rgba(0,0,0,0.2);
}
