.row.row-group
	.row
		%div(style="width:30px")
			%a.button.button-bub.disable= fa :pencil
		%div(style="color:#{static_item.colour}")
			%i.fa.fa-4x{class: "fa-#{static_item.icon}"}
		%div= static_item.title
		.center
			%i.fa.fa-times(title="false")
		%div
