/*Normalize*/
* {
  box-sizing: border-box;
}

/*Firefox Fix*/
button::-moz-focus-inner {
  border:0;
  padding:0;
}

/*Opera Fix*/
input:focus, textarea:focus, keygen:focus, select:focus {
  outline-offset:0;
}
html.opera body + div[is-visible] {
  display: none !important;
}

html.opera label div {
  position: relative;
}
html.opera label select {
  -webkit-appearance: none;
}
html.opera label div::after {
   align-items: center;
   pointer-events: none;
   font-family: "FontAwesome";
   content: '\f078';
   position: absolute;
   text-align: center;
   vertical-align: middle;
   line-height: inherit;
   font-size: 0.8em;
   top: 0;
   right: 0;
   bottom: 0;
   width: 18px;
   padding-top: 10px;
}
html.opera label:hover div::after {
   background: rgba(0,0,120,0.1);
}

/*Opera/Chrome fix */
:focus {
    outline: none;
}
/*=========*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  text-align: center;
  background: #f1f1f1;
  font-family: Verdana,sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 270px;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1, h2 {
  font-size: 1.25em;
  font-size-adjust: 0.75;
  -ms-text-size-adjust: 0.75;
  -webkit-text-size-adjust: 0.75;
  line-height: 1.06;
  text-shadow: 0 0.05em 0.03em rgba(0,0,0,0.3);
  font-weight: normal;
}
h1, .subheading {
  border-bottom: 1px solid rgba(0,0,150, 0.3);
}
h1 {
  padding-bottom: 15px;
}
h1, h1 a, h2, h2 a {
  color: rgb(102,102,184);
}
h3 {
 margin: 10px;
}

hr {
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* IE 10 IOS/Safari 8+ */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* IOS 4-7 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* IE */
textarea {
  overflow: auto;
}

/* IE9- */
audio,
video {
  display: inline-block;
}

/* IE10- */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/*Chrome*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*end normalize*/

div.group {
  overflow: hidden;
}

table, tr, td {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
}
table.auto, table.auto tr, table.auto td {
  table-layout: auto;
}

table {
  width: 100%;
}

.featured .scoring {
  text-align: center;
}
.featured .scoring span {
  display: inline-block;
  min-height: 0;
  padding: 5px;
  border-radius: 3px;
}
.featured .scoring .score {
  color: #000;
  border: 1px solid #d6d6d6;
  border-bottom-color: #cacaca;
  border-top-color: #e2e2e2;
  background: #f8f8f8;
}
.featured .scoring .like {
  color: #fff;
  border: 1px solid #699739;
  border-bottom-color: #638f36;
  border-top-color: #6fa03c;
  text-shadow: -1px -1px #699739;
  background: #7bb042 !important;
}
.featured .scoring .dislike {
  color: #fff;
  border: 1px solid #a73535;
  border-bottom-color: #9d3232;
  border-top-color: #b03838;
  text-shadow: -1px -1px #a73535;
  background: rgb(236, 72, 72) !important;
}
.featured .scoring .comments {
  color: #fff;
  border: 1px solid #3480b5;
  border-bottom-color: #3179ab;
  border-top-color: #3787bf;
  text-shadow: -1px -1px #3480b5;
  background: #3d95d3 !important;
}

.featured .description {
  overflow: hidden;
  max-height: 200px;
}
.featured .description img,
.featured .description div {
  display: none;
}

.post {
  width: 100%;
}
.post + .post {
  margin-top: 10px;
  border-top: 1px solid rgba(0,0,150, 0.3);
}
.post .avatar {
  float: left;
  max-width: 100%;
  max-height: 240px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.description a {
  font-weight: initial;
}
@media(min-width: 450px) {
  .artist-bio .post .title {
    margin-left: 240px;
  }
}

.genre-icon {
  float: left;
  color: #a66ebe;
}

.post .genre-icon {
  margin-right: 10px;
}

.tag-header {
  vertical-align: middle;
  height: 8em;
  padding-top: 1em;
}
.tag-header .title {
  font-size: 1.5em;
  padding: 0;
  line-height: 0.5em;
}

.post .tag-header {
  margin-left: 8em;
}

.post .subheading {
  margin-bottom: 10px;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: no-repeat center rgb(178,230,251);
}
.avatar span, .genre-icon i::before, .genre-icon i {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: no-repeat center/cover;
}
.avatar span {
  box-shadow: 0 0 10px -5px #000 inset, 0 0 1px 0 #000;
}
.avatar.large {
  width: 240px;
  height: 240px;
}
.avatar.medium {
  width: 60px;
  height: 60px;
}
.avatar.small {
  width: 30px;
  height: 30px;
}

.hovercard {
  position: absolute;
  transition: transform 0.5s ease;
  transform-origin: 0 0;
  transform: scale(0,0);
  top: 50%;
  left: 50%;
  z-index: 200;
  margin: -20px;
}
.post .hovercard .avatar {
  float: none;
  margin: 0px;
}
.hovercard li {
  list-style: none;
}
.user-link {
  position: relative;
}
.description .user-link, .comment-content .user-link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.description .user-link:before, .comment-content .user-link:before {
  content: '@';
}

.hovercard.shown {
  transform: scale(1,1);
}

.post > * {
  vertical-align: top;
}
.post .space-fix {
  display: block;
  overflow-y: hidden;
}
.post .actions, .post .details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(0,0,150, 0.3);
}
.post .post-tags {
  margin-top: 30px;
  padding-top: 10px;
}

.post-tags.editing .normal, .post-tags .editing {
  display: none;
}
.post-tags.editing .editing {
  display: block;
}
.tiny-link {
  font-style: italic;
  color: #aaa;
  font-weight: normal;
  font-size: 0.8em;
  text-decoration: none;
}

.tag-list, .date, .source, .tag-list a {
  font-size: 0.8em;
}
.tag-list > .overflow {
  display: none;
  border-bottom: none;
}
.tag-list.show-all > .overflow {
  display: inline;
}
.tag-list, .date, .source, .tag-list a, .underline a {
  font-style: italic;
  color: #aaa;
  text-decoration: none;
  font-weight: normal;
}
a.source {
  text-decoration: none;
}
.post .date {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 30px 40px 30px 40px;
}

.post .actions .liked, .post .actions .starred {
  color: #fff;
}

.post .actions .dislike.liked,
button.red, .button.red, input[type=submit].red {
  color: #fff;
  border: 1px solid #a73535;
  border-bottom-color: #9d3232;
  border-top-color: #b03838;
  text-shadow: -1px -1px #a73535;
  background: rgb(236, 72, 72) !important;
}

.post .actions .like.liked,
button.green, .button.green, input[type=submit].green {
  color: #fff;
  border: 1px solid #699739;
  border-bottom-color: #638f36;
  border-top-color: #6fa03c;
  text-shadow: -1px -1px #699739;
  background: #7bb042 !important;
}

button.blue, .button.blue, input.blue[type="submit"] {
    color: #fff;
    border: 1px solid #3480b5;
    border-bottom-color: #3179ab;
    border-top-color: #3787bf;
    text-shadow: -1px -1px #3480b5;
    background: #3d95d3 !important;
}

.post .actions .star.starred,
button.yellow, .button.yellow, input.yellow[type="submit"] {
  border: 1px solid #c7c739;
  border-bottom-color: #b7b736;
  border-top-color: #c7c73c;
  text-shadow: -1px -1px #c7c739;
  background: #e0e046;
}

div.tab, #upload .cover-block.tab {
  display: none;
}
div.tab.selected, #upload .cover-block.tab.selected {
  display: block;
}
ul.tab-set {
  padding: 0;
  list-style: none;
}
ul.tab-set li {
  display: inline-block;
}

.tab-set > .tab-set {
  overflow-y: hidden;
  background: rgba(100,100,120,0.1);
  padding: 15px 15px 0 15px;
  margin: -20px -20px 20px -20px;
}
.page.properties.tab-set > ul.tab-set {
  margin: 0 0 20px 0;
}

.tab-set > .tab-set .button {
  position: relative;
  border-bottom: none;
  border-radius: 0 ;
  box-shadow: 0 0 10px -5px rgba(0,0,0,0.3);
  margin-right: 10px;
}
.tab-set > .tab-set .button[data-disabled] {
  opacity: 0.3;
}
.tab-set > .tab-set .button::before,
.tab-set > .tab-set .button::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border: solid #f8f8f8;
  border-bottom-width: 30px;
  transition: border 0.5s ease;
}

.tab-set > .tab-set .button.selected::before,
.tab-set > .tab-set .button:hover::before {
  border-color: transparent #fff #fff transparent;
}
.tab-set > .tab-set .button.selected::after,
.tab-set > .tab-set .button:hover::after {
  border-color: transparent transparent #fff #fff;
}
.tab-set > .tab-set .button:active::before,
.tab-set > .tab-set .button::before {
  right: 100%;
  border-color: transparent #f8f8f8 #f8f8f8 transparent;
}
.tab-set > .tab-set .button:active::after,
.tab-set > .tab-set .button::after {
  left: 100%;
  border-color: transparent transparent #f8f8f8 #f8f8f8;
}

a {
  color: #337287;
  font-weight: bold;
  outline: none;
}
h1 a, h2 a {
  text-decoration: none;
  font-weight: inherit;
}

p {
  margin: 0px;
  padding: 15px;
}
hr {
  display: block;
  border: none;
  padding: 0px;
  margin: 10px 0;
  border-bottom: solid 1px #ccc;
}
p.foot {
  border-top: solid 1px #ccc;
}

header {
  position: relative;
  margin-bottom: 10px;
}
header ul {
  background: #fff;
  color: #aaa;
  font-weight: bold;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  height: 40px;
}
header ul > li {
  opacity: 0.6;
}
header ul > li:hover, header ul > li.selected {
  opacity: 1;
  transition: opacity 0.25s ease;
}
header ul li, header ul li a {
  font-size: 20px;
  display: inline-block;
  line-height: 40px;
  text-shadow: 0 0.05em 0.03em rgba(0,0,0,0.3);
  text-decoration: none;
  transition: color 0.05125s linear, background-color 0.05125s linear;
  vertical-align: middle;
  cursor: pointer;
}
header ul li {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 10px;
  color: #008;
}

header.header ul li a {
  margin-top: -5px;
  color: inherit;
}
header ul li:hover {
  background: #eee;
}
header ul.drop-down li {
  display: block;
  margin: 0;
  width: 100%;
  padding: 0;
}
header ul.drop-down li a {
  padding: 0 10px;
  width: 100%;
}
header ul.drop-down {
  padding: 0;
}
header .albums:hover:after, header .albums:hover,
header .albums.selected, header .albums.selected:after {
  background: #e6b91f;
}
header .artists:hover:after, header .artists:hover,
header .artists.selected, header .artists.selected:after {
  background: #e97135;
}
header .genres:hover:after, header .genres:hover,
header .genres.selected, header .genres.selected:after {
  background: #a66ebe;
}
header .forum:hover:after, header .forum:hover,
header .forum.selected, header .forum.selected:after {
  background: #6aaadd;
}
header ul li:hover, header ul li.selected {
  color: #fff;
}

#banner {
  height: 200px;
  background: url(../images/banner.png) no-repeat center left,
        url(../images/banner_b.png) center right #fff;
  transition: background-position 0.05s ease;
}
#banner-upload {
  width: 600px;
  height: 100px;
}
#banner .title {
  margin-top: 20px;
  height: 150px;
  max-width: 100%;
  overflow: hidden;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  float: left;
  font-size: 3em;
  padding: 20px;
  vertical-align: bottom;
  opacity: 0.65;
  text-decoration: none;
}
#banner .title img {
  float: left;
  max-width: 100%;
  height: 90px;
}

main {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 90%;
  min-height: 100%;
  max-width: 1300px;
}

footer, .push {
  height: 132px;
}

footer {
  position: relative;
  margin-top: 50px;
  color: #fff;
  background: #fff;
}
header ul li:after, header ul li.selected:after,
footer:before, header ul:after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  pointer-events: none;
}
header ul li:after {
  transition: opacity 0.5s linear;
  z-index: 200;
  opacity: 0;
}
header ul li:hover:after {
  z-index: 300;
}
header ul li:hover:after, header ul li.selected:after {
  opacity: 1;
}
footer::before, header ul::after {
  background: -webkit-linear-gradient(90deg, #6aaadd 0, #e6b91f 33%, #e97135 66%, #a66ebe 100%);
  background: -moz-linear-gradient(90deg, #6aaadd 0, #e6b91f 33%, #e97135 66%, #a66ebe 100%);
  background: -o-linear-gradient(90deg, #6aaadd 0, #e6b91f 33%, #e97135 66%, #a66ebe 100%);
  background: linear-gradient(90deg, #6aaadd 0, #e6b91f 33%, #e97135 66%, #a66ebe 100%);
}
footer::before {
  top: 0;
  opacity: 0.6;
}
header ul::before {
  bottom: 0;
}

footer > a {
  display: block;
  font-weight: bold;
  background: #ddd;
  color: #fff;
  padding: 5px;
  text-shadow: 0px 1px 3px #000;
  vertical-align: top;
  opacity: 0.3;
  text-decoration: none;
  border-bottom: solid 1px #aaa;
  font-size: 1.8em;
}
footer > div {
  line-height: 2.2em;
  font-size: 0.8em;
}
footer > div a, footer span {
  color: #aaa;
  padding: 5px;
  vertical-align: middle;
  text-decoration: none;
}

.page {
  position: relative;
  min-height: 100%;
  display: inline-block;
  background: white;
  padding: 20px;/*30px 40px 30px 40px;*/
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
div.page .positioner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 30px 40px 30px 40px;
}

.wrapper .page {
  vertical-align: top;
  margin: 10px;
  max-width: 100%;
}
.wrapper .wrapper.column-left,
.wrapper .page.column-left {
  width: 66%;
  margin-left: -5px;
  margin-right: 0px;
}
.wrapper .wrapper.column-right,
.wrapper .page.column-right {
  width: 33%;
  margin-right: -5px;
  margin-left: 0px;
}
.wrapper .wrapper {
   margin-left: 10px;
   margin-right: 10px;
}
.wrapper > .wrapper > .page {
   margin-left: 0;
   margin-right: 0;
}

.wrapper.auto-wrap,
.page.column-left.auto-wrap {
  position: relative;
  display: inline;
  background: none;
  box-shadow: none;
  margin: 0;
}
.column-left.auto-wrap > .page {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 0;
}
.column-right.wrap-around-fixed {
  position: relative;
  z-index: 1;
  margin-left: 15px !important;
  margin-top: 10px !important;
  margin-right: 0 !important;
}

.page img, .notice {
  max-width: 100%;
}

.notice {
  background: #95ffd5;
  color: #555;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0 #ccc;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

.notice::before {
  content: '\f05a';
  font-family: 'FontAwesome';
  padding-right: 5px;
}

.notices .notice {
  border-radius: 0;
  box-shadow: none;
}
.notices .notice + .notice {
  border-top: solid 1px #aaa;
}
.notices .notice:last-child {
  border-radius: 0 0 10px 10px;
}

button, .button, input[type=submit], .tag, .tag-editor {
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 0px 1px rgba(255,255,255,0.3) inset;
  border: 1px solid #d6d6d6;
  border-bottom-color: #cacaca;
  border-top-color: #e2e2e2;
  color: #303030;
  text-shadow: 1px 1px #fafafa;
  background: #f8f8f8;
  color: #333;
  transition: background 0.5s ease, border 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
  font-weight: initial;
  line-height: 20px;
}
.button-fw {
  min-width: 80px;
}

.split-button {
  display: inline-block;
  vertical-align: top;
}

.split-button > .action {
  display: block;
  float: left;
  line-height: inherit;
  padding-bottom: 6px;
}
.split-button .split-icon {
  border-radius: 2px 0 0 2px;
  border-right: none !important;
}
.split-action {
  border-radius: 0 2px 2px 0;
  padding-left: 6px;
}

.foobar {
  display: inline-block;
  border: solid 1px #aaa;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  color: #303030;
  background: #e6e6e6;
  color: #303030;
  font-weight: initial;
  line-height: 20px;
  opacity: 0.3;
  pointer-events: none;
}

textarea, input[type=text]:not(.tag), input[type=email], input[type=password], label.text-input {
  transition: background 0.5s ease;
  padding: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07) inset;
  background: rgb(255, 255, 250);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
  vertical-align: middle;
  font-family: MS Shell Dlg \32, monospace;
  font-size: 13.3333px;

}

.auto-lookup.invalid input {
  position: relative;
  background: #fcc !important;
  border-color: #a88;
}
.auto-lookup.invalid::after {
  content: 'Error: Invalid input';
  content: attr(data-message);
}

.content.editing textarea {
  padding: 8px;
  color: #444;
  border: solid 1px #ccc;
  font-size: 1.1em;
  vertical-align: middle;
  border-radius: 2px;
  min-height: 35px;
  font-family: Verdana,sans-serif;
  box-shadow: none;
}

.search-options {
  display: block;
}

.search-options label {
  display: inline-block;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #444;
  border-radius: 2px;
  width: 300px;
}

@media(max-width: 400px) {
  .search-options label {
    width: 100%;
  }
}

.search-options label, input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus, label.text-input.focus {
  transition: background 0.125s ease;
}

.search-options label.focus, input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus, label.text-input.focus {
  background: rgba(200,200,200,0.1);
}

label.text-input {
  display: block;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

label[data-prefix]::before {
  content: attr(data-prefix);
}

label.text-input input[type=text] {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
  display: inline;
  width: auto;
  line-height: inherit;
}

.search-options label span:first-child {
  width: 90px;
  display: table-cell;
  min-width: 90px;
  padding: 10px;
  background: rgba(200,200,200,0.1);
  border-right: 1px solid #ccc;
  font-size: 0.9em;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.search-options label div {
  width: 100%;
  display: table-cell;
}

.search-options input, .search-options select {
  border: none;
  background: none;
  color: inherit;
  outline: none;
  padding: 11px;
}

select[disabled] {
  background: #eee;
  color: #aaa;
}
label[disabled] span::after {
  content: '\f023';
  font-family: 'FontAwesome';
  padding-left: 5px;
}

.search-result {
  min-height: 500px;
}

button, .button, .foobar, input[type=submit] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
button.right, .foobar.right, .button.right, input[type=submit].right {
  margin-left: 5px;
}

button:hover, .button:hover, button.selected, .button.selected, input[type=submit].selected {
   background: #fff;
}

button:active, .button:active, input[type=submit]:active {
   background: #f8f8f8;
   box-shadow: 0 0 5px 0 rgba(0,0,0,0.3) inset;
}

button.disable, .button.disable, button.working, .button.working {
  opacity: 0.6;
  pointer-events: none;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1) inset;
}

input, select {
  border: none;
}

.select {
  position: relative;
  width: 100px;
  overflow: hidden;
}
.select select {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150%;
  height: 100%;
  background: none;
  -webkit-appearance: none;
}
.select::before {
  content: "\f078";
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  font-family: "FontAwesome";
  line-height: 1.5em;
  pointer-events: none;
}

label input[type=radio] {
  display: none;
}
label input[type=radio] + i::before {
  content: '\f10c';
  background: #fff;
  border-radius: 100%;
  font-size: 110%;
  color: rgba(0,0,150, 0.3);
}
label input[type=radio]:checked + i::before {
  content: '\f192';
}

.link input[type=checkbox],
label.button input[type=checkbox] {
  display: none;
}
label input[type=checkbox]:not(:checked) + i,
label input[type=checkbox]:checked + i + i {
  display: none;
}

.link {
  cursor: pointer;
  color: #f05;
}
.link:hover {
  text-decoration: underline;
}

.banner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
}

.banner-overlay > div {
  position: relative;
  display: inline-block;
  float: right;
  background: rgba(255,255,255,0.8);
  padding: 10px;
  z-index: 999;
}
#login {
   border-radius: 0 0 0 10px;
}
#search {
  margin-right: 10px;
  border-radius: 0 0 10px 10px;
}
#search:hover {
  background: #fff;
}
#search > form > * {
  display: inline-block;
  padding: 5px 15px;
  color: #337287;
  transition: background 0.5s ease;
  background: none;
  border: none;
  box-shadow: none;
  float: left;
  margin: 0;
}
#search > form > * {
  height: 33px;
  min-height: 33px;
  line-height: 33px;
  font-size: 1.25em;
}
#search button {
  border: none;
  line-height: 33px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0;
  color: #337287;
}
#search > :focus, #search > .focus {
  background: rgb(250,250,250);
}

#search input, #search .select {
  border-right: none;
}

#login.drop-down-holder:hover,
#login.drop-down-holder.hover {
  background: #fff;
}
#login ul, #login ul li, #login ul li a {
  color: #337287;
  text-shadow: none;
}
#login img {
   max-height: 30px;
   border-radius: 100%;
}
#login .username {
  text-decoration: none;
  line-height: 33px;
  float: left;
  margin-right: 20px;
  font-size: 1.25em;
  max-width: 300px;
  max-height: 33px;
  overflow: hidden;
}
#login .notices-bell {
  position: relative;
  line-height: 33px;
  text-decoration: none;
  font-size: 1.25em;
  margin-right: 20px;
  float: left;
}
#login .notices-bell span {
  position: absolute;
  top: -3px;
  left: 60%;
  display: block;
  background: #f00;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 4px;
  font-size: 10px;
  padding: 3px;
  line-height: 1em;
  vertical-align: middle;
  animation: 1s bobben 0s 1;
  -webkit-animation: 1s bobben 0s 1;
}
#login .notices-bell span.invert {
  top: auto;
  bottom: -3px;
  margin-bottom: 0 !important;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
#login .notices-bell span.vert {
  left: auto;
  right: 60%;
  animation-delay: 0.15s;
  -webkit-animation-delay: 0.15s;
}
#login .notices-bell span.invert.vert {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

#login .drop-down::before {
  content: '';
  border: solid 10px #fff;
  border-bottom: none;
  display: block;
  width: 0;
  height: 0;
  border-radius: 15px;
  margin-top: -10px;
}
.logged-out #login {
  min-width: 120px;
}
.logged-out #login a {
  text-decoration: none;
  font-size: 1.25em;
  line-height: 34px;
}

.drop-down {
  margin-top: -1px;
  position: absolute;
  right: 0;
  top: 100%;
  min-width: 130px;
  display: none;
  text-align: left;
  height: initial;
}
.drop-down-holder:hover .drop-down,
.drop-down-holder.hover .drop-down {
  display: block;
}

.drop-down li {
  opacity: 1;
  background: #fff;
}
.drop-down li a {
  font-size: 13px;
}
.drop-down li:hover {
  color: #008;
}

.editable.editing {
  display: block;
  position: relative;
}
.editable .input {
  display: none;
  background: none;
  border: none;
  outline: solid 2px #aaa;
  width: 100%;
  max-width: 100%;
  resize: none;
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-shadow: inherit;
  padding: 0;
  margin: 0;
}
.editable.short.editing .input {
  width: auto;
}
.editable input.input {
  margin-top: -8px;
  margin-bottom: -3px;
}
.editable.editing .input {
  display: inline;
}
.editable.editing .content {
  display: none;
}
.editable .edit {
  cursor: pointer;
  padding: 3px 5px 3px 5px;
}
.editable.editing .edit {
  position: absolute;
  right: -20px;
  top: 0;
}

.comments {
  min-height: 340px;
  padding: 0;
}
.comments li.comment {
  list-style: none;
  padding-bottom: 10px;
}
.comments li.comment .content:not(.editing) textarea ~ * {
  display: none;
}


.comment {
  min-height: 100px;
}

.comment.deleted, .comment.deleted .content {
  min-height: 0;
}
.comment.deleted .content::before, .comment.deleted .content::after {
  display: none;
}
.comment.deleted .content {
  background: #fee;
  border-color: #a88;
}

.comment .bio {
  float: left;
  padding-right: 20px;
}

.comment .name {
  border-bottom: solid 1px rgba(0,0,150, 0.3);;
  margin-bottom: 10px;
}
.comment .name a {
  text-decoration: none;
  width: 100%;
}
.comment .name > a {
  color: #333333;
}

.comment .thumb .title {
  max-width: 185px;
}

blockquote {
  background: rgba(0,250,250, 0.3);
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
  border: dotted 1px #eee;
}

.spoiler {
  padding: 1px;
  display: inline-block;
  background: #858585;
  color: #858585;
  text-shadow: none;
}
.spoiler * {
  opacity: 0;
}
.spoiler .img {
  background: #fff;
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;
  opacity: 0.1;
}
.spoiler .img::after {
  font-family: 'FontAwesome';
  position: absolute;
  display: block;
  top: 45%;
  left: 0;
  content: '\f071';
  color: #000;
  text-align: center;
  width: 100%;
  line-height: 100%;
  font-size: 40px;
}

.spoiler:hover .img::after, .spoiler.revealed .img::after {
  display: none;
}
.spoiler:hover .img, .spoiler.revealed .img,
.spoiler:hover, .spoiler.revealed {
  text-shadow: inherit;
  color: inherit;
  background: none;
}
.spoiler:hover *, .spoiler.revealed * {
  opacity: 1;
}
.spoiler.revealed {
  background: #e5e5e5;
}

.comment .content {
  transition: background 0.5s ease;
  position: relative;
  padding: 10px;
  margin-left: 70px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07) inset;
  background: rgb(255, 255, 250);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
  vertical-align: middle;
  min-height: 120px;
}
.comment.basic > .content {
  margin-left: 0;
}
.comment.highlight > .content blockquote {
  background: rgba(0,250,250, 1.3);
}
.comment.highlight > .content {
  border-color: rgb(204,204,255);
  box-shadow: 0 0 12px rgba(0, 0, 255, 0.07) inset,
    0 0 15px -3px rgba(0,0,255,0.3);
}
.comment.highlight > .content::after {
  border-color: transparent #09f9f9 transparent transparent;
}
.comment .content::before {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: -20px;
  border: solid 10px;
  border-color: transparent rgb(204, 204, 204) transparent transparent;
}
.comment .content::after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: -19px;
  border: solid 10px;
  border-color: transparent rgb(247, 247, 247) transparent transparent;
}
.comment.basic > .content::before, .comment.basic > .content::after {
  display: none;
}

.comment .content .comment-content {
  resize: vertical;
  width: 100%;
  min-height: 120px;
  border: none;
}

.comment .content.editing .preview, .comment .content textarea {
  display: none;
}
.comment .content.editing textarea {
  display: block;
}
.comment .edit-comment, .comment .remove-comment, .comment .reply-comment {
  float: right;
  cursor: pointer;
  margin-left: 5px;
}

.comment .content .like {
  float: right;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  color: #337287;
}
.comment .content .like.liked {
  color: #3372ff;
}
.comment .content .like:active {
  box-shadow: none;
}

.comment .content .posting-spinner {
  display: none;
}
.comment .content.posting button.green {
  position: relative;
}
.comment .content.posting .posting-spinner {
  display: inline;
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
}
.comment .content.posting button.green span {
  opacity: 0;
}

.comment .name a.user-link {
  color: #337287;
}
.comment .name a.mention,
.comment a.mention {
  color: #ccc;
  font-size: 8px;
  display: inline-block;
  width: auto;
  padding-right: 3px;
}

.comment .resolution-status {
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07) inset;
}
.comment.closed .resolution-status {
  background: rgb(236, 72, 72);
  border: 1px solid #a73535;
  border-bottom-color: #9d3232;
  border-top-color: #b03838;
  text-shadow: -1px -1px #a73535;
  color: #fff;
}
.comment.resolved .resolution-status {
  background: #7bb042;
  border: 1px solid #699739;
  border-bottom-color: #638f36;
  border-top-color: #6fa03c;
  text-shadow: -1px -1px #699739;
  color: #8f8;
}
.comment.closed .resolution-status .fa-inverse {
  color: rgb(236, 72, 72);
}
.comment.resolved .resolution-status .fa-inverse {
  color: #7bb042;
}

.toolbar {
  border-bottom: solid 1px #ccc;
  margin-top: -5px;
}

.toolbar .button-group {
  display: inline-block;
  padding: 0;
  margin: 5px;
}
.toolbar .button-group + .button-group {
  border-left: 1px solid rgba(0,0,255,0.1);
  padding-left: 5px;
  margin-left: 0;
}

#emoticons {
  max-height: initial;
  left: -120px;
  overflow-x: hidden;
  padding: 10px;
  text-align: center;
  white-space: initial;
  min-width: 270px;
}
#emoticons li {
  background: none;
  overflow: hidden;
  width: 37px;
  height: 37px;
  display: inline-block;
  list-style: none;
  padding: 5px;
  border-radius: 100%;
  transition: background 0.5s ease;
  line-height: 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.toolbar .button, .button.button-bub {
  line-height: 27px;
  border: none;
  background: none;
  border-radius: 100%;
  padding: 5px;
  width: 37px;
  height: 37px;
  text-align: center;
}
.toolbar .button:hover, .toolbar .button.pop-out-shown,
.button.button-bub:hover, .button.button-bub.pop-out-shown,
#emoticons li:hover {
  background: #eee;
}
.button.button-bub.subscribe {
  margin-top: -10px;
  color: #ccc;
}
.button.button-bub.subscribe .fa.fa-check {
  color: #00f;
}
.button.button-bub.subscribe .fa.fa-bell-slash {
  color: #f00;
}

.mail_derpy {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  border: none;
}
.mail_derpy .derpy {
  background: url(/images/mail_1.png) center/contain no-repeat;
  height: 200px;
}

.popper .pop-out {
  margin-top: 10px;
  border-radius: 5px;
}
.popper.pop-left #emoticons {
  right: 0;
  left: auto;
}
.popper.pop-right #emoticons {
  left: 0;
  right: auto;
}


.pop-out-shown::before,
.pop-out-shown::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  z-index: 999;
}

.pop-out-shown::before {
  margin-left: -12px;
  border-bottom: 12px solid #d6d6d6;
}
.pop-out-shown::after {
  margin-left: -12px;
  margin-bottom: -1px;
  border-bottom: 12px solid #fff;
}

.split-button.pop-out-shown::before,
.split-button.pop-out-shown::after {
  bottom: -12px;
}
.split-button.pop-out-shown > .pop-out {
  margin-top: 12px;
}

.pop-out-shown.invert .pop-out {
  bottom: 100%;
  top: auto;
}
.pop-out-shown.invert::before,
.pop-out-shown.invert::after {
  border-bottom: none;
  top: -1px;
}
.pop-out-shown.invert::before {
  border-top: 12px solid #d6d6d6;
  margin-top: 1px;
}
.pop-out-shown.invert::after {
  border-top: 12px solid #fff;
  margin-bottom: 0;
}

ul.notifications {
  list-style: none;
  padding: 20px;
}
.notification {
  border: solid 1px rgba(0,0,0,0.1);
}
.notification + .notification {
  border-top: none;
}
.notification a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-weight: initial;
}
.notification .remove {
  color: #e00;
}
.notification .action {
  color: #88e;
}
.notification:hover {
  background: rgb(250,250,250);
}
.notification.unread {
  background: rgba(200,250,200,0.6);
}
.notification::before {
  font: normal normal normal 14px/1 FontAwesome;
  display: block;
  float: left;
  padding: 10px;
  color: #337287;
}
.notification[class*=comments_]::before {
  content: "\f064";
}
.notification[class*=reports_]::before {
  content: "\f11e";
}
.notification[class*=comment_threads_]::before {
  content: "\f075";
}

img.iconic, img.emoticon {
  background: none;
  border: none;
  box-shadow: none;
}

.icon {
  cursor: default;
}
.action .icon {
  cursor: pointer;
}

img.emoticon {
  max-height: 20px;
  margin: 0 -5px 0 0;
  padding: 0 1px 0 1px;
  vertical-align: middle;
}

.popup-container {
  position: absolute;
  min-width: 25%;
  max-width: 80%;
  text-align: left;
  z-index: 999;
}
.popup-container .properties {
  width: 800px;
  max-width: 100%;
}
.popup-container .loader {
  width: 100%;
  text-align: center;
  font-size: 50px;
  line-height: 200px;
  height: 200px;
  color: #ddd;
}
.popup-container .popup {
  transition: box-shadow 0.35s linear;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
}
.popup-container.focus .popup {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
.popup-container .popup .content {
  background: #fff;
  min-height: 100px;
  min-width: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup-container .popup .content .message_content {
  padding: 10px 20px;
  min-height: 50px;
}
.popup-container .popup .content .foot {
  display: block;
  overflow: hidden;
  background: rgba(180,180,180,0.1);
  padding: 10px;
}
.popup-container .popup > h1 {
  border: none;
  cursor: move;
  background: #fff;
  position: relative;
  margin: 0;
  padding: 15px;
  font-size: 15px;
}
.popup-container .popup h1 > .fa {
  margin-right: 5px;
}
.popup-container .popup .close {
  float: right;
  cursor: pointer;
  color: inherit;
}
.popup-container .popup .close::before {
  font-family: "FontAwesome";
  content: "\f00d";
  color: inherit;
  font-size: 18px;
}

.popup-container.thin,
.popup-container.thin .popup .content {
  min-width: 300px;
}

.popup-container.thin .popup > h1 {
  border-bottom: 1px solid rgba(0,0,150, 0.3);
}

.fades > div:first-child {
  transition: opacity 0.25s linear;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.2);
  z-index: 998;
}

.fade-away {
  position: relative;
}
.fade-away::after {
  pointer-events: none;
  position: absolute;
  content: '';
  bottom: 0;
  height: 50%;
  right: 0;
  left: 0;
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
}

.right {
  float: right;
}
.left {
  float: left;
}

.center {
  text-align: center;
}

.small {
  font-size: 25%;
}

.paginator .pagination {
  text-align: center;
}

.waiting {
  position: relative;
  opacity: 0.2;
  transition: opacity 0.5s ease;
}
.waiting::after {
  content: '\f110';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
  font: normal normal normal 24px/1 FontAwesome;
}

.underline > span, .underline a {
  border-bottom: dotted 1px #aaa;
}

.donate div {
  position: relative;
  background: url('../images/index.gif') center / 100%;
  padding-bottom: 100%;
  image-rendering: crisp-edges;
}
.donate div::after {
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  padding: 5px;
  font-size: 50%;
  background: rgba(255,255,255,0.3);
  content: 'Pssst, hey. Hey you. If you like what you see, maybe you should consider donating to keep this site running? kthanks.';
  text-decoration: none;
}
.donate div:hover::after {
  opacity: 1;
}

.staff {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: -10px;
}

li.bio, li.genre {
  float: left;
  margin: 10px;
  width: 200px;
  text-align: center;
  min-height: 320px;
  overflow: hidden;
}
li.bio > *, li.genre {
  vertical-align: middle;
  
}
li.bio, li.genre {
  background: #fff;
  border: solid 1px #ccc;
  box-shadow: 1px 1px 1px 0 #ccc;
  padding: 10px;
}

li.genre {
  min-height: 150px;
}

.bio a, .genre a {
  text-decoration: none;
}
li.bio h2, li.genre h2 {
  text-decoration: none;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  line-height: 25px;
}

.bio.short {
  vertical-align: top;
}

.staff li > div {
  padding: 10px;
}

.modal {
  padding: 0px;
  border-radius: 5px;
  text-align: center;
}
.modal form, .tiny-foot {
  padding: 20px;
}
.modal .label {
  font-weight: bold;
  line-height: 35px;
}
.modal input:not([type=checkbox]) {
  width: 100%;
}
.modal .actions {
  padding-top: 10px;
}
.tiny-foot {
  background: #efefef;
}
.tiny-foot a {
  text-decoration: none;
  font-size: 0.85em;
}

.page.properties {
  padding: 0;
}
.page.properties h1 {
  margin: 20px;
}
.properties table {
  table-layout: auto;
  width: 100%;
}
.properties tr td {
  padding: 10px;
  border-top: solid 1px #eee;
}
.properties td.label {
  background: rgba(180,180,180,0.1);
  width: 25%;
  border-right: solid 1px #eee;
}
.properties td.field {
  width: 75%;
}
.properties td.field textarea,
.properties td.field input[type=text],
.properties td.field input[type=email],
.properties td.field input[type=password],
.properties td.field label.text-input {
  width: 100%;
}
.properties td.field textarea {
  resize: vertical;
}
.properties .section {
  font-weight: bold;
}

.properties.ribbed tr:nth-child(2n + 1) {
  background: rgba(240,240,255,0.1);
}

.slide-group {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.slide-group .group {
  transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  -webkit-transform: translate(0%, 0);
  -moz-transform: translate(0%, 0);
  transition: transform 0.5s ease;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 0;
}
.slide-group .slide-switch {
  cursor: pointer;
}
.slide-group.animating .group, .slide-group .group.active {
  height: initial;
}

form .progressor, form.uploading > :not(.uploaded-preview),
form.uploading .drop-icon, form.uploading input {
  display: none;
}
form.uploading .progressor {
  display: block;
  width: 100%;
  padding-top: 25%;
  position: relative;
}
form.uploading .avatar ~ .progressor,
form.uploading .uploaded-preview + .progressor {
  padding-top: 0;
}
form.uploading .progressor + div {
  display: block;
  position: absolute;
  width: 50%;
  left: 50%;
  top: 10%;
  margin-left: -25%;
}
.progressor .progress {
  position: relative;
  background: #eee;
  border-radius: 5px;
  height: 10px;
  margin-top: 10px;
  overflow-x: hidden;
}
.progress .fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: orange;
  width: 50%;
  text-align: right;
  vertical-align: top;
  line-height: 0px;
}
form.error .progress .fill {
  background: red;
}

form.waiting .progress .fill {
  background: orange;
  animation: 1s linear infinite intermediate;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 165, 0, 0.6), rgba(255, 165, 0, 0.6) 30%,
    rgba(255, 165, 0, 1) 30%, rgba(255, 165, 0, 1) 71%,
    rgba(255, 165, 0, 0.6) 71%, rgba(255, 165, 0, 0.6) 100%
  );
  background: webkit-repeating-linear-gradient(
    45deg,
    rgba(255, 165, 0, 0.6), rgba(255, 165, 0, 0.6) 30%,
    rgba(255, 165, 0, 1) 30%, rgba(255, 165, 0, 1) 71%,
    rgba(255, 165, 0, 0.6) 71%, rgba(255, 165, 0, 0.6) 100%
  );
  background-size: 30px 100%;
}

@keyframes intermediate {
  0% {background-position: 0 0;}
  100% {background-position: 30px 0;}
}
@-moz-keyframes intermediate {
  0% {background-position: 0 0;}
  100% {background-position: 30px 0;}
}
@-webkit-keyframes intermediate {
  0% {background-position: 0 0;}
  100% {background-position: 30px 0;}
}
@-o-keyframes intermediate {
  0% {background-position: 0 0;}
  100% {background-position: 30px 0;}
}

.progressor div.message, .bobber {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 3px 0px #aaa;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: #888;
  padding: 10px;
  bottom: 20px;
  left: 50%;
  margin-left: -54px;
  z-index: 20;
}
.bobber::after {
  position: absolute;
  content: '';
  display: block;
  border: solid 10px;
  border-color: #fff transparent transparent transparent;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
}
.bobber::before {
  position: absolute;
  content: '';
  display: block;
  border: solid 10px;
  border-color: #bbb transparent transparent transparent;
  bottom: -21px;
  left: 50%;
  margin-left: -10px;
}
.bob-holder {
  position: relative;
  display: block;
  float: right;
}
.bob-holder .bobber {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease, margin-bottom 0.5s ease;
  bottom: 100%;
  left: 0;
  margin-left: -120px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.bobber.bob-left {
  left: auto;
  right: 0;
}
.bobber.bob-left:before,
.bobber.bob-left:after {
  left: auto;
  right: 30px;
}
.bobber.bob-right {
  left: 0;
  margin-left: 0;
}
.bobber.bob-right:before,
.bobber.bob-right:after {
  left: 30px;
}
.bob-holder:hover .bobber {
  opacity: 1;
  margin-bottom: 16px;
}

.bob-holder.notify .bobber {
  display: none;
}
.bob-holder.notify.shown input {
  opacity: 0.5;
  pointer-events: none;
}
.bob-holder.notify.shown .bobber {
  display: block;
}

span.active-icon {
  position: relative;
  padding: 0;
  margin: 0;
  border: none !important;
}
.active-icon::before {
  display: block;
  content: '';
  background: rgb(255, 72, 72);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3) inset, 0 0 0 2px #eee;
}
.active-icon.active::before {
  background: #7bff42;
}

#upload {
  background: #fff;
  transition: text-shadow 0.5s ease, background 0.5s ease;
}
#upload:hover {
  background: #fef;
  text-shadow: 0 0 50px #bbb;
}
.image-selector {
  overflow: hidden;
  position: relative;
}
.image-selector .preview {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center/cover;
}
.file-select input {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  opacity: 0;
}
.hidden {
  display: none !important;
}
.pop-out-shown .pop-out, .pop-out.shown {
  display: block !important;
}
.file-select {
  text-align: center;
  line-height: 1em;
}
.drop-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -3em;
  transition: color 0.25s ease;
  color: rgba(102,102,184,0.6);
}
.avatar.image-selector .drop-icon {
  margin-top: -2em;
  display: none;
}
.avatar.image-selector:hover .drop-icon {
  display: block;
}
.drag .drop-icon {
  color: #fff;
}
.drop-icon i {
  position: relative;
  font-size: 60px;
}
.drop-icon div {
  font-weight: bold;
  margin-top: 10px;
}
.drop-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  opacity: 0;
  content: '';
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  background: rgba(102,102,184,0.6);
  transition: transform 0.25s ease, opacity 0.25s ease;
}
.drag .drop-icon::before {
  opacity: 1;
  transform: scale(1.5,1.5);
}

#upload .controls {
  opacity: 1;
  margin-bottom: -50px;
}
#upload .track {
  width: calc(100% - 20px);
  background: rgba(0,0,0,0.1);
}
#upload .video {
  margin-bottom: 50px;
}

.tag-editor {
  display: block;
  position: relative;
  padding: 0;
  box-shadow: inset 0 0 5px 0px #faf;
  cursor: text;
}
.tag-editor .value {
  display: none;
}
.tag-editor .tag.input {
  display: inline;
  min-width: 50%;
  max-width: 80%;
  width: initial !important;
  border: none;
  background: none;
}

.tags {
  display: inline;
  margin: 0;
  padding: 0;
}
.tag {
  text-shadow: 1px 1px rgba(255,255,255,0.3);
  margin: 2px;
}

.tag a {
  text-decoration: none;
  color: #000;
  font-weight: initial;
}

.tag-editor .tag .remove {
  vertical-align: middle;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  background: #faa;
  margin-right: 15px;
  margin-left: -6px;
  border-radius: 100%;
  text-align: center;
  line-height: 1.5em;
  color: #f8f8f8;
  text-shadow: none;
  cursor: pointer;
  font-size: 1em;
  opacity: 0.8;
}
.tag-editor .tag .remove:hover {
  opacity: 1;
}

.tags.artist-tags {
  display: inline-block;
  border-right: solid 1px rgba(0,0,150, 0.3);
  padding-right: 10px;
  margin-right: 5px;
}
.tags.artist-tags .tag {
  border-color: rgba(0,0,150, 0.3);
  float: initial;
  display: inline-block;
}

.tag-artist {
  background: #f2fdab;
  border-color: #82ad2b;
}
.tag-artist a, .tag-artist span {
  color: #82ad2b;
}
.tag-genre {
  background: #a2a6d4;
  border-color: #363b74;
}
.tag-genre a, .tag-genre span {
  color: #363b74;
}
.tag-oc {
  background: #b1cee2;
  border-color: #4c90bd;
}
.tag-oc a, .tag-oc span {
  color: #4c90bd;
}
.tag-spoiler {
  background: #f8d2c0;
  border-color: #e97136;
}
.tag-spoiler a, .tag-spoiler span {
  color: #e97136;
}

.tag[data-slug="artist needed"], .tag[data-slug="source needed"] {
  background: #f99;
  border-color: #f80808;
}
.tag[data-slug="artist needed"] a, .tag[data-slug="source needed"] a,
.tag[data-slug="artist needed"] span, .tag[data-slug="source needed"] span {
  color: #d00;
}

.popper {
  position: relative;
}
.tag-editor .pop-out, .popper .pop-out {
  white-space: nowrap;
  display: none;
  position: absolute;
  background: #fff;
  z-index: 999;
  list-style: none;
  padding: 0;
  box-shadow: 0px 1px rgba(255,255,255,0.3) inset;
  border: 1px solid #d6d6d6;
  border-bottom-color: #cacaca;
  border-top-color: #e2e2e2;
  width: 100%;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 300px;
}
.tag-editor .pop-out {
  margin: 0 0 0 2px;
}
.popper .pop-out {
  text-align: left;
  left: 0;
  top: 100%;
  margin: 0;
}
.popper .pop-out li {
  cursor: pointer;
}
.popper .pop-out li .icon {
  display: inline-block;
  width: 30px;
}
.popper .pop-out li a {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  font-weight: inherit;
  margin: -10px;
  padding: 10px;
}
.pop-out, .pop-out li, .pop-out li .label {
  overflow-x: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.tag-editor .pop-out li, .popper .pop-out li {
  padding: 10px;
}
.tag-editor .pop-out li:nth-child(2n+1), .popper .pop-out li:nth-child(2n+1) {
  background: #fff;
}
.tag-editor .pop-out li:nth-child(2n), .popper .pop-out li:nth-child(2n) {
  background: #f8f8ff;
}
.tag-editor .pop-out li:hover, .popper .pop-out li:hover {
  background: #eee;
}

.drop-down.pop-out {
  min-width: 100%;
  width: auto;
  right: auto;
}
.drop-down.pop-out span {
  color: inherit;
}

h1.banned, h2.banned, a.banned, .banned a.user-link, .comment .name a.user-link.banned, .name.banned {
  text-decoration: line-through !important;
  color: #aaa !important;
  
}

/*Screen size rules*/
@media(max-width: 600px) {
  .page.right, .mobile-hidden {
    display: none;
  }
  .page, .wrapper .wrapper.right {
    width: 100% !important;
  }
  .wrapper .wrapper.right {
    float: none;
  }
  .wrapper .wrapper.right > .page {
    margin: 10px !important;
  }
  .column-mobile-fragmented {
    display: block !important;
    float: none;
    margin-right: 0 !important;
    margin-left: -5px !important;
  }
  .column-mobile-fragmented > section {
    display: none
  }
  .column-mobile-fragmented > section.column-mobile-shown {
    display: block;
  }
  .wrapper .wrapper.right.column-mobile-fragmented.wrap-around-fixed,
  .wrapper .wrapper.right.column-mobile-fragmented > section.column-mobile-shown {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media(max-width:820px) {
  #login .username {
    max-width: 200px;
  }
}
@media(max-width:750px) {
  #login .username {
    display: none;
  }
  .post .action.mobile-friendly span {
    display: none;
  }
}

@media(max-width: 510px) {
  #login, #search {
    position: absolute;
    top: 0;
    border-radius: 0 !important;
    margin: 0;
  }
  #search {
    padding-top: 11px;
    left: 0;
    right: 120px;
    margin: 0;
    border-radius: 0;
  }
  #login {
    right: 0;
  }
  #search button {
    float: right;
  }
  #search input {
    display: block;
    position: absolute;
    width: calc(100% - 143px) !important;
    min-width: 0;
    left: 100px;
  }
}
@media(max-width: 470px) {
  header ul li, header ul li a {
    font-size: 13px;
  }
}

header > ul li a i {
  display: none !important;
}
@media(max-width: 360px) {
  header.header > ul li:hover a i + span,
  header.header > ul li a i {
    display: inline !important;
  }
  header.header > ul li a i + span {
    display: none;
  }
  #banner .banner-overlay {
    display: inline;
    height: 200px;
  }
  #search {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
  }
  #login {
    left: 0;
  }
  #login .username {
    display: inline;
    width: 50%;
  }
}

/*Animations*/
@keyframes bobben {
  0% {
    transform: translateY(-100%);
  }
  5% {
    transform: translateY(-100%);
  }
  15% {
    transform: translateY(0);
    margin-bottom: 5px;
  }
  30% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(0);
    margin-bottom: 6px;
  }
  50% {
    transform: translateY(-30%);
  }
  70% {
    transform:translateY(0%);
    margin-bottom: 7px;
  }
  80% {
    transform:translateY(-15%);
  }
  90% {
    transform:translateY(0%);
    margin-bottom: 8px;
  }
  95% {
    transform:translateY(-7%);
  }
  97% {
    transform:translateY(0%);
    margin-bottom: 9px;
  }
  99% {
    transform:translateY(-3%);
  }
  100% {
    transform:translateY(0);
    margin-bottom: 9px;
  }
}
@-webkit-keyframes bobben {
  0% {
    -webkit-transform: translateY(-100%);
  }
  5% {
    -webkit-transform: translateY(-100%);
  }
  15% {
    -webkit-transform: translateY(0);
    margin-bottom: 5px;
  }
  30% {
    -webkit-transform: translateY(-50%);
  }
  40% {
    -webkit-transform: translateY(0);
    margin-bottom: 6px;
  }
  50% {
    -webkit-transform: translateY(-30%);
  }
  70% {
    -webkit-transform:translateY(0%);
    margin-bottom: 7px;
  }
  80% {
    -webkit-transform:translateY(-15%);
  }
  90% {
    -webkit-transform:translateY(0%);
    margin-bottom: 8px;
  }
  95% {
    -webkit-transform:translateY(-7%);
  }
  97% {
    -webkit-transform:translateY(0%);
    margin-bottom: 9px;
  }
  99% {
    -webkit-transform:translateY(-3%);
  }
  100% {
    -webkit-transform:translateY(0);
    margin-bottom: 9px;
  }
}

/*Badges*/
.fa-bit, .fa-goldbit, .fa-silverbit, .fa-duck, .fa-gem, .fa-tom {
  position: relative;
}
.fa-bit::before,
.fa-duck::before,
.fa-goldbit::before,
.fa-silverbit::before,
.fa-gem::before,
.fa-tom::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -0.1em;
  background: no-repeat center/cover;
}
.fa-duck::before {
  background-image: url('/badges/duck.png');
}
.fa-bit::before {
    background-image: url('/badges/bronzebit.svg');
}
.fa-silverbit::before {
    background-image: url('/badges/silverbit.svg');
}
.fa-goldbit::before {
    background-image: url('/badges/goldbit.svg');
}
.fa-gem::before {
    background-image: url('/badges/gem.png');
}
.fa-tom::before {
    background-image: url('/badges/tom.png');
}