ul.horizontal, ul.queue, .controls ul, li.generic {
  list-style: none;
  padding: 0;
}
ul.horizontal > li + li {
  border-top: solid 1px rgba(0,0,0,0.2);
}

.video, #upload .cover-block {
  display: block;
  width: 100%;
  padding-bottom: 45%;
  position: relative;
}

.video {
  background: #000 center/contain no-repeat;
  -ms-touch-action: pan-x pan-y;
  touch-action: pan-x pan-y;
}

.video .player, .video .player h1 a {
  color: #fff;
  text-decoration: none;
}
.video .player video {
  pointer-events: none;
}
.video .player h1, .video .player::after {
  transition: opacity 0.25s linear, transform 0.25s ease, -ms-transform 0.25s ease, -o-transform 0.25s ease, -webkit-transform 0.25s ease, -moz-transform 0.25s ease;
}
.video .player.playing::after {
  transition: opacity 0.125s linear, transform 0.25s ease, -ms-transform 0.25s ease, -o-transform 0.25s ease, -webkit-transform 0.25s ease, -moz-transform 0.25s ease;
}
.video:not(.unplayable) .player::after {
  cursor: pointer;
  content: "\f04b";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background: red;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  text-align: center;
  line-height: 100px;
  font-size: 4em;
  font-family: 'FontAwesome';
  text-indent: 3px;
  opacity: 0.6;
}
.video:not(.unplayable) .player.playing::after {
  cursor: default;
  transform: scale(0.5,0.5);
  -ms-transform: scale(0.5,0.5);
  -webkit-transform: scale(0.5,0.5);
  -o-transform: scale(0.5,0.5);
  -moz-transform: scale(0.5,0.5);
  opacity: 0;
}

.video .player h1 {
  white-space: nowrap;
  opacity: 0.7;
  border: none;
  pointer-events: none;
}

.video .player:hover h1, .video .player:hover::after {
  opacity: 0.99;
}

.video .player span.pause {
  display: inline-block;
  padding: 5px;
  width: 100%;
  overflow-x: hidden;
}

.video .player.playing span.pause {
  opacity: 0;
}
.video .player span.playing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video .player.playing span.playing, .video.audio-only .player span.pause {
  opacity: 1;
}

.video .player.stopped span.playing {
  display: none;
}

.video .player span.playing video {
  background: #000;
}

.video span.playing video {
  width: 100%;
  height: 100%;
}

.video .player .suspend {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  line-height: 100px;
  font-size: 4em;
  opacity: 0.3;
  text-align: center;
}

.video > .controls {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 10px 0 10px;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.video:hover > .controls, .video.hover > .controls, .video.audio-only > .controls {
  opacity: 1;
}
.video > .controls:hover {
  opacity: 1 !important;
}

.video .player.playing + .controls,
.video .player.paused + .controls {
  display: block;
}

.video .player.paused + .controls {
  opacity: 1 !important;
}

.video .player.paused + .controls {
  opacity: 1;
}

.video > .controls li {
  display: inline-block;
}

.video > .controls .track {
  transition: background 0.5s ease;
  position: relative;
  width: calc(100% - 80px);
  margin-left: 10px;
  height: 10px;
  cursor: pointer;
}
.video > .controls .track:hover {
  background: rgba(0,0,0,0.1);
}
.video.audio-only > .controls .track {
  background: rgba(8, 8, 8, 0.125);
  border-radius: 4px;
}

.video .controls .bob {
  position: absolute;
  background: red;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.video .controls .fill {
  position: absolute;
  background: grey;
  border-radius: 4px;
  opacity: 0.5;
  bottom: 0;
  left: 0;
}

.video .controls .track .bob {
  top: 0;
  left: 0;
  margin: -5px 0 0 -10px;
  transition: left 0.25s linear;
}

.video .controls .track .fill {
  top: 0;
  right: 100%;
  transition: right 0.25s linear;
}

.video .previewer {
  transition: opacity 0.1s linear;
  position: absolute;
  width: 70px;
  height: 50px;
  background: rgba(28,28,28,0.9);
  bottom: 20px;
  margin-left: -35px;
  border-radius: 3px;
  opacity: 0;
}

.video .previewer:before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: attr(data-time);
  z-index: 3;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 3px #000;
  opacity: 0.6;
}
.video .previewer::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 25px;
  border: solid 10px transparent;
  border-top-color: rgba(28,28,28,0.9);
}
.video .previewer canvas,
.video .previewer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.video .track:hover .previewer, .video.hover .track .previewer {
  opacity: 1
}

.video .controls .icon {
  position: relative;
  width: 20px;
  height: 100%;
  cursor: pointer;
  float: right;
}
.video .controls .icon + .icon {
  margin-right: 5px;
}

.video .controls .icon .indicator {
  color: #fff;
  font-size: 1.5em;
}

.video .controls .volume:hover .slider, .video .controls .volume.hover .slider,
.video.voluming .controls .volume .slider {
  opacity: 1;
  transition: height 0.25s linear, opacity 0.5s linear;
  height: 100px;
}

.video .controls .volume .slider {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  right: 50%;
  height: 0;
  width: 10px;
  margin-bottom: 10px;
  margin-right: -5px;
  background: rgba(0,0,0,0.2);
  transition: height 0.25s linear 0.5s, opacity 0.5s linear 0.5s;
  border-radius: 4px;
}

.video .controls .volume .bob {
  bottom: 0;
  left: 0;
  margin: 0 0 -10px -5px;
  transition: bottom 0.25s linear;
}

.video .controls .volume .fill {
  top: 100%;
  right: 0;
  transition: top 0.25s linear;
}

.queue > li {
  display: block;
  position: relative;
  padding: 0;
}

.thumb {
  text-decoration: none;
}
.thumb-hidden {
  opacity: 0.3;
}
.tile {
  max-width: 250px;
  min-width: 170px;
  position: relative;
}
.tile {
  position: relative;
  width: 100%;
  max-height: 200px;
  min-height: 120px;
  padding: 0;
}
.tile, .queue .thumb .tile {
  text-align: left;
  display: inline-block;
  text-decoration: none;
  background: #000 center/cover no-repeat;
  color: #fff;
  vertical-align: top;
}
.queue .thumb .tile {
  max-width: 55%;
  padding: 0 0 15% 0;
}

li.generic.mix .tile::before {
  content: '';
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: opacity 0.5s ease;
}
li.generic.mix:hover .tile::before {
  opacity: 0;
}
li.generic.mix .tile::after {
  content: '\f09e';
  font-family: 'FontAwesome';
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
  font-size: 2em;
  opacity: 0.6;
  text-align: center;
  text-shadow: 0 0 3px #000;
}


.thumb .tile .detail {
  display: none;
}
.thumb .tile .duration {
  opacity: 0;
  position: absolute;
  padding: 1px 6px;
  right: 0;
  bottom: 0;
  color: #fff;
  background: rgba(0,0,0,0.3);
  border-radius: 5px 0 0 0;
}
.thumb .tile:hover:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: outline 0.3s ease;
  outline: solid 3px rgba(0,0,255,0.1);
}
.thumb .tile:hover .duration {
  opacity: 1;
}

.thumb .title {
  height: 3.1em;
}

.thumb .tile.link {
  background: none;
  border: solid 1px #aaa;
  text-align: center;
  line-height: 100%;
  color: #aaa;
  vertical-align: middle;
  padding-top: 25%;
}

.thumb .tile .detail, .thumb .tile .title, .thumb .tile + .title {
  max-height: 3.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.queue .thumb .tile .details {
  vertical-align: top;
  margin-bottom: 0 !important;
  color: #000;
  padding: 5px;
  position: absolute;
  text-align: left;
  bottom: -3.5em;
}

@media(min-width: 900px) {
  .queue .thumb .tile {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    min-height: 110px;
    float: left;
    margin-right: 50%;
    margin-bottom: 20px;
  }
  .queue .thumb .tile .details {
    width: 100%;
    left: 100%;
    bottom: auto;
  }
  .queue .details .detail {
    display: block;
    color: #aaa;
    font-weight: normal;
  }
}
@media(max-width: 900px) {
  .queue .thumb .tile {
    margin-bottom: 3.1em;
  }
  .queue .thumb .tile {
    min-width: 0 !important;
  }
  .queue .thumb .tile {
    max-width: 100% !important;
    padding: 0 0 45% 0 !important;
  }
}

ul.horizontal {
  overflow: hidden;
}
ul.horizontal > li.generic {
  float: left;
  border-top: none !important;
  border-bottom: solid 1px rgba(0,0,0,0.2);
  padding: 10px;
  max-width: 235px;
  min-width: 190px;
  max-height: 250px;
  min-height: 140px;
  width: 100%;
}
ul.horizontal .thumb .tile {
  margin: 0;
}

ul.horizontal.genre-list {
  overflow: visible;
}
ul.horizontal.center > li {
  text-align: left;
  float: none;
  display: inline-block;
}

.load-more {
  text-align: center;
}

a.album {
  text-decoration: none;
}
.stack {
  background: none !important;
  position: relative;
  transition: margin 0.25s ease;
}
.stack .stack-item {
  display: block;
  position: absolute;
  background: #000 center/contain no-repeat;
  width: 90%;
  height: 90%;
  transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  box-shadow: 0 0 10px -1px rgba(100,100,100,0.6);
}
.stack .stack-item .stack-item {
  transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.stack .stack-item {
  top: 0;
  left: 0;
}
.horizontal .stack:hover {
  margin-bottom: 5px;
  margin-top: -5px;
}
.stack:hover .stack-item {
  box-shadow: 0 0 10px 0px rgba(100,100,100,0.6);
}

.album-list.horizontal {
  padding-top: 20px;
}
.album-list > li .title {
  font-weight: bold;
  text-shadow: 0 0.05em 0.03em rgba(0,0,0,0.3);
}

.video .contextmenu {
  position: absolute;
  background: rgba(28,28,28,0.9);
  text-shadow: 0 0 2px rgba(0,0,0,.5);
  color: #eee;
  white-space: nowrap;
  list-style: none;
  border-radius: 2px;
  margin: 0;
  padding: 5px 0;
  min-width: 220px;
  opacity: 0;
  display: none;
  z-index: 300;
  overflow-x: hidden;
  transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1);
}
.video .contextmenu li {
  display: table-row;
  cursor: pointer;
  margin: 0;
}
.video .contextmenu div {
  padding: 5px;
  display: table-cell;
  white-space: nowrap;
}
.video .contextmenu .value {
  text-align: right;
}
.video .contextmenu .label {
  width: 75%;
}
.video .contextmenu li:hover {
  background: rgba(255,255,255,0.2);
}

i.fa.fa-restore {
  display: inline-block;
  background: transparent url("../fonts/restore-icon.svg") no-repeat scroll center center / 100% auto;
  width: 18px;
  height: 18px;
  margin-bottom: -2px;
}
i.fa.fa-volume-mid {
  display: inline-block;
  background: transparent url("../fonts/vol-mid-icon.svg") no-repeat scroll center center / 100% auto;
  width: 16px;
  height: 18px;
  margin-bottom: -2px;
}

.video:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.slideout {
  position: relative;
  display: block;
  overflow: hidden;
  opacity: 0;
  background: #fff;
  transition: max-height 0.25s linear, min-height 0.25s linear, opacity 0.5s linear 0.25s, background 0.5s linear;
  border-radius: 3px;
  margin-top: 5px;
  white-space: nowrap;
}
.slideout.shown {
  opacity: 1;
  background: #f8f8f8;
}
.slideout:not(.shown) {
  min-height: 0 !important;
  max-height: 0 !important;
}

.form.report form {
  display: inline-block;
}
.form.report .group {
  padding: 5px;
  white-space: pre-line;
}

.form.report .group .foot button {
  position: absolute;
  bottom: 0;
}
.form.report .group .foot button.left {
  left: 0;
}
.form.report .group .foot button.left {
  right: 0;
}
.form.report textarea {
  resize: vertical;
  min-height: 100px;
  width: 100%;
}

.form.report input[data-required] + i:before {
  content: '*';
  font-weight: bold;
}

.listing.compact {
  padding-left: 0;
  padding-right: 0;
}
.listing.compact .items {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: auto;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}
.listing.compact .items.reorderable .handle {
  width: 13px;
  border-right: solid 1px rgba(0,0,0,0.1);
  color: #ddd;
  text-shadow: 0 0 3px #eee;
  cursor: move;
  font-size: 20px;
  line-height: 0;
  vertical-align: middle;
  font-weight: normal;
  text-rendering: geometricPrecision;
}
.listing.compact .items span.bump {
  display: table-row;
  height: 2px;
}

.listing.compact a {
  display: table-row;
  padding: 5px 30px;
  transition: background 0.25s ease;
  text-decoration: none;
}
.listing.compact a.floater {
  position: absolute;
  padding: 0;
  pointer-events: none;
  left: 0px;
  right: 0;
  background: #fff;
}
.listing.compact a.grabbed {
  opacity: 0;
  pointer-events: none;
}
.listing.compact a.selected,
.listing.compact a:hover {
  background: rgb(250,250,250);
}
.album-notice {
  display: block;
  vertical-align: middle;
  line-height: 20px;
  font-size: 10px;
  border-top: solid 1px rgba(0,0,0,0.1);
}
.listing.compact.playlist {
  position: relative;
  text-align: left;4:36 PM 2016/06/30
}
.listing.compact.playlist .scroll-container {
  position: relative;
  min-height: 100px;
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
}
.listing.compact.playlist a:not(.selected, .grabbed) {
  opacity: 0.6;
}

.listing.compact.playlist.virtual a.selected + a {
  opacity: 0.5;
}
.listing.compact.playlist.virtual a.selected + a + a {
  opacity: 0.25;
}
.listing.compact.playlist.virtual a.selected + a + a + a {
  opacity: 0.125;
}
.listing.compact.playlist.virtual a.selected + a + a + a + a {
  opacity: 0.05125;
}
.listing.compact.playlist.virtual a.selected + a + a + a + a + a {
  opacity: 0;
}

.listing.compact a > div {
  overflow: hidden;
}

.thread-list .items,
.thread-list .actions {
  padding: 0;
  margin: 10px 0;
  display: table;
  width: 100%;
  table-layout: auto;
}
.thread-list .items {
  border-bottom: solid 1px rgba(0,0,0,0.1);
}
.thread-list .items .thread {
  display: table-row;
  padding: 0 10px;
  color: #000;
  transition: background 0.25s ease;
}
.thread-list .items .thread .thumb {
  width: 80px;
}
.thread-list .items .thread .replies {
  text-align: right;
  padding-right: 30px;
}
.thread-list .items .thread:hover {
    background: rgb(250,250,250);
}
.thread-list .items .thread > div {
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
  border-top: solid 1px rgba(0,0,0,0.1);
}
.thread-list .items .thread .title {
  font-weight: bold;
  font-size: 1.5em;
  color: #337287;
}
.thread-list .items .thread a {
  text-decoration: none;
}

.playlist .controls {
  border-top: solid 1px rgba(0,0,0,0.1);
  white-space: nowrap;
}
.playlist .controls a {
  display: inline-block;
  width: 25%;
  text-align: center;
  float: left;
}
.listing.compact.playlist .controls a {
  padding: 10px;
}
.playlist .controls .slide-right {
  border-left: solid 1px rgba(0,0,0,0.1);
}
.playlist .controls .slide-left {
  border-right: solid 1px rgba(0,0,0,0.1);
}
.playlist .controls .title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.playlist .controls .slide-left + .title,
.playlist .controls .title.buff-right {
  width: 75%;
}
.playlist .controls .slide-left + .title.buff-right {
  width: 50%;
}
.playlist .scroll-container {
  box-shadow: 0 0px 3px 0 #bbb inset;
}
.compact.listing.playlist a.selected {
  background: #6aaadd;
}
.listing.compact .items a.selected > div span,
.listing.compact .items a.selected > div + div span {
  border-left: solid 1px rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.8);
}
.listing.compact a.selected > div {
  border-color: #88e;
  border-bottom: solid 1px #88c;
}

.listing.compact .items a > div {
  display: table-cell;
  color: #000;
  padding: 5px;
  line-height: 20px;
  border-top: solid 1px rgba(0,0,0,0.1);
}
.listing.compact a.selected div {
  color: #fff;
}

.listing.compact span, .listing.compact a {
  text-decoration: none;
  padding: 0 10px;
  color: #000;
}
.listing.compact .items a > div span,
.listing.compact .items a > div + div span {
  border-left: solid 1px rgba(0,0,0,0.2);
  margin-left: -1px;
  font-weight: initial;
  color: #888;
}
.listing.compact .items .title:before {
  content: '\f04b';
  font-family:'FontAwesome';
  padding-right: 10px;
}
.listing.compact .items .title {
  padding: 0 0 0 30px;
}
.listing.compact .items .duration {
  text-align: center;
}
.listing.compact .items .remove {
  text-align: center;
  width: 50px;
}
.listing.compact .items .hidden-item div {
  font-weight: initial;
  color: #aaa;
}
.listing.compact .items .hidden-item .title:before {
  opacity: 0;
}


.listing.compact .items a span,
.listing.compact .items a > div div {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
}
.listing.compact.playlist .items a span,
.listing.compact.playlist .items a > div div {
  width: 0;
}
.listing.compact.playlist .items a .title {
  padding-left: 20px;
}
.listing.compact.playlist .items a .title .author {
  display: table-row;
  
}
.listing.compact.playlist .items a .title .author span {
  border: none;
  padding-left: 0;
}

.playlist-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: opacity 0.25s linear;
  color: #fff;
  font-size: 1.5em;
}

.video .player.playing ~ .playlist-toggle {
  opacity: 0;
}

.video:hover .player.playing ~ .playlist-toggle {
  opacity: 0.2;
}

.video .player.playing ~ .playlist-toggle:hover {
  opacity: 1;
}

.uploading #video .controls,
.uploading .tab-set {
  display: none;
}
.uploading #video {
  height: 0 !important;
}
.uploading #video {
  margin: 0;
}