.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  white-space: nowrap;
  gap: var(--overlay-gap);
  flex-direction: row-reverse;

  --overlay-font-size: 1.125em;
  --overlay-color: var(--header-overlay-element-fill);
  --overlay-height: 45px;
  --overlay-rows: 1;
  --overlay-gap: 10px;
  --overlay-rounding: 10px;
  --overlay-padding: 7px;
}
