body {
  --banner-height: 200px;
}

#banner.layer-background {
  display: block;
  height: var(--banner-height);
}

#banner .home-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

#banner .title {
  text-align: left;
  margin-top: 20px;
  height: 150px;
  max-width: 100%;
  overflow: hidden;
  padding: 20px;
  opacity: 0.65;
  float: left;
}

#banner .title img {
  max-width: 100%;
  height: 90px;
}

#banner-upload {
  width: 600px;
  height: 100px;
}

.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--site-banner);
}

@media(max-width: 1300px) {
  #banner .banner-background {
      background-position: top center, bottom right;
  }
}
