/*
 *= require ./dark_tag_colors
 */
html, body {
  color: #c4c4c4;

  --default-header-color: rgb(147, 147, 255);
  --default-link-color: #46a4c4;

  --site-background: #1c1313;

  --content-background: #2f2222;
  --content-unread: #5e1c3b;
  --content-highlight: #2b252b;

  --thumb-hover-color: #1e1d1d;
  --thumb-active-color: #312f2f;
  --seamless-thumb-hover-color: var(--thumb-hover-color);
  
  --input-border: #575757;
  --input-foreground-color: #c4c4c4;
  --input-background: #151515;
  --input-background-focus: rgb(28, 28, 28);
  --input-shadow: rgba(10, 10, 10, 0.8);

  --heading-background: #262222;
  --heading-border-color: #403d3d;

  --checkerboard-background: #000;

  --footer-buffer-color: rgba(21, 21, 21, 0.3);

  --header-nav-background: rgba(0, 0, 0, 0.62);
  --header-nav-foreground-active: #fff;
  --header-overlay-element-fill: rgba(0,0,0,0.6);
  --header-overlay-element-focus-fill: #131313;
  --header-overlay-fill: rgba(0,0,0,0.7);
  --header-color: rgb(129, 129, 230);
  --header-overlay-element-color: #09c1ff;

  --divider-color: #665858;

  --form-background: #281d1d;
  --modal-footer-background: #373737;

  --block-shadow-color: #333;
  --block-border-color: #555;
  --block-hover-color: #1e1c1c;
  --block-emboss-color: #1f1f1f;
  --block-emboss-hover-color: var(--block-hover-color);

  --bubble-background-hover: #201e1e;
  --bubble-background-active: #1c1b1b;
  
  --bubble-color: #171616;
  --bubble-hover-color: #2d2727;
  
  --table-inner-border: rgba(255, 255, 255, 0.3);
  
  --page-shadow: 0 0 6px 0 rgba(0,0,0,0.6);
}

.playback-controls .floating-player-details {
  --floating-player-title-primary-color: rgba(220,220,220,1);
  --floating-player-title-secondary-color: rgba(220,220,220,0.3);
}

.notice {
  background: #003f5e;
  color: #c6c1c1;
}
.header ul li {
  color: #bebee3;
}
.header .drop-down, .header .drop-down li, .header .drop-down a {
  color: #3491b0;
}

.playlist {
  --playlist-controls-color: #aaa;
  --playlist-shadow-color: #111;
  --seamless-button-hover-tint: #403f3f;
}

.comment {
  --comment-background: rgb(17, 17, 15);
  --comment-border-color: #262626;
  --comment-background-color: rgb(36, 27, 27);
  --comment-text-shadow-color: rgba(0, 0, 0, 0.8);
  --mention-color: #b7b7b7;
  --user-link-color: #3fb7df;
}
label.options, .post {
  --block-border-color: #555;
}
label.focus .content {
  --comment-background: rgb(28, 28, 28);
  --comment-background-color: rgb(28, 28, 28);
}
.description .user-link:not(.link), .comment-content .user-link, .comment-content a[data-link="2"] {
  color: #fff;
}

.seamless {
  --seamless-highlight-content-background: #2f2b2b;
}

.fade-away {
  --fade-start: rgba(47, 34, 34,1);
  --fade-end: rgba(47, 34, 34,0);
}
.hovercard {
  --gradient-light: #262323;
  --gradient-dark: #242424;
  --gradient-middle: #242222;
}
.thread-list .items .thread {
  color: #bbb;
}
.thread-list .items .thread > div {
  border-color: rgba(255, 255, 255, 0.1);
}
.thread-list .items .thread:hover {
  background: rgb(30, 30, 30);
}
button, .button, input[type="submit"], .tag, .foobar {
  --button-background: #3b4142;
  --button-background-hover: #4f4c4c;
  --button-background-selected: #242424;
  --button-background-active: #3c3939;
  --button-border-color: #282828;
  --button-bottom-color: #3c3b3b;
  --button-top-color: #1a1919;
  --button-foreground: #ddd;
  --button-foreground-hover: #eee;
  --button-foreground-active: #ccc;
  --button-shadow-color: #313131;
}
.actions .star.liked, button.yellow, .button.yellow, input.yellow[type="submit"] {
  --button-border-color: #8c8c15;
  --button-bottom-color: #8c8c15;
  --button-top-color: #313106;
  --button-shadow-color: #c7c739;
  --button-background: #9f9f05;
  --button-background-hover: #b3b306;
  --button-background-active: #a8a804;
}
.toolbar .button {
  --button-shine-color: transparent;
}

.floating-player .playback-controls {
  --controls-foreground: #9b9b9b;
}

.comment .name,
.toolbar {
  --toolbar-border-color: #313030;
  --divider-color: var(--toolbar-border-color);
}

.drop-down, .popper, .meta-toolbar {
  --popper-background: var(--input-background);
  --popper-border-color: #464444;
  --popper-border-top-color: #4a4949;
  --popper-border-bottom-color: #4a4949;
  --popper-shadow-color: rgba(0, 0, 0, 0.3);
  --popper-item-highlight: var(--block-hover-color);
}

.listing.compact {
  --table-foreground-color: #cacaca;
}
.listing.compact .items.reorderable .handle {
  text-shadow: 0 0 3px #1a1a1a;
}

label.check-box {
  border-color: #4f4f4f;
  color: #d7d7d7;
}
label.check-box:hover {
  color: rgba(180, 180, 249, 0.6);
}

.editable {
  --editable-border: #000;
  --editable-text-color: #bdbdbd;
}

.tab-set {
  --tabbar-background: rgba(72, 72, 72, 0.7);
  --tab-background-inactive: #0f0f0f;
  --tab-background-inactive-hover: #1c1c1c;
}

.button.button-bub.subscribe {
  --on-color: #5c5cf2;
}

.post .actions.actions-above-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.properties.ribbed {
  --rib-color: rgba(255,255,255,0.01);
  --block-border-color: #222121: 
}

.checkerboard {
  background-image: url('data:image/svg+xml,<svg%20width="20"%20height="20"%20xmlns="http://www.w3.org/2000/svg"><g%20fill="%23111"%20opacity="1"><rect%20width="10"%20height="10"/><rect%20width="10"%20height="10"%20x="10"%20y="10"/></g></svg>');
}
.stats {
  --bar-border-base-color: #333;
}
.stats + .stats {
  border-top: solid 1px #5b5b5b;
}

footer .logo {
  text-shadow: 0px 1px 3px #eee;
}

li.bio {
  --tile-border-color: #333;
}
.thumb .tile.link {
  border-color: #353535;
}

h1, .subheading {
  border-color: rgb(78, 78, 83);
}

hr {
  border-color: #665858;
}

.comment-content blockquote.even {
  background: rgba(0, 0, 0, 0.5);
}

#search_small::placeholder {
  opacity: 1;
}

#upload {
  --hover-shadow: #000;
}