.tag[data-namespace="artist"] {
  --button-background: #606839 !important;
  --button-foreground: #c9cdba !important;
}
.tag[data-namespace="genre"] {
  --button-background: #383e86 !important;
  --button-foreground: #8b92df !important;
}
.tag[data-namespace="oc"] {
  --button-background: #284b64 !important;
  --button-foreground: #49a8e7 !important;
}
.tag[data-namespace="spoiler"] {
  --button-background: #8a614d !important;
  --button-foreground: #dbc7be !important;
}
.tag[data-namespace="character"] {
  --button-background: #643a5d !important;
  --button-foreground: #48ceec !important;
}
.tag[data-namespace="rating"] {
  --button-background: #7a720d !important;
  --button-foreground: #cdc344 !important;
}
.tag[data-namespace="warning"],
.tag[data-slug="artist needed"], .tag[data-slug="source needed"] {
  --button-background: #ae3434 !important;
  --button-foreground: #e7d1d1 !important;
}
