.tag-artist {
  --button-background: #f2fdab !important;
  --button-border-color: #82ad2b !important;
  --button-foreground: #82ad2b !important;
}
.tag-genre {
  --button-background: #a2a6d4 !important;
  --button-border-color: #363b74 !important;
  --button-foreground: #363b74 !important;
}
.tag-oc {
  --button-background: #b1cee2 !important;
  --button-border-color: #4c90bd !important;
  --button-foreground: #4c90bd !important;
}
.tag-spoiler {
  --button-background: #f8d2c0 !important;
  --button-border-color: #e97136 !important;
  --button-foreground: #e97136 !important;
}
.tag-character {
  --button-background: #e6eeef !important;
  --button-border-color: #46a0b4 !important;
  --button-foreground: #46a0b4 !important;
}

.tag[data-slug="artist needed"], .tag[data-slug="source needed"] {
  --button-background: #f99 !important;
  --button-border-color: #f80808 !important;
  --button-foreground: #d00 !important;
}
