.tag[data-namespace="artist"] {
  --button-background: #f2fdab !important;
  --button-foreground: #769a2e !important;
}
.tag[data-namespace="genre"] {
  --button-background: #a2a6d4 !important;
  --button-foreground: #363b74 !important;
  --button-top-color: #777cb4 !important;
}
.tag[data-namespace="oc"] {
  --button-background: #b1cee2 !important;
  --button-foreground: #477796 !important;
  --button-top-color: #7fb2d4 !important
}
.tag[data-namespace="spoiler"] {
  --button-background: #f8d2c0 !important;
  --button-foreground: #e97136 !important;
  --button-top-color: #e7bba5 !important;
}

.tag[data-namespace="character"] {
  --button-background: #e6eeef !important;
  --button-foreground: #46a0b4 !important;
}
.tag[data-namespace="rating"] {
  --button-background: #c1f7c9 !important;
  --button-foreground: #ada751 !important;
}
.tag[data-namespace="warning"],
.tag[data-slug="artist needed"], .tag[data-slug="source needed"] {
  --button-background: #f99 !important;
  --button-border-color: #f80808 !important;
  --button-foreground: #ee3838 !important;
}
