
html, body {
  --site-banner: url(/images/new-banner.jpg) no-repeat top center / cover var(--content-background);

  --site-background: #f1f1f1;

  --content-background: #fff;
  --content-highlight: #fef;

  --block-shadow-color: #ccc;
  --block-hover-color: #eee;
  --block-border-color: #eee;
  --block-radius: 3px;
  
  --thumb-hover-color: #fcfcfc;

  --form-background: #f8f8f8;
  
  --heading-background: #f0f0f0;
  --heading-border-color: #ddd;

  --header-color: rgb(102,102,184);
  --header-overlay-fill: var(--content-background);
  
  --no-link-color: #aaa;
  
  
  
  --input-shadow: rgba(255, 255, 255, 0.8);
  --input-border: #ccc;
  --input-foreground-color: #444;
  --input-background: rgb(255, 255, 250);
  --input-background-focus: rgba(200,200,200,0.1);
}
label.options {
  --block-border-color: #ccc;
  --label-focus-color: var(--input-background-focus);
}
