<% title "Admin" %>
<% lim "900px" %>
<section class="page properties" style="width:100%">
	<table>
		<tr class="actions">
			<td class="label">
				Artist Profile
			</td>
			<td class="field super action">
				<a href="/artist/create" class="button green">Create</a>
			</td>
		</tr>
	</table>
</section>