[Unit]
Description=Resque Background Worker #1 (Normal)
PartOf=unicorn.service

[Service]
User=projectvinyl
Type=simple
ExecStart=/home/projectvinyl/bin/start-resque
WorkingDirectory=/home/projectvinyl/ProjectVinyl

[Install]
WantedBy=default.target
