[Unit]
Description=Resque Background Worker #3 (Low Priority)
PartOf=unicorn.service

[Service]
User=projectvinyl
Type=simple
ExecStart=/home/projectvinyl/bin/start-resque-priority
WorkingDirectory=/home/projectvinyl/ProjectVinyl

[Install]
WantedBy=default.target
