[Unit]
Description=Bat Pony bot that does bat pony bot things

[Service]
User=projectvinyl
Type=simple
ExecStart=/home/projectvinyl/bin/start-skreebot
WorkingDirectory=/home/projectvinyl/skreebot

[Install]
WantedBy=default.target
