[Unit]
Description=Unicorn HTTP server

[Service]
User=projectvinyl
Type=simple
ExecStart=/home/projectvinyl/bin/start-unicorn
WorkingDirectory=/home/projectvinyl/ProjectVinyl

[Install]
WantedBy=default.target
