<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<script id="twitter-wjs" async="" src="//platform.twitter.com/widgets.js"></script>
	<style>
	body {
		margin: 0;
		padding: 0;
	}
	.embed > a {
		text-decoration: none;
	}
	</style>
</head>
<body class="embed">
	<a class="twitter-timeline"  href="https://twitter.com/Project_Vinyl" data-widget-id="733733333084086272">
		Tweets by @Project_Vinyl
	</a>
</body>