%p
	Any donations can be forwarded through PayPal to ZizzyDizzyMC
	= fa :at
	gmail.com.
	This is to help us pay for hosting.
%p
	Thank you for the support! Every little bit helps.
	= emoticon_tag "twilightblush"
