<p>
	Any donations can be forwarded through PayPal to ZizzyDizzyMC<i class="fa fa-at"></i>gmail.com.
	This is to help us pay for hosting.
</p>
<p>
	Thank you for the support! Every little bit helps. <%= emoticon_tag "twilightblush" %>
</p>