<div class="message_content">
	Donations are <b>not</b> currently supported. Sorry! 
	<br>
	But thanks for the support anyway. <%= raw ApplicationHelper.emotify ":twilightsmile:" %>
</div>
<div class="foot">
	<button class="right cancel" type="button">Cancel</button>
</div>