<li class="bio">
	<span class="avatar">
		<span style="background-image:url('<%= avatar %>')"></span>
	</span>
	<div class="description">
		<a><h2><%= name %></h2></a>
		<span class="tag-set">
			<%= tag_line %>
		</span>
	</div>
</li>
