%li.bio
	.avatar-wrapper
		.avatar
			- if avatar == ''
				%span= render 'users/avatar/avatar_bg_pony', user: nil
			- else
				%span{style: format_bg(avatar)}
	.description
		%a
			%h2= name
		%span.tag-set= tag_line
