<div style="width:100%;" class="wrapper">
	<h1>Copyright & Fair Use</h1>
	<section class="page" style="width: 100%">
		<%= raw ApplicationHelper.emotify "Currently under construction. :applejackunsure:" %>
	</section>
</div>