<div class="wrapper full-width">
	<h1>Copyright & Fair Use</h1>
	<section class="page full-width">
		<%= raw ApplicationHelper.emotify "Currently under construction. :applejackunsure:" %>
	</section>
</div>