<div style="width:100%;" class="wrapper">
	<h1>Support Us on Patron</h1>
	<section style="width:100%;" class="page">
		<h2>Coming...</h2>
		<div class="center">
			<img src="https://derpicdn.net/img/view/2012/10/20/128094__safe_sweetie+belle_image+macro_desk_soon.jpg"></img>
			<br>
			<a class="tiny-link" href="https://derpibooru.org/128094">source</a>
		</div>
	</section>
</div>