- lim '800px'
%section.page.full-width.the-pony-archive
	%h1
		= fw :paypal
		The Pony Archive
	.content
		Project Vinyl is partnered with
		%h3 The Pony Archive
		%a(href="//theponyarchive.com/")
			%img(src="/images/tpa.jpg")
	%a.right.date(href="//derpibooru.org/515084") Background by CMaggot
	%a.right.date(href="//derpibooru.org/5458") Pony by Atryl
%section.page.full-width
	%h1
		= fw :paypal
		Donations
	= render partial: 'donate_message'
%section.page.full-width
	%h1
		= fw :bullhorn
		Spread The Word
	%p
		Spread the word! Pony
		%b lives!
	%p But only by working together can we make our dreams a reality.
	%blockquote(who="Confucius" when="1300 BC")
		Don't let your dreams be memes.