<div style="width:100%;" class="wrapper">
	<h1>Support Us</h1>
	<section style="width:100%;" class="page">
		<h1>Paypal</h1>
		<p>
		Any donations can be forwarded through PayPal to ZizzyDizzyMC<i class="fa fa-at"></i>gmail.com. This is to help us pay for hosting.
		</p>
		<p>
			Thank you for the support! Every little bit helps. <%= raw ApplicationHelper.emotify ":twilightblush:" %>
		</p>
		<p>
		(More options may appear here later, for now it's just blank. Sorry~~)
		</p>
	</section>
</div>