		<div style="width:100%;" class="wrapper">
			<h1>Site Staff and Contributors</h1>
			<section style="width:100%;" class="page">
				<h2>Administrators</h2>
				<ul class="staff">
					<li class="bio">
						<span class="avatar">
							<span></span>
						</span>
						<div class="description">
							<a><h2>Baba Daya</h2></a>
							<span class="tag-list">
								Resident Visionary, Graphic Design
							</span>
						</div>
					</li>
					<li class="bio">
						<span class="avatar">
							<span style="background-image:url('images/avatar/anima fever.jpg')"></span>
						</span>
						<div class="description">
							<a><h2>Anima Fever</h2></a>
							<span class="tag-list">
								Content, Moral Support
							</span>
						</div>
					</li>
				</ul>
			</section>
			<section style="width:100%;" class="page">
				<h2>Programming & Design</h2>
				<ul class="staff">
					<li class="bio">
						<span class="avatar">
							<span style="background-image:url(images/avatar/schwart.jpg)"></span>
						</span>
						<div class="description">
							<a><h2>The Schwarzschild Party</h2></a>
							<span class="tag-list">
								Graphic Design
							</span>
						</div>
					</li>
					<li class="bio">
						<span class="avatar">
							<span style="background-image:url(http://www.gravatar.com/avatar/f5f7f51b935f0e988efdfd3ca2460807.png?s=150)"></span>
						</span>
						<div class="description">
							<a><h2>Sollace</h2></a>
							<span class="tag-list">
								Programming, Graphic Design
							</span>
						</div>
					</li>
				</ul>
			</section>
			<section style="width:100%;" class="page">
				<h2>Contributors</h2>
				<ul class="staff">
					<li class="bio">
						<span class="avatar">
							<span style="background-image:url('images/avatar/wikked.jpg')"></span>
						</span>
						<div class="description">
							<a><h2>WikkedWicky</h2></a>
						</div>
					</li>
				</ul>
				<ul class="staff">
					<li class="bio">
						<span class="avatar">
							<span style="background-image:url('images/avatar/max.jpg')"></span>
						</span>
						<div class="description">
							<a><h2>Max</h2></a>
						</div>
					</li>
				</ul>
				<ul class="staff">
					<li class="bio">
						<span class="avatar">
							<span style="background-image:url('images/avatar/d3lta.jpg')"></span>
						</span>
						<div class="description">
							<a><h2>D3LTA</h2></a>
							<span class="tag-list">
								Content
							</span>
						</div>
					</li>
				</ul>
			</section>
		</div>
		<span class="push"></span>