- lim '800px'
.wrapper.full-width
	%h1 Website Policies and Terms
	%section.page.full-width
		%h1 Mission Statement
		%p
			Project Vinyl is here to serve as a safe haven and archive for brony artists and music.
			All content posted here is the property of their respective artists and abides by Fair Use unless stated otherwise.
	%section.page.full-width
		%h1 Guidelines & Code of Conduct
		
		Here at Project Vinyl we aim to create a friendly community where open discussion and expression of artistic merit are encouraged,
		where and individual may come to express their own iopinions without necessarily feeling ompressed or vindicated for
		expressing those opinions.
		
		Most of our guidelines can be summaries in three (3) simple mantra:
		
		%ol
			%li
				%b Don't be a Jerk
				%p
					Bullying, excessive violence, harassment, or other discriminatory behavior on this site is discouraged.
					That includes any inflamatory remarks, spamming, or otherwise being a jerk.
			%li
				%b Use common sense
				%p
					Have you heard about [SPOILERS]?
					
					As a courtasy to other users, we ask that spoilers or any kind, whether be from
					My Little Pony: Friendship is Magic, or any other program or movie, not be posted to the site for
					at least 7 days after such madia has been release. This allows other poeple the chance to view and enjoy it at their own leasure.
					Note that spoilers
					%i may
					be hidden using the [spoiler]spoiler tag[/spoiler]
					
					%b Unrelease content / Leaks
					may be subject to the same restrictions. 
			%li 
				%b Keep it SFW
				%p
					Unless otherwise specfied, every part of Project Vinyl is to be considered Safe For Work.
					If it is not something you or anyone else would be comfortable with showing to their imployers,
					then it should rather not be posted.
					
					This includes any media or discussions that pornographic in nature, violent, illicits the use of
					illegal substances, is explotative or minors, or is otherwise deemed to be illegal in any part of
					the United States.
					
					Content of such nature is subject to removal without notice, and a possible infraction of ban placed upon the poster.

	%section.page.full-width
		%h1 Copyright & Fair Use
		
		%ul
			%li
				Content uploaded to this platform are to be considered the property of their individual artists and musicians,
				and are provided at their behest under fair use laws.
			%li
				Copyrighted content is
				%b allowed
				under special use conditions, in which case the uploader must have provided suficiany evidence that they are:

				A. The original author/musician of the song/video/media being uploaded
				B. Own the rights to the uploaded song/video/media and any third-party content presented in that media
				C. Ows the legal rights to distribute said media on Project Vinyl as a platform
				
				Copyrighted material that does not meet the above criteria is subject to removal at the request of the original owner or
				legal representative of said owner and may incur an infraction upon the individual uploader.
				
				Repeater uploading of infringing material will result in subsequent infractions, and possibly a ban.
			%li
				%b Copyright claims & takedown notices
				placed on a video will be considered against the rules of fair use in consideration with the type of claim laid.
				This does not automatically mean videos will be taken down. The content will be preliminarily removed for review,
				and if it is determined that the video's use of the copyrighted material is deemed 'fair use' or the report otherwise
				determined invalid, the video may then be restored and an infraction counted towards the reporting entity.
