<div style="width:100%;" class="wrapper">
	<h1>Website Policies and Terms</h1>
	<section class="page" style="width: 100%">
		<%= raw emotify "Currently under construction. :applejackunsure:" %>
	</section>
</div>