<div class="wrapper full-width">
	<h1>Website Policies and Terms</h1>
	<section class="page full-width">
		<h1>Mission Statement</h1>
		<p>Project Vinyl is here to serve as a safe haven and archive for brony artists and music. All content posted here is the property of their respective artists and abides by Fair Use unless stated otherwise.</p>
		
		<h1>Guidelines and Code of Conduct</h1>
		
		<ol>
			<li>We will not hesitate to remove uploads that violate fair use as per our <a href="/copyright">Copyright & Fair Use Guidlines</a>. Repeated uploading of copyrighted material for which the uploader does not have permission, or in some other way does not comply with Fair Used will result in a ban.</li>
			<li>Bullying, excessive violence, harrasment, or other discriminatory behavior is discouraged and will not be tolerated</li>
			<li>We do not allow sexually explicit or gratuitously violent content. Videos that contain this type of content may be removed without notice</li>
			<li>If you are the original artist of a song on this website, you can claim ownership and do as you wish with it</li>
			<li>Invalid copyright claims, or claims videos that we deem to fall within the scope of Fair Use will be ignored</li>
		</ol>
	</section>
</div>