- lim '800px'
.wrapper.full-width
	%h1.title.breadcrumb Website Policies and Terms
	%section.page.full-width
		%h1 Mission Statement
		%p
			Project Vinyl is here to serve as a safe haven and archive for brony creators, animators, and musicians of all ages and backgrounds, past, present, and future.
		%p
			Our goal here is to create a platform that everyone can grow to love.
		%p
			All content posted here is the property of their respective owner and abides by Fair Use unless stated otherwise.
	%section.page.full-width
		%h1 Guidelines & Code of Conduct
		
		Here at Project Vinyl we aim to create a friendly community where open discussion and expression of artistic merit are encouraged,
		where an individual may come to express their own opinions without necessarily feeling opressed or vindicated for
		expressing those opinions.
		
		Most of our guidelines can be summaries in three (3) simple mantra:
		
		%ol
			%li
				%h3 Don't be a Jerk
				%p
					Bullying, excessive violence, harassment, or other discriminatory behavior on this site is discouraged.
					That includes any inflamatory remarks, spamming, or otherwise being a jerk.
			%li
				%h3 Use common sense
				%blockquote
					Have you heard about [SPOILERS]?
				%p
					As a courtasy to other users, we ask that spoilers of any kind, whether be it from
					My Little Pony: Friendship is Magic, or any other program or movie, not be posted to the site for
					at least 7 days after such madia has been release. This allows other poeple the chance to view and enjoy it at their own leisure.
				%p
					Note that spoilers
					%i may
					be hidden using the [spoiler]spoiler tag[/spoiler]
				%p
					%b Unrelease content / Leaks
					may be subject to the same restrictions.
			%li
				%h3 Tagging and Sourcing Are Key
				%p
					When someone finds a video on our site, they would naturally want to know where it comes from so always try to include a source if you can!
				%p
					Be sure to tag it as well. The more the better. Be as
					%b specific
					as possible! If it's about a specific character, object, tool, show, TAG IT! Using a particular piece of software? TAG IT!
					%br
					Tagging makes your content easier to find and easier to filter for people who don't want to see it, so tag everything.
			%li 
				%h3 Be Mindful of the Rating
				%p
					We allow content of varying maturity ratings which may be filtered by the user's selection of filters.
					That doesn't mean you can say anything you want in the forums and comments sections. If under an image, always check the tags
					for what the video's rating is. Discussion of topics above the maturity rating of a given video may be removed and warnings given.
				%p
					If you're not sure, ask a moderator, or put it into a spoiler to be safe.
				%p
					As always, hate speech, discussion of illegal substances, explotation of minors, or anything else that is otherwise deemed to illegal in any part of
					the United States, are expressly forbidden.
			%li
				%h3 Use Filters to hide Unwanted Content
				%p
					Project Vinyl has extensive filteriong capabilities that allows users to precisely cater the site to their own tastes.
					Not everything posted to this site is going to be to everyone's tastes, which is why we ask that users utilise these filters to hide wha they don't like
					to allow others to enjoy their content in peace.
			%li
				%h3 Nobody's Perfect
				%p
					These rules may change over time as different needs arise. Moderators are also humans, and thus are subject to mistakes.
				%p
					If you need clarification or assistance, we can be contacted through Discord VIA
					%a(href="//theponyarchive.com/#contact") The pony Archive.
	%section.page.full-width
		%h1 Copyright & Fair Use
		%ul
			%li
				Content uploaded to this platform are to be considered the property of their individual artists and musicians,
				and are provided at their behest under fair use laws.
			%li
				%p
					Copyrighted content is
					%b allowed
					under special use conditions, in which case the uploader must have provided suficient evidence that they are:
				%p
					A. The original author/musician of the song/video/media being uploaded
					%br
					B. Own the rights to the uploaded song/video/media and any third-party content presented in that media
					%br
					C. Ows the legal rights to distribute said media on Project Vinyl as a platform
				%p
				Copyrighted material that does not meet the above criteria is subject to removal at the request of the original owner or
				legal representative of said owner and may incur an infraction upon the individual uploader.
				%p
				Repeated uploading of infringing material will result in subsequent infractions, and possibly a ban.
			%li
				%p
					%b Copyright claims & takedown notices
					placed on a video will be considered against the rules of fair use in consideration with the type of claim laid.
					This does not automatically mean videos will be taken down. The content will be preliminarily removed for review,
					and if it is determined that the video's use of the copyrighted material is deemed 'fair use' or the report otherwise
					determined invalid, the video may then be restored and an infraction counted towards the reporting entity.
