.wrapper.full-width
	%h1 Website Policies and Terms
	%section.page.full-width
		%h1 Mission Statement
		%p
			Project Vinyl is here to serve as a safe haven and archive for brony artists and music.
			All content posted here is the property of their respective artists and abides by Fair Use unless stated otherwise.
			
		%h1 Guidelines and Code of Conduct
		%ol
			%li 
				We will not hesitate to remove uploads that violate fair use as per our
				= succeed '.' do
					%a{href: copyright_path} Copyright & Fair Use Guidlines
				Repeated uploading of copyrighted material for which the uploader does not have permission,
				or in some other way does not comply with Fair Used will result in a ban.
			%li
				Bullying, excessive violence, harrasment, or other discriminatory behavior is discouraged and will not be tolerated.
			%li
				We do not allow sexually explicit or gratuitously violent content.
				Videos that contain this type of content may be removed without notice
			%li
				If you are the original artist of a song on this website, you can claim ownership and do as you wish with it.
			%li
				Invalid copyright claims, or claims on videos found to fall properly withing the realm of fair use may not be aknowledge.
