%section.properties.ribbed.page.full-width.recent-comments
	%h1.title
		Comments (
		= number_with_delimiter @comments.count
		)
		%a.right{href: user_comments_path(@user)}
			View All
			= fa :chevron_right
	= render partial: 'comments/recent_set', locals: {comments: @comments.records}
