><a target="_blank" href="/users/sign_in" class="button action star"><i class="fa fa-star"></i></a
><a target="_blank" href="/users/sign_in" class="button action like">
	<i class="fa fa-thumbs-up"></i>
	<span>
		<% if @video.upvotes && @video.upvotes > 0 %>
			<span class="count"><%= @video.upvotes %></span>
		<% end %>
	</span>
</a
><a target="_blank" href="/users/sign_in" class="button action dislike">
	<i class="fa fa-thumbs-down"></i>
	<span>
		<% if @video.downvotes && @video.downvotes > 0 %>
			<span class="count"><%= @video.downvotes %></span>
		<% end %>
	</span>
</a
