<% title @video.title %>
<%= render partial: 'video' %>
<div class="page resize-holder column-right <% if @album %>column-mobile-fragmented<% end %> right center">
	<% if @album %>
	<%= render partial: 'album/inline' %>
	<% end %>
	<%= render partial: 'video/queue' %>
</div>
<section class="page column-left">
	<%= render partial: 'thread/view', locals: {identifier: @video.id, title: @video.get_title + " by " + @user.username } %>
</section>
