- title "Notifications"
- lim "900px"
%section.page.full-width.properties{ data: {count_targets: "notifs"}}
	%h1.title
		Notifications
		%span.count
			= surround '(', ')' do
				%span.number= current_user.notifications.length
	%ul.notifications
		- if @all.length > 0
			- @all.group_by(&:period).each do |week, n|
				%span.group
					%h4{title: localise(n.first.created_at).strftime("%d %B %Y")}= week
					= render partial: "notification", collection: n
		.empty-msg.center You have no unread notifications
