<%= render partial: 'view/breadcrumb', locals: {
	stack: [
		{ link: '/admin', title: 'Admin' }
	],
	title: "Tag Types"
} %>
<section class="page full-width listing compact">
	<div class="items">
		<span class="row heads">
			<div></div>
			<div>Type Name</div>
			<div>Total Tags</div>
			<div class="center">Hidden</div>
			<div>Implications</div>
		</span>
		<%= render partial: 'item', collection: @types %>
	</div>
	<span class="row foot">
		<a class="button button-bub bub" title="add" data-title="Add Tag Type" data-external-form="/admin/tagtypes/new">
			<i class="fa fa-plus"></i> Add New
		</a>
	</span>
</section>
