.avatar-wrapper
	.avatar
		- if user.dummy?
			= render 'users/avatar/avatar_bg_pony', user: user
		- else
			%span{style: format_bg(user.avatar)}
	- last_seen = user.last_active_at.nil? ? 'Never' : since(user.last_active_at)
	.online-indicator{class: user.online? && "online",
					title: user.online? ? "Online" : "Last Seen: #{last_seen}" }
