.avatar-wrapper
	.avatar
		- if user.is_dummy
			= render 'users/avatar/avatar_bg_pony', user: user
		- else
			%span{style: format_bg(user.avatar)}
	.online-indicator{class: user.online? && "online"}
