%svg(viewbox="0 0 282 282" xmlns="http://www.w3.org/2000/svg")
	- one = @user.username[0].to_i(36) * 0xffffff
	- "#91adda"
	- "#d0dcf1"
	%rect(fill="##{"%06x" % one}" width="282.05" height="282.05")
	%path(fill="#fff" opacity="0.4" d="m0.06051 218.95c13.392 4.5114 34.916 19.854 50.507 45.687 10.162-2.2379 22.4-1.5109 22.397-1.2498l0.04999-3.6494c-28.815-27.304-47.881-105.81-21.768-147.53-3.6873-21.706 4.3473-52.787 15.544-61.592 3.7434-2.9438 8.3473-0.97192 12.736 3.9012 29.411-29.46 37.471-26.779 46.662-28.421 5.2894-0.94491 41.03-25.907 85.335-4.8 25.098 11.957 40.604 41.68 42.039 61.087 1.4557 19.688-18.214 36.754-18.214 36.754 3.7455 5.743 16.217-1.9861 24.323 1.2863 10.054 4.0586 11.731 16.822 3.9178 25.572-5.115 5.7287-21.645 11.099-29.996 10.297-12.281-1.1801-23.973-7.1796-37.271-39.842 5.8626 22.043 3.3157 40.45-0.5656 59.388 4.3157 1.1544 8.5551 2.2352 9.8696 5.1257 3.0961 6.8083-16.155 35.214-57.945 34.749 15.696 20.931 18.262 44.842 15.451 66.34h-140.94c0.86066-1.1604 1.8501-2.2092 2.8987-3.2756-8.2111-6.5177-17.246-9.7526-25.091-11.442z")
	%circle(cx="141" cy="141" r="141" fill="transparent" stroke="#000" opacity="0.4" stroke-width="3px" style="filter: blur(4px);")
