%li(class="tag tag-users" data-namespace="users" data-slug="#{thumb_i.username}")>
	%i.fa.fa-times-circle.remove(title="Remove" data-name="#{thumb_i.username}")
	%a(href="#{thumb_i.link}")= thumb_i.username
