- title @user.username
- if @user.banner_set
	- banner("url('#{@user.banner}') center center/cover #000")
%hr
= render 'users/actions'
%hr
.wrapper.column-right.right.fixed-right-column= render 'users/profile_modules/right_column'
.wrapper.column-left.left.fixed-right-column= render 'users/profile_modules/left_column'
