#banner {
  height: 200px;
  background: url(../images/banner.png) no-repeat center left,
        url(../images/banner_b.png) center right #fff;
  transition: background-position 0.05s ease;
}

#banner .title {
  margin-top: 20px;
  height: 150px;
  max-width: 100%;
  overflow: hidden;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  float: left;
  font-size: 3em;
  padding: 20px;
  vertical-align: bottom;
  opacity: 0.65;
  text-decoration: none;
}

#banner .title img {
  float: left;
  max-width: 100%;
  height: 90px;
}

#banner-upload {
  width: 600px;
  height: 100px;
}

.banner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
}

.banner-overlay > div {
  position: relative;
  display: inline-block;
  float: right;
  background: rgba(255,255,255,0.8);
  padding: 10px;
  z-index: 999;
}

@media(max-width: 360px) {
  #banner .banner-overlay {
    display: inline;
    height: 200px;
  }
}
