.banner-overlay {
  position: absolute;
  width: 100%;
  height: 0;
}

.banner-overlay > div {
  position: relative;
  display: inline-block;
  float: right;
  background: rgba(255,255,255,0.8);
  padding: 10px;
  z-index: 999;
}
