<tr>
	<td>
		<button class="goto left slide-left" data-to="<%= prev %>" type="button">< Back</button>
	</td>
	<td>
		<button class="goto right slide-right" data-to="<%= next %>" type="button">Next ></button>
	</td>
</tr>
