%tr
	%td
		%button.goto.left.slide-left(data-to="#{prev}" type="button")
			= fa :chevron_left
			Back
	%td
		%button.goto.right.slide-right(data-to="#{@next}" type="button")
			Next
			= fa :chevron_right
