.tag-editor {
  display: block;
  position: relative;
  padding: 0;
  background: var(--input-background);
  border: 1px solid var(--input-border);
  border-radius: 5px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07) inset;
  text-shadow: 1px 1px #fafafa;
  cursor: text;
  transition: background 0.5s ease, border 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
  white-space: normal !important;
}
.tag-editor.focus {
  background: var(--input-background-focus);
}
.tag-editor .value {
  display: none !important;
}
.tag-editor .tag.input {
  min-width: 100px;
  max-width: 100%;
  border: none;
  background: none;
}

.properties td.field .tag-editor .tag.input {
  width: initial;
}

.tag-editor .tags .tag i.remove {
  vertical-align: middle;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  margin: -6px;
  border-radius: 100%;
  text-align: center;
  line-height: 1.35em;
  font-size: 1.5em;
  color: #f88;
  text-shadow: none;
  cursor: pointer;
  opacity: 0.8;
}
.tag-editor .tag .remove:hover {
  opacity: 1;
}

.tag-editor.pop-out-shown::before,
.tag-editor.pop-out-shown::after {
  display: none;
}
