.tags {
  display: inline;
  margin: 0;
  padding: 0;
}

.tag {
  --button-foreground: #343232;
  --button-background: #f3f3f3;
  --button-border-color: var(--button-foreground);
  --button-bottom-color: var(--button-top-color);

  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  margin: 2px;
  padding: 5px;
  border-radius: 15px;
  text-shadow: none;
  border: none;
}
.tag.source-link {
  display: flex;
}

.tag a, .tag span {
  text-decoration: none;
  color: var(--button-foreground);
  font-weight: initial;
  letter-spacing: 0.06em;
  flex-grow: 1;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tag .counter {
  background: rgba(0, 0, 0, 0.09);
  display: inline-block;
  padding: 5px 10px;
  margin: -5px;
  margin-left: 5px;
  flex-grow: 0;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tag m {
  flex-grow: 1;
}

.tags.artist-tags {
  display: inline-block;
  border-right: solid 1px var(--divider-color);
  padding-right: 5px;
  margin-right: 5px;
}
.tags.artist-tags .tag {
  --button-border-color: rgba(0,0,150, 0.3);
  float: initial;
  display: inline-block;
}

.tag .pop-out {
  margin-top: 0;
  width: 130px !important;
  min-width: 0;
}

.tag span.count {
  color: inherit;
}
.tag span.count[data-count="-1"] {
  display: none;
}
