- title @video.title
%section.page.full-width
	= render layout: 'pagination/paginated', locals: {type: video_changes_path(@video), paginated: @history, id: "page"} do
		= render partial: 'history/list', locals: {id: @video.id, items: @history.records}
