.regular-region
	%h1.title.resize-target
		= fw :music
		= featured_album.title
	%ul.horizontal.video-list#videos
		= render partial: 'videos/thumb/normal', collection: featured_album.video_set.sample(current_filter)
		= render partial: 'albums/thumb/normal', locals: {normal: featured_album}
