%tr.activity
	%td
		%span.avatar.small.left
			%span{style: format_bg(recent_thumb.comment_thread.user.avatar)}
	%td
		%div
			%a{class: recent_thumb.user.banned? && "banned", href: recent_thumb.user.link}= recent_thumb.user.username
			replied to
			%a{class: recent_thumb.comment_thread.locked && "banned", href: recent_thumb.link}= recent_thumb.comment_thread.title
		%div
			in 
			%a{href: recent_thumb.comment_thread.owner.link}= recent_thumb.comment_thread.owner.title
