%tr.activity
	%td
		.avatar-wrapper.small.left
			.avatar
				%span{style: format_bg(recent_thumb.comment_thread.user.avatar)}
	%td
		%div
			= render partial: 'users/link', locals: {user: recent_thumb.user}
			replied to
			%a{class: recent_thumb.comment_thread.locked && "banned", href: recent_thumb.link}= recent_thumb.comment_thread.title
		%div
			in 
			%a{href: recent_thumb.comment_thread.owner.link}= recent_thumb.comment_thread.owner.title
