%h1
	%a{href: search_index_path(tagquery: filter, orderby: order)}= label
%section.page.seamless.slim
	.group
		%ul.horizontal.latest
			= render partial: 'videos/thumb/normal', collection: collection
