.tab{@tab_selection_hash[:local]}(data-tab="local")
	%h1 Local Settings
	%table
		%tr
			%td.label Notifications
			%td.field
				%label.button
					%input#give_me_notifications(name="give_me_notifications" type="checkbox")
					= fa :check
					Enable
		%tr
			%td.label Theme
			%td.field
				%label.options
					%span Theme
					%select#theme(name="theme")= sensible_option_for_select(themes, current_theme)
