.group(data-stage="copy" style="white-space:normal")
	.notice
		If you believe that this video is using copyrighted material that does not fall in line with this site's
		%a(href="/fairuse") Fair Use Guidelines
		submit a report with the below form.
	%table
		%tr
			%td.label Name of copyright holder, entity, or organisation:
			%td.field= f.text_field :copyright_holder, required: true
		%tr
			%td.label(colspan="2")
				Describe 
				%b exactly
				where the offending content occurs in the video, and the conditions under which it is used.
		%tr
			%td.field(colspan="2")= f.text_area :copyright_usage, required: true
		%tr
			%td(colspan="2")
				%label
					%input(type="checkbox" name="copyright_accept" required="true" value="copyright_accept")
					* I am or represent the copyright holder for the identified content in this video
		= render partial: 'admin/report/slide_buttons', locals: {prev: 'start', next: 'final'}
