.video .story-cards .card .avatar-wrapper {
  height: var(--image-size);
  width: var(--image-size);
  left: var(--content-padding);
  top: var(--content-padding);
  flex-grow: 1;
  flex-shrink: 0;
  position: absolute;
  pointer-events: none;
}
