.video .story-cards-root,
.video .story-cards,
.video .story-cards .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video .story-cards-root {
  overflow: hidden;
}

.video .story-cards {
  left: calc((100% - var(--player-width)) / 2);
  width: var(--player-width);
}
.video[data-state="ready"] .story-cards-root {
  display: none;
}

.video .story-cards .shade {
  transition: background 1s ease;
  background: transparent;
  left: var(--player-inset);
}

.video .story-cards .card:hover ~ .shade {
  background: rgba(0, 0, 0, 0.6);
}


.video .story-cards .card .avatar-wrapper {
  height: var(--image-size);
  width: var(--image-size);
  left: var(--content-padding);
  top: var(--content-padding);
  flex-grow: 1;
  flex-shrink: 0;
  position: absolute;
  pointer-events: none;
}
