.notices-bell {
  position: relative;
}
.notices-bell[data-count]:not([data-count="0"])::after {
  position: absolute;
  content: attr(data-count);
  top: 7px;
  left: 50%;
  display: block;
  background: var(--notification-bobber-fill);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  color: var(--content-background);
  border-radius: 4px;
  font-size: 13px;
  padding: 4px;
  line-height: 1em;
  vertical-align: middle;
  animation: 1s bobben 0s 1;
  -webkit-animation: 1s bobben 0s 1;
  z-index: 90;
}

.notices-bell.rebuff[data-count]:not([data-count="0"])::after,
.notices-bell[data-count]:not([data-count="0"]):hover::after {
  animation: 1s bobbenagain 0s 1;
}
