%img(loading="lazy"){ src: video.tiny_thumb(current_user, current_filter),
					data: { fallback: { src: spoilered ? "/images/default-cover-g.svg" : "/images/default-cover.svg" } } }
- if spoilered
	- reason_title,reason_text = current_filter.spoiler_reason_for?(video)
	.overlay-element.bottom.left{title: reason_title}
		*
		= truncate reason_text
