
i.fa {
  transition: transform 0.2s;
}
.popper.pop-out-shown i.fa.fa-star,
.popper.pop-out-shown i.fa.fa-gear {
  transform: rotate(45deg);
}
.popup-container .popup .close:hover i.fa.fa-close,
.remove:hover i.fa.fa-close {
  transform: rotate(90deg);
}

.button.refresh:hover i.fa.fa-refresh {
  transform: rotate(180deg);
}
.remove-comment:hover i.fa.fa-undo {
  transform: rotate(-280deg);
}