.donate {
  text-align: left;
  --message-padding: 10px;
}
.donate [data-message] {
  position: relative;
  background: url('../images/sellout/aj.gif') center / 100%;
  padding-bottom: 100%;
  image-rendering: crisp-edges;
  border-radius: var(--thumb-border-radius);
}
.donate[data-sellout-variant="derpy"] [data-message] {
  background: url('../images/sellout/derpy.gif') center / 100%;
}
.donate[data-sellout-variant="tpa"] [data-message] {
  background: url('../images/sellout/tpa.jpg') center / 100%;
}
.donate[data-sellout-variant="scoots"] [data-message] {
  background: url('../images/sellout/scoots.gif') center / 100%;
}
.donate[data-sellout-variant="boppy"] [data-message] {
  background: url('../images/sellout/boppy.gif') center / 100%;
}
.donate.wide-donate[data-sellout-variant="boppy"] [data-message] {
  background-position-y: bottom -58px;
}

.donate [data-message]::after {
  transition: opacity 0.5s ease, right 0.5s ease;
  opacity: 0;
  position: absolute;
  bottom: var(--message-padding);
  left: var(--message-padding);
  right: var(--message-padding);
  border-radius: inherit;
  padding: 5px;
  background: rgba(255,255,255,0.3);
  color: #555;
  content: attr(data-message);
  text-decoration: none;
}
.donate [data-message]:hover::after {
  opacity: 1;
}
.donate.thin-donate {
  padding: 3px;
}
.donate.thin-donate [data-message] {
  padding-bottom: 50%;
}
.donate.wide-donate [data-message] {
  padding-bottom: 15%;
}

.donate .source {
  text-align: right;
}