.drop-down {
  margin-top: -1px;
  position: absolute;
  right: 0;
  top: 100%;
  min-width: 130px;
  display: block;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  height: initial;
  z-index: 20;
  box-shadow: 0px 3px 9px -3px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

li:hover > .drop-down,
.drop-down-holder:hover .drop-down,
.drop-down-holder.hover .drop-down {
  transition: opacity 0.25s ease, visibility 0.25s ease;
  visibility: visible;
  opacity: 1;
}

.drop-down.pop-out {
  min-width: 100%;
  width: auto;
  right: auto;
}
.drop-down.pop-out span {
  color: inherit;
}

.drop-down li {
  color: #337287;
  background: #fff;
}
.drop-down li a {
  padding: 0 10px;
  width: 100%;
  font-size: 13px;
}
.drop-down li:hover {
  background: #eee;
}

.drop-down .drop-down {
  left: 100%;
}

.drop-down .divider {
  border-top: solid 1px #aaf;
}
