.featured .post {
  padding-top: var(--content-block-padding-half);
}
.featured .scoring {
  display: flex;
  margin-top: 5px;
}
.featured .like-dislike {
  flex-grow: 1;
}
.featured .description {
  overflow: hidden;
  max-height: 200px;
}
.featured .description img,
.featured .description div {
  display: none;
}

.featured .thumb {
  --thumb-width: 100% !important;
}
.featured .thumb .tile {
  --thumb-height: 150px;
  --thumb-width: 100%;
}
.featured .video, .featured video {
  border-radius: var(--thumb-border-radius);
}