.featured .post {
  padding-top: var(--content-block-padding-half);
}
.featured .scoring {
  display: table;
  width: 100%;
  border-spacing: 5px;
  border-collapse: separate;
  text-align: center;
  margin-top: 5px;
}
.featured .scoring span,
.featured .scoring a {
  display: table-cell;
  min-height: 0px;
}
.featured .description {
  overflow: hidden;
  max-height: 200px;
}
.featured .description img,
.featured .description div {
  display: none;
}

.featured .thumb {
  --thumb-width: 100% !important;
}
.featured .thumb .tile {
  --thumb-height: 150px;
  --thumb-width: 100%;
}
.featured .video, .featured video {
  border-radius: var(--thumb-border-radius);
}