.hovercard {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: left 30px;
  transition:
    opacity 0.25s ease,
    visibility 0.25s ease,
    transform 0.25s ease;
  z-index: 200;
  font-style: initial;
  font-size: 13px;
  top: calc(50% - 30px);
  left: 100%;
  --gradient-light: #fff;
  --gradient-dark: #f5f5ff;
  --gradient-middle: #f8f8ff;
}
.user-link:focus .hovercard:not(.hidden),
.user-link:focus-within .hovercard:not(.hidden),
.user-link:hover .hovercard:not(.hidden) {
  transform: scaleY(1);
  visibility: visible;
  opacity: 1;
}
.hovercard.loading .bio {
  min-height: 0;
  transition: min-height 0.25s ease;
}

.post .hovercard .avatar-wrapper {
  float: none;
  margin: 0px;
}
.hovercard li {
  list-style: none;
}

.hovercard li.bio {
  background: repeating-linear-gradient(
    45deg,
    var(--gradient-dark) 0%,
    var(--gradient-light) 25%,
    var(--gradient-middle) 50%,
    var(--gradient-light) 75%,
    var(--gradient-middle) 100%
  );
}

.listing.compact .hovercard span {
  padding: 0;
  color: inherit;
}
.listing.compact .hovercard div {
  display: block !important;
}

.hovercard::before {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: -14.5px;
  border: solid 10px;
  border-color: transparent var(--block-border-color) transparent transparent;
}
.hovercard::after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: -14px;
  border: solid 10px;
  transition: border-color 0.5s ease;
  border-color: transparent var(--gradient-middle) transparent transparent;
}