.hovercard {
  position: absolute;
  transition: transform 0.5s ease;
  transform-origin: 0 0;
  transform: scale(0,0);
  top: 50%;
  left: 50%;
  z-index: 200;
  margin: -20px;
  font-style: initial;
  font-size: 13px;
  
  --gradient-light: var(--content-background);
  --gradient-dark: #f5f5ff;
  --gradient-middle: #f8f8ff;
}
.post .hovercard .avatar-wrapper {
  float: none;
  margin: 0px;
}
.hovercard li {
  list-style: none;
}

.hovercard li.bio {
  box-shadow: 1px 1px var(--block-radius) 0 var(--block-shadow-color);
  border-radius: var(--block-radius);
  background: repeating-linear-gradient(
    45deg,
    var(--gradient-dark) 0%,
    var(--gradient-light) 25%,
    var(--gradient-middle) 50%,
    var(--gradient-light) 75%,
    var(--gradient-middle) 100%
  );
  background: webkit-repeating-linear-gradient(
    45deg,
    var(--gradient-dark) 0%,
    var(--gradient-light) 25%,
    var(--gradient-middle) 50%,
    var(--gradient-light) 75%,
    var(--gradient-middle) 100%
  );
}

.hovercard.shown {
  transform: scale(1,1);
}

.listing.compact .hovercard span {
  padding: 0;
  color: inherit;
}
.listing.compact .hovercard div {
  display: block !important;
}
