.online-indicator {
  display: inline-block;
  position: absolute;
  background: #a5a5a5;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: solid 3px var(--content-background);
}

.online-indicator.online {
  background: #90d547;
}

.avatar-wrapper .online-indicator {
  bottom: 7%;
  right: 7%;
}

.avatar-wrapper.large .online-indicator {
  transform: scale(1.5);
  bottom: 10%;
  right: 10%;
}

.avatar-wrapper.medium .online-indicator {
  transform: scale(0.8);
  bottom: 0%;
  right: 0%;
}
