
.pagination .pages {
  border-radius: 3px;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: bottom;
}
.pagination .pages .button {
  border: none;
  border-radius: 0;
}
.pagination .pages .button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination .pages .button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pagination .pages .button ~ .button {
  border-left: solid 1px #ccc;
}
