
.pagination {
  text-align: center;
  padding: 5px 0;
}

.pagination .pages {
  display: inline-flex;
  gap: 2px;
  vertical-align: bottom;
}
.pagination .pages .button {
  border-radius: 10%;
  box-shadow: none;
  display: inline-block;
  padding: 3px 13px;
}
