.reorderable {
  position: relative;
  
  --handle-color: #ddd;
  --handle-shadow: #eee;
}
.reorderable.ordering,
.reorderable.ordering * {
  cursor: move !important;
}

.reorderable .handle {
  width: 13px;
  color: var(--handle-color);
  text-shadow: 0 0 3px var(--handle-shadow);
  cursor: move;
  line-height: 0;
  vertical-align: middle;
  font-weight: normal;
  text-rendering: geometricPrecision;
}
.reorderable span.bump {
  display: none;
  height: 30px;
	margin-top: -30px;
}
.reorderable.ordering span.bump {
  display: block;
}

.reorderable .floater {
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  min-height: auto;
  margin-top: -10px; /* Account for the height of the bump*/
  background: var(--content-background);
}

.reorderable .floater .floater-hidden {
  display: none;
}

.listing.compact .ordering span.bump {
  display: table-caption;
}

.listing.compact .floater {
  padding: 0 !important;
}
.listing.compact .row .handle {
  font-size: 20px;
  border-right: solid 1px var(--divider-color);
}
.reorderable .grabbed {
  opacity: 0.2;
  pointer-events: none;
}

