.reorderable {
  position: relative;
}
.reorderable.ordering,
.reorderable.ordering * {
  cursor: move !important;
}

.reorderable .handle {
  width: 13px;
  border-right: solid 1px var(--divider-color);
  color: #ddd;
  text-shadow: 0 0 3px #eee;
  cursor: move;
  font-size: 20px;
  line-height: 0;
  vertical-align: middle;
  font-weight: normal;
  text-rendering: geometricPrecision;
}
.reorderable span.bump {
  display: table-caption;
  height: 10px;
	margin-top: -10px;
}

.reorderable .floater {
  position: absolute;
  padding: 0 !important;
  pointer-events: none;
  left: 0;
  right: 0;
  margin-top: -10px; /* Account for the height of the bump*/
  background: var(--content-background);
}
.reorderable .grabbed {
  opacity: 0;
  pointer-events: none;
}
