.slide-group {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.slide-group .group {
  transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  -webkit-transform: translate(0%, 0);
  -moz-transform: translate(0%, 0);
  transition: transform 0.5s ease;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 0;
}
.slide-group .slide-switch {
  cursor: pointer;
}
.slide-group.animating .group, .slide-group .group.active {
  height: initial;
}

.slide-holder .slide-nav {
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}
.slide-holder .slide-nav a {
  display: inline-block;
  text-align: center;
  width: 87.5%;
  float: left;
  padding: 5px;
}
.slide-holder .slide-nav .slide-left, .slide-holder .slide-nav .slide-right {
  width: 12.5%;
  transition: background 0.25s ease;
  cursor: pointer;
}

.slide-holder .slide-right {
  border-left: solid 1px rgba(0,0,0,0.1);
}
.slide-holder .slide-left {
  border-right: solid 1px rgba(0,0,0,0.1);
}

.slide-holder .slide-left:hover, .slide-holder .slide-right:hover {
  background: rgb(250,250,250);
}