.stats {
	padding: 5px;
}
.stats + .stats {
	border-top: solid 1px #eee;
}
.stats:hover {
	background: rgba(100,100,100,0.03);
}
.stat-bar {
	position: relative;
  height: 30px;
  border: solid 1px var(--bar-border-base-color);
  border-right: solid 1px var(--bar-border-color);
  border-top: solid 1px var(--bar-border-color);
  overflow: hidden;
  border-radius: 3px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.stat-bar .stat {
  --hor: 10px;
  --x: 0;
  --y: 0;

	position: absolute;
	transition: background 1s linear;
	background: transparent;
	bottom: 0;
  right: calc(var(--x) * var(--hor) * 100%);
  width: calc(var(--hor) * 100%);
  height: 100%;
}
.stat-bar .stat:hover {
	transition: background 0.125s ease;
	background: var(--highlight-color);
}
.stat-bar .stat::before {
  content: '';
	position: absolute;
	bottom: 0;
  height: calc(var(--y) * 100%);
	width: 100%;
	background: var(--bar-fill);
}
.stat:hover .bar {
	background: var(--bar-fill-hover);
}
