.profile-column.reorderable(data-target="/users/#{@user.id}/profile_columns/0/items")
	%span.bump(data-index="-1")
	= render partial: 'users/profile/part', collection: @user.profile_modules.left_column
