= render 'users/profile/bio'
= render 'users/profile/left_column/tags'
= render 'users/profile/left_column/stats'
= render partial: 'users/profile/part', collection: @user.profile_modules.right_column
