- spoilered = album_item.video.hidden || current_filter.video_spoilered?(album_item.video)
%a.row{href: !spoilered && album_item.link,
			 class: [spoilered && 'hidden-item',
							@index == album_item.index && 'selected scroll-focus',
							video_seen?(album_item.video_id) && 'seen'],
				data: {id: album_item.id, index: album_item.index, "video-id": album_item.video_id, "album-id": album_item.album_id}}
	.cell.primary(title="#{album_item.tooltip}")
		.nowrap.title
			- if spoilered
				\----------
			- else
				= album_item.title
		- if !album_item.video.hidden
			.secondary.author= album_item.video.user.username
	- if @album_editable
		.cell.secondary.remove(title="Remove" data-id="#{album_item.id}")= fa :times
