%li.generic
	%a.album{href: thumb_h.link}
		%span.tile.stack= render 'albums/tile_stack', items: thumb_h.album_items.order(:index)
		.title
			= render 'albums/visibility', album: thumb_h
			= thumb_h.title
		%span.date{title: thumb_h.created_at.in_time_zone}= since thumb_h.created_at
		%span.tag-set.right
			=thumb_h.album_items.count
			Videos
