%span.stack-item.item-1{style: format_bg(Video.thumb_for(items.second, current_user, current_filter))}
	%span.stack-item.item-2{style: format_bg(Video.thumb_for(items.first, current_user, current_filter))}
