.listing.compact .row-spanned {
  position: relative;
  margin-top: 100%;
  width: 100%;
  overflow: hidden;
  background: inherit;
}

.listing.compact .row-spanned > .content {
  position: absolute;
  width: calc(100%);
  height: 100%;
  background: var(--content-background);
  max-width: 100%;
  padding: 0 !important;
}

.listing.compact .items .row.row-spanned > .content div {
  display: block;
}
