.wrapper {
  --columns-gap: 20px;
  --min-column-right-width: 280px;
  --max-column-right-width: 450px;
  --right-column-width: calc(100% / 3);
}
.fixed-right-column {
  --right-column-width: calc(min(
      var(--max-column-right-width),
      max(var(--min-column-right-width),
      33vw
  )));
}

.wrapper .wrapper.column-left,
.wrapper .page.column-left {
  --left-column-width: calc(var(--site-width) - var(--right-column-width));
  width: calc(var(--left-column-width) - var(--columns-gap) / 2);
  margin-left: 0px;
  margin-right: 0px;
}
.wrapper .wrapper.column-right,
.wrapper .page.column-right {
  width: calc(var(--right-column-width) - var(--columns-gap) / 2);
  margin-right: 0px;
  margin-left: 0px;
}

@media(max-width: 800px) {
  .wrapper .wrapper.right,
  .wrapper .wrapper.left {
    width: 100% !important;
    float: none;
  }
  .wrapper .wrapper.left > .page,
  .wrapper .wrapper.right > .page {
    margin: 10px 0 !important;
  }
}
