.page {
  --content-block-padding: 20px;
  position: relative;
  min-height: 100%;
  display: inline-block;
  background: var(--content-background);
  padding: var(--content-block-padding);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
  border-radius: var(--block-radius);
}
.page.slim {
	--content-block-padding: 0;
	transition: width 0.25s ease, height 0.25s ease;
}
.page h1 {
  margin: calc(var(--content-block-padding) * -1);
  margin-bottom: 10px;
}

div.group {
  overflow: hidden;
}
.page > div.group {
  margin: calc(var(--content-block-padding) * -1);
  padding: var(--content-block-padding);
}
.page > div.group h3 a {
  text-decoration: none;
}

.page img, .notice {
  max-width: 100%;
}

div.page.slim section {
	padding: var(--content-block-padding);
}
div.page.slim section.slim {
	padding: 0;
}
div.page .positioner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 30px 40px 30px 40px;
}

.wrapper .page {
  vertical-align: top;
  margin-bottom: 20px;
  max-width: 100%;
}

.page.collapse-padding {
   padding-left: 0;
   padding-right: 0;
}
.page.collapse-padding h1 {
  margin-left: 0;
  margin-right: 0;
}

.wrapper > .wrapper > .page {
   margin-left: 0;
   margin-right: 0;
}

@media(max-width: 800px) {
  .page.right, .mobile-hidden {
    display: none;
  }
  .page {
    width: 100% !important;
  }
}
