footer {
  display: block;
  position: relative;
  margin-top: 40px;
  color: var(--content-background);
  background: var(--content-background);
}

footer::before {
  top: 0;
  opacity: 0.6;
}

footer a {
  color: #aaa;
}
footer a:not(:hover) {
  text-decoration: none;
}

footer .logo {
  display: block;
  font-weight: bold;
  background: var(--footer-buffer-color);
  color: var(--content-background);
  text-shadow: 0px 1px 3px #000;
  vertical-align: top;
  opacity: 0.7;
  vertical-align: middle;
  text-decoration: none;
  border-bottom: solid 1px var(--block-border-color);
  transition: color 1s ease;
  font-size: 2em;
  padding: 5px;
}

footer .blocks {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: left;
  max-width: var(--site-width);
  color: var(--no-link-color);
  align-items: stretch;
}

footer .block {
  vertical-align: top;
  flex-grow: 1;
  flex-basis: 200px;
  background: var(--content-background);
  transition: background 0.5s ease;
  padding: 16px;
}
footer .block:hover {
  background: var(--content-highlight);
}


footer .block + .block {
  border-left: solid 1px var(--block-border-color);
}

footer .block ol {
  padding-left: 20px;
  list-style: none;
}

/*Gradients*/
.header ul li:hover::after,
.header ul li.selected::after,
footer::before, .header .drop-down::after, .header .sparkline {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  margin: 0;
  pointer-events: none;
  opacity: 1 !important;
}

footer::before,
footer .sparkline,
.header ul .sparkline,
.header .drop-down::after {
  --gradient-color-start: #6aaadd;
  --gradiant-color-stop-a: #e6b91f;
  --gradiant-color-stop-b: #e97135;
  --gradient-color-end: #a66ebe;

  background: -webkit-linear-gradient(90deg,
        var(--gradient-color-start) 0,
        var(--gradiant-color-stop-a) 33%,
        var(--gradiant-color-stop-b) 66%,
        var(--gradient-color-end) 100%);
  background: -moz-linear-gradient(90deg,
        var(--gradient-color-start) 0,
        var(--gradiant-color-stop-a) 33%,
        var(--gradiant-color-stop-b) 66%,
        #a66ebe 100%);
  background: -o-linear-gradient(90deg,
        var(--gradient-color-start) 0,
        var(--gradiant-color-stop-a) 33%,
        var(--gradiant-color-stop-b) 66%,
        var(--gradient-color-end) 100%);
  background: linear-gradient(90deg,
        var(--gradient-color-start) 0,
        var(--gradiant-color-stop-a) 33%,
        var(--gradiant-color-stop-b) 66%,
        var(--gradient-color-end) 100%);
}
footer .sparkline {
  display: inline-block;
  line-height: 1em;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: none !important;
}
footer .sparkline a {
  color: transparent;
}
