
.grid-root {
  --grid-spacing: 60px;
  --grid-column-width: 215px;
}

.grid-root.column-left {
  width: 76%;
}

.grid-root.column-right {
  width: var(--grid-column-width);
  --grid-spacing: 15px;
  --grid-column-width: 310px;
}