
.header ul {
  background: var(--header-nav-background);
  color: var(--header-nav-foreground);
  font-weight: bold;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  height: 100%;
}

.header ul li, .header ul a {
  font-size: 20px;
  display: inline-block;
  line-height: 40px;
  text-shadow: 0 0.05em 0.03em rgba(0,0,0,0.3);
  text-decoration: none;
  transition: color 0.05125s linear, background-color 0.05125s linear;
  vertical-align: middle;
  cursor: pointer;
}
.header ul li .icon {
  cursor: pointer;
  padding: 12px;
  padding-right: 2px;
}
.header ul li {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  color: #008;
}

.header ul a {
  margin-top: -5px;
  color: inherit;
}

.header .drop-down {
  height: initial;
}

.header .drop-down,
.header .drop-down li,
.header .drop-down a {
  color: #337287;
  text-shadow: none;
}
.header .drop-down li {
  display: block;
  margin: 0;
  width: 100%;
  padding: 0;
}
.header .drop-down .icon {
  padding: 2px;
}

.header ul li::after {
  z-index: 200;
  opacity: 0;
}
.header ul li:hover::after {
  z-index: 300;
}
.header ul li:hover::after, .header ul li.selected::after {
  opacity: 1;
}

.header .sparkline {
  bottom: 0;
}
.header ul.drop-down {
  padding: 0;
}
