
.header ul {
  background: #fff;
  color: #aaa;
  font-weight: bold;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  height: 40px;
}

.header ul li, .header ul li a {
  font-size: 20px;
  display: inline-block;
  line-height: 40px;
  text-shadow: 0 0.05em 0.03em rgba(0,0,0,0.3);
  text-decoration: none;
  transition: color 0.05125s linear, background-color 0.05125s linear;
  vertical-align: middle;
  cursor: pointer;
}
.header ul li {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 10px;
  color: #008;
}

.header ul li a {
  margin-top: -5px;
  color: inherit;
}

header ul li:hover {
  background: #eee;
}

header.header ul li a {
  font-size: 13px;
}

.header ul li:after {
  transition: opacity 0.5s linear;
  z-index: 200;
  opacity: 0;
}
.header ul li:hover:after {
  z-index: 300;
}
.header ul li:hover:after, .header ul li.selected:after {
  opacity: 1;
}

.header ul::before {
  bottom: 0;
}
.header ul.drop-down {
  padding: 0;
}
