html, body {
  --site-width: 85vw;
  background: var(--site-background);
}

main {
  display: inline-block;
  position: relative;
  text-align: left;
  width: var(--site-width);
  min-height: 100%;
}
