html, body {
  --site-width: 85vw;
  background: var(--site-background);
  overflow: hidden;
}
@media(max-width: 630px) {
  html, body {
    --site-width: 100%;
  }
}

main {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
  max-width: var(--site-width);
  min-height: 100%;
  flex-grow: 1;
  align-self: center;
}
