nav {
  margin-top: 200px;
  height: 40px;
}

nav > ul > li {
  opacity: 0.6;
}
nav > ul > li:hover, nav > ul > li.selected {
  opacity: 1;
  transition: opacity 0.25s ease;
}

nav .albums:hover:after, nav .albums:hover,
nav .albums.selected, nav .albums.selected:after {
  background: #e6b91f;
}
nav .artists:hover:after, nav .artists:hover,
nav .artists.selected, nav .artists.selected:after {
  background: #e97135;
}
nav .genres:hover:after, nav .genres:hover,
nav .genres.selected, nav .genres.selected:after {
  background: #a66ebe;
}
nav .forum:hover:after, nav .forum:hover,
nav .forum.selected, nav .forum.selected:after {
  background: #6aaadd;
}
nav ul li:hover, nav ul li.selected {
  color: #fff;
}

@media(max-width: 470px) {
  nav > ul li, nav > ul li a {
    font-size: 13px !important;
  }
}

nav > ul li a i {
  display: none !important;
}

@media(max-width: 360px) {
  nav > ul li:hover a i + span,
  nav > ul li a i {
    display: inline !important;
  }
  nav > ul li a i + span {
    display: none;
  }
}
