nav {
  margin-top: 160px;
  min-height: 40px;
  
  --tint-album: #e6b91f;
  --tint-artist: #e97135;
  --tint-user: #e61f8f;
  --tint-genre: #a66ebe;
  --tint-forum: #6aaadd;
}

nav > ul > li {
  opacity: 0.6;
}
nav > ul > li:hover, nav > ul > li.selected {
  opacity: 1;
}

nav .albums:hover:after, nav .albums:hover,
nav .albums.selected, nav .albums.selected ~ .sparkline {
  background: var(--tint-album);
}
nav .artists:hover:after, nav .artists:hover,
nav .artists.selected, nav .artists.selected ~ .sparkline {
  background: var(--tint-artist);
}
nav .users:hover::after, nav .users:hover,
nav .users.selected, nav .users.selected ~ .sparkline {
    background: var(--tint-user);
}
nav .genres:hover:after, nav .genres:hover,
nav .genres.selected, nav .genres.selected ~ .sparkline {
  background: var(--tint-genre);
}
nav .forum:hover:after, nav .forum:hover,
nav .forum.selected, nav .forum.selected ~ .sparkline {
  background: var(--tint-forum);
}
nav ul li:hover, nav ul li.selected {
  color: var(--content-background);
}

@media(max-width: 700px) {
  nav > ul li, nav > ul li a {
    font-size: 13px !important;
  }
}

nav > ul li a > i {
  display: none !important;
}

@media(max-width: 700px) {
  nav > ul li a i {
    padding-right: 10px;
    display: inline !important;
  }
}
