nav {
  --nav-height: 40px;
  margin-top: calc(var(--banner-height) - var(--nav-height));
  min-height: var(--nav-height);
}
nav .albums {
  --nav-item-tint: #e6b91f;
}
nav .videos {
  --nav-item-tint: #e97135;
}
nav .users {
  --nav-item-tint: #e61f8f;
}
nav .genres {
  --nav-item-tint: #a66ebe;
}
nav .forum {
  --nav-item-tint: #6aaadd;
}

nav > ul > li {
  opacity: 0.6;
}
nav > ul > li:focus,
nav > ul > li:hover, nav > ul > li.selected {
  opacity: 1;
}

@media(min-width: 700px) {
  nav .tinted-nav-item:focus:after, nav .tinted-nav-item:focus,
  nav .tinted-nav-item:hover:after, nav .tinted-nav-item:hover,
  nav .tinted-nav-item.selected {
    background: var(--nav-item-tint);
  }

  nav ul li:hover, nav ul li.selected {
    color: var(--header-nav-foreground-active);
  }
}

@media(max-width: 700px) {
  nav > ul li, nav > ul li a {
    font-size: 13px !important;
  }
}

nav > ul li a > i {
  display: none !important;
}

@media(max-width: 700px) {
  nav > ul li a i {
    padding-right: 10px;
    display: inline !important;
  }
}
