div.group {
  overflow: hidden;
}
.page > div.group {
  margin: -20px;
  padding: 20px;
}
.page > div.group h3 a {
  text-decoration: none;
}

.post {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.post > * {
  vertical-align: top;
}

.post + .post {
  margin-top: 10px;
  border-top: 1px solid var(--block-border-color);
}

.post .avatar-wrapper {
  float: left;
  max-width: 100%;
  max-height: 240px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-content {
  word-wrap: break-word;
}

.post .subheading {
  margin-bottom: 10px;
}

.post .date {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px 10px 20px;
}

.post .actions, .post .details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--block-border-color);
}

.post-tags.editing .normal, .post-tags .editing {
  display: none;
}
.post-tags.editing .editing {
  display: block;
}

.description a {
  font-weight: initial;
}

.tag-header {
  vertical-align: middle;
  min-height: 8em;
  padding-top: 1em;
}
.tag-header .title {
  font-size: 2.22em;
  padding: 0;
  line-height: 0;
}
.post .tag-header {
  margin-left: 8em;
}

@media(min-width: 450px) {
  .artist-bio .post .title {
    margin-left: 240px;
  }
}

@media(max-width:600px) {
  .artist-bio {
    text-align: center;
  }
  .artist-bio h1, .artist-bio .actions, .artist-bio .details {
    text-align: left;
  }
  .artist-bio .post .title {
    display: block;
    margin-left: 0;
  }
}

@media(max-width:850px) {
  .page > div.group {
    padding: 0;
  }
  .page > div.group h1 {
    margin: 0;
  }
}


@media(max-width:750px) {
  .post .action.mobile-friendly span {
    display: none;
  }
}
