.stick-top {
  position: sticky;
  top: 0;
}

.stick-bottom {
  position: sticky;
  bottom: 0;
}

.sticky-action-bar, .sticky-overlay {
  position: sticky;
  z-index: 50;
}

.sticky-action-bar {
  background: var(--content-background);
  border-radius: var(--block-radius);
}