
.wrapper .wrapper {
  margin-left: -5px;
  margin-right: -5px;
}

.wrapper.error-page-wrapper {
  max-width: 500px;
  padding: 50px 0;
}

.full-width {
  width: 100%;
}
.half-width {
  width: 100%;
  max-width: 340px !important;
}
