ul.horizontal.genre-list {
  overflow: visible;
}

li.genre {
  min-height: 150px;
}

.tag-list, .date, .source {
  font-size: 0.8em;
}
.tag-list > .overflow {
  display: none;
  border-bottom: none;
}
.tag-list.show-all > .overflow {
  display: inline;
}
.tag-list, .date, .source, .underline a {
  font-style: italic;
}
.tag-list, .date, .source, .underline a, .tag-list a {
  color: #aaa;
  text-decoration: none;
  font-weight: normal;
}