= render 'view/multi_input',
	display: true,
	placeholder: "Tag list...",
	path: find_tags_path,
	type: 'tags',
	tags: (tags ? tags.includes(:tag_type) : []),
	data: (tags ? tags.jsons(current_user) : []) do
		= yield
