- if tags.length == 1
  - @tag = tags.first
  - @implies = @tag.implications
  - @implied = @tag.implicators
  - @total_videos = @tag.videos.length
  - @total_users = @tag.users.length
  - @aliases = @tag.aliases
  = render 'tags/bio'
- else
  .post
    %ul.tags= render partial: 'tags/thumb/normal', collection: tags
%hr
