.tile {
  --aspect-ratio: 0.49;
  --overlay-buffer: 5px;
  --thumb-height: calc(var(--thumb-width) * var(--aspect-ratio));

  position: relative;
  display: inline-block;
  vertical-align: top;

  width: 100%;
  max-width: var(--thumb-width);
  max-height: calc(var(--thumb-height) + 80px);
  min-height: var(--thumb-height);
  padding: 0;

  text-align: left;
  text-decoration: none;
  background: #000 center/cover no-repeat;
  border-radius: var(--thumb-border-radius);
  color: #fff;
}
.tile img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
