.tile {
  --aspect-ratio: calc(16 / 9);
  --overlay-buffer: 5px;
  --overlay-element-radius: var(--overlay-buffer);
  --thumb-height: calc((var(--thumb-width) - var(--thumb-padding, 0px) * 2) / var(--aspect-ratio));

  position: relative;
  display: inline-block;
  vertical-align: top;

  width: 100%;
  max-width: var(--thumb-width);
  max-height: calc(var(--thumb-height) + 80px);
  min-height: var(--thumb-height);
  padding: 0;

  text-align: left;
  text-decoration: none;
  background: #000 center/contain no-repeat;
  border-radius: var(--thumb-border-radius);
  color: #fff;
}

.tile img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transform: scale(1.008445);
}
