#filters.overlay-element
	%select{ data: {method: :put, url: current_filter_path}, name: :filter_id}
		%optgroup(label="Current Filter")
			%option{value: current_filter.id}=current_filter.name
		- if user_signed_in?
			- @your_filters = SiteFilter.where(user_id: current_user.id).where.not(id: current_filter.id)
			- if @your_filters.length > 0
				%optgroup(label="Your Filters")
				- @your_filters.each do |i|
					%option{value: i.id}=i.name
		- @global_filters = SiteFilter.where(user_id: nil).where.not(id: current_filter.id)
		- if @global_filters.length > 0
			%optgroup(label="Global Filters")
				- @global_filters.each do |i|
					%option{value: i.id}=i.name
	%a(title="Site Filters"){href: filters_path }= fa :filter
