%a#login.overlay-element.sharp-right(data-external-form="#{new_user_session_path}.json" data-icon="sign-in" data-title="Login" data-thin="true" href="#{new_user_session_path}")
	%span
		= fa :sign_in
		Login / Sign Up
