!!! HTML 5
%html(lang="en")
	%head
		%meta(http-equiv="Content-type" content="text/html; charset=utf-8")
		= stylesheet_link_tag 'mastodon'
	%body.embed
		%iframe(allowfullscreen
			sandbox="allow-top-navigation allow-scripts allow-popups allow-popups-to-escape-sandbox"
			src="https://www.mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Fequestria.social%2Fusers%2Fprojectvinyl&theme=dark&size=100&header=true&replies=false&boosts=false")
