.context-3d {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
  perspective-origin: 0 100px;
  height: 100%;
  background: inherit;
}
