.context-3d .layer-background, .context-3d .layer-foreground {
  position: absolute;
  transform-style: preserve-3d;
  width: 100%;
}

.layer-background .far {
  transform: translateX(200%) translateZ(-1200px) scale(5.3);
}
.layer-background .near {
  transform: translateX(50%) translateZ(-300px) scale(2);
}

.layer-foreground {
  z-index: 2;
}

.layer-foreground.body {
  margin-top: 240px;
  background: inherit;
  z-index: 1;
}
