.derpy {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  border: none;
}

.derpy .derp {
  height: 200px;
}

.derpy .derp.variant_1 {
  background: url(/images/mail_1.svg) center/contain no-repeat;
}

.derpy .derp.variant_2 {
  background: url(/images/mail_2.svg) center/contain no-repeat;
}
