.mail_derpy {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  border: none;
}
.mail_derpy .derpy {
  background: url(/images/mail_1.png) center/contain no-repeat;
  height: 200px;
}
