.mail_derpy, .warden_derpy {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  border: none;
}

.derpy {
  height: 200px;
}

.mail_derpy .derpy {
  background: url(/images/mail_1.png) center/contain no-repeat;
}

.warden_derpy .derpy {
  background: url(/images/derpy.png) center/contain no-repeat;
}
