.fade-away {
  position: relative;
}
.fade-away::after {
  pointer-events: none;
  position: absolute;
  content: '';
  bottom: 0;
  height: 50%;
  right: 0;
  left: 0;
  background: -webkit-linear-gradient(0deg, var(--fade-start) 30%, var(--fade-end) 100%);
  background: linear-gradient(0deg, var(--fade-start) 30%, var(--fade-end) 100%);
}
