.small {
  font-size: 25%;
}

.red {
  color: #ec4848;
}
.green {
  color: #7bb042;
}

.tiny-link {
  font-style: italic;
  color: #aaa;
  font-weight: normal;
  font-size: 0.8em;
  text-decoration: none;
}

.bubble-link {
  display: inline-block;
  padding: 5px;
  border-radius: 15px;
  transition: background 0.5s ease;
  text-decoration: none;
  background: #fafafa;
  box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.05) inset;
}
.bubble-link:hover {
  background: #efefef;
}

.underline > span, .underline a {
  border-bottom: dotted 1px #aaa;
}

a.source {
  text-decoration: none;
}

h1.banned, h2.banned, a.banned, .banned a.user-link, .comment .name a.user-link.banned, .name.banned {
  text-decoration: line-through !important;
  color: #aaa !important;
}
