.small {
  font-size: 25%;
}

.red {
  color: #ec4848;
}
.green {
  color: #7bb042;
}
.blue {
  color: #7b42b0;
}

.tiny-link {
  font-style: italic;
  color: var(--no-link-color);
  font-weight: normal;
  font-size: 0.8em;
  text-decoration: none;
}

.checkerboard {
  background-color: var(--checkerboard-background);
  background-image: url('data:image/svg+xml,<svg%20width="20"%20height="20"%20xmlns="http://www.w3.org/2000/svg"><g%20fill="%23eee"%20opacity="1"><rect%20width="10"%20height="10"/><rect%20width="10"%20height="10"%20x="10"%20y="10"/></g></svg>');
}

.bubble-link {
  display: inline-block;
  padding: 5px;
  border-radius: 15px;
  transition: background 0.5s ease;
  text-decoration: none;
  background: var(--bubble-color);
}
.bubble-link:hover {
  background: var(--bubble-hover-color);
}

.underline > span, .underline a {
  border-bottom: dotted 1px var(--no-link-color);
}

a.source {
  text-decoration: none;
}

h1.banned, h2.banned, a.banned, .banned a.user-link, .comment .name a.user-link.banned, .name.banned {
  text-decoration: line-through !important;
  color: var(--no-link-color) !important;
}
