h1 {
  border-bottom: solid 1px var(--heading-border-color);
  padding: 20px;
}

h1 > i.fa {
  line-height: inherit;
  vertical-align: top;
  font-size: 1.2em;
  margin-top: -0.1em;
}

.breadcrumb {
  margin-bottom: 8px;
}
