.alert.resolution-status
	%span.fa-stack.fa-1x
		%i.fa.fa-circle.fa-stack-2x
		%i.fa.fa-question.open.fa-inverse.fa-stack-1x
		%i.fa.fa-check.resolved.fa-inverse.fa-stack-1x
		%i.fa.fa-ban.closed.fa-inverse.fa-stack-1x
	%b
		%span.open This report is unresolved.
		%span.closed This report has been closed.
		%span.resolved This report has been resolved.
