(function() {

  let windowFocused = false;

  $(window).on('focus', function() {
    windowFocused = true;
  }).on('blur', function() {
    windowFocused = false;
  });

  function initWorker() {
    var docTitle = $('#document_title');
    var title = docTitle.text();
    var worker = new SharedWorker('<%= asset_path("notifications.js") %>');
    
    worker.port.addEventListener('message', function(e) {
      if (e.data.command == 'feeds') {
        if (e.data.count > 0) {
          $('.notices-bell.feeds').html('<i class="fa fa-globe" /><span>' + e.data.count + '</span>');
        } else {
          $('.notices-bell.feeds').html('<i class="fa fa-globe" />');
        }
      } else if (e.data.command == 'notices') {
        $('.notices-bell.notices span:not(.invert)').remove();
        if (e.data.count > 0) {
          $('.notices-bell.notices i').after('<span>' + e.data.count + '</span>');
        }
      } else if (e.data.command == 'mail') {
        if (e.data.count > 0) {
          $('.notices-bell.notices').append('<span class="invert">' + e.data.count + '</span>');
        } else {
          $('.notices-bell.notices span.invert').remove();
        }
      }
      if (e.data.command == 'notices' || e.data.command == 'feeds' || e.data.command == 'mail') {
        if (!windowFocused && e.data.count) {
          if (title.indexOf('*') !== 0) {
            title = '* ' + title;
            docTitle.text(title);
          }
        } else {
          if (title.indexOf('*') == 0) {
            title = title.replace('* ', '');
            docTitle.text(title);
          }
        }
      }
    });
    $(window).on('focus', function() {
      if (title.indexOf('*') == 0) {
        title = title.replace('* ', '');
        docTitle.text(title);
      }
    });
    worker.port.start();
    worker.port.postMessage({
      command: 'connect',
      notices: $('.notices-bell.notices span').length ? parseInt($('.notices-bell.notices span').text()) : 0,
      feeds: $('.notices-bell.feeds span').length ? parseInt($('.notices-bell.feeds span').text()) : 0
    });
    window.onbeforeunload = function() {
      worker.port.postMessage({command: 'disconnect'});
      return null;
    };
  }
  
  $(function() {
    var giveMeNotifications = $('#give_me_notifications');
    if (giveMeNotifications.length) {
      giveMeNotifications.val(window.SharedWorker && !!localStorage['give_me_notification'])
      giveMeNotifications.on('change', function() {
        if (this.checked) {
          localStorage['give_me_notifications'] = this.checked;
        } else {
          localStorage.removeItem('give_me_notifications');
        }
      });
    }
    
    if (window.current_user && window.SharedWorker && !!localStorage['give_me_notifications']) {
      initWorker();
    }
  });
})();
