%section.page
	.group.feed.auto-wrap-contents
		%h1
			Followed Videos
			= surround '(', ')' do
				= number_with_delimiter @feed.length
			%a.right{href: videos_feed_path}
				View All
				= fa :chevron_right
		%ul.horizontal
			= render partial: 'videos/thumb/normal', collection: @feed
