%section.page.seamed.properties.full-width
	%h1
		= fa :link
		Referrals
	%table.group.active
		- @video.video_visits.pie_data(request.domain).each do |a|
			%tr
				%td= a.referring_domain
				%td= a.total
