.thumb.medium {
  position: relative;
  display: inline-block;
  width: 71px;
  height: 40px;
}
.thumb.medium span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: center / contain no-repeat;
}
