.generic {
  --thumb-width: 250px;
  --thumb-width-min: var(--thumb-width);

  list-style: none;
  display: inline-block;
  padding: 10px;
  margin: 4px;

  max-width: calc(min(var(--thumb-width), 100%));
  min-width: calc(min(var(--thumb-width-min), 100%));

  min-height: calc(var(--thumb-height) - 110px);

  border-radius: var(--thumb-border-radius);

  transition:
    max-width 0.5s ease,
    min-width 0.5s ease,
    max-height 0.5s ease,
    min-height 0.5s ease;
}

.generic:active {
  --thumb-hover-color: var(--thumb-active-color);
}
.generic.virtual,
.generic:hover,
.generic:focus-within {
  background: var(--thumb-hover-color);
}
.generic.virtual {
  opacity: 0.6;
  pointer-events: none;
}

.generic.virtual.keep::after {
  content: "No Content";
  position: absolute;
  top: calc(50% + 0.5em);
  left: calc(50% - 2.5em);
  font-size: 2em;
  color: #6666b8;
}

ul.vertical .generic {
  --thumb-width: 100%;
}

tr.activity td + td {
  width: 100%;
}
