ul.vertical .thumb {
  flex-direction: row;
  gap: 3px;
}

ul.vertical .thumb .tile {
  --thumb-width: 10vw;
  --thumb-padding: -0.5px;
  width: var(--thumb-width);
  height: var(--thumb-height);
}

ul.vertical .thumb .details {
  padding: 0 5px;
  text-align: left;
  white-space: normal;
  width: 0;
  flex-grow: 1;
}

ul.vertical .details .detail {
  color: #aaa;
}

ul.vertical .thumb .title {
  overflow: hidden;
  display: inline-block;
  max-height: 3.1em;
}
ul.vertical .thumb .tile .details {
  width: 100%;
}
