.stack {
  background: none !important;
  position: relative;
  
  --stack-item-background: #000;
  --stack-item-outline: rgba(0,0,255,0.1);
  --overlay-buffer: 0;
  transform: scale(0.95);
  transform-origin: 0 0;
}
.stack .stack-item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--stack-item-background) center/cover no-repeat;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.stack .stack-item .stack-item {
  top: 5%;
  left: 5%;
}
.stack:hover .stack-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: outline 0.3s ease;
  margin: -3px;
  border-radius: inherit;
  border: solid 3px var(--stack-item-outline);
}

.post .stack {
	margin-right: 10px;
  margin-top: 10px;
}
