.tile {
  --thumb-height: calc(var(--thumb-width) * 0.48);

  position: relative;
  display: inline-block;
  vertical-align: top;

  width: 100%;
  max-width: var(--thumb-width);
  max-height: calc(var(--thumb-height) + 80px);
  min-height: var(--thumb-height);
  padding: 0;

  text-align: left;
  text-decoration: none;
  background: #000 center/cover no-repeat;
  color: #fff;
}
