.thumb, .generic.thumb {
  --thumb-width: 250px;
  --aspect-ratio: calc(16 / 9);
  --thumb-height: calc(var(--thumb-width) / var(--aspect-ratio));
  --tile-overlay-background: rgba(0,0,0,0.3);
  --tile-overlay-color: #fff;
  --thumb-tags-color: #8db936;
  --thumb-uploader-color: #9667f4;

  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: var(--thumb-border-radius)
}

@media(max-width: 654px) {
  .thumb, .generic.thumb {
    --thumb-width: calc(min(max(230px, 45vw), 100vw));
  }
}

.thumb.tiny {
  --thumb-width: 85px;
  width: var(--thumb-width);
  height: 100%;
}

.thumb-hidden {
  opacity: 0.3;
}
.thumb.working {
  background: #95ffd5;
  border: solid 1px #ccc !important;
  margin: -1px;
}

.thumb .tile:hover:before,
.thumb .tile:focus:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: border 0.3s ease;
  border: solid 3px rgba(0,0,255,0.1);
  border-radius: inherit;
  margin: -3px;
}

.thumb .title {
  max-height: 3.1em;
}

.thumb .tile.link {
  display: flex;
  align-items: center;
  background: none;
  border: solid 1px #aaa;
  text-align: center;
  color: #aaa;
  vertical-align: middle;
  text-decoration: none;
}
.thumb .tile.link span {
  width: 100%;
}

.thumb .tile .detail {
  display: none;
}
.thumb .tile .detail, .thumb .title, .thumb + .title {
  max-height: 3.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  flex-grow: 1;
  
  /* Allows text overflow elipses to display correctly*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.thumb .details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-decoration: none;
}

.thumb .details .detail,
.thumb .details .detail .taglist {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.thumb .details .detail .taglist {
  padding: 0 5px;
  color: var(--thumb-tags-color);
}
.thumb .details .detail .uploader {
  color: var(--thumb-uploader-color);
}
.thumb .details .detail {
  display: flex;
  overflow: hidden;
}
.thumb .details .detail .grow {
  flex-grow: 1;
}

ul.horizontal .thumb .detail {
  color: #aaa;
  font-size: 0.8em;
}
ul.horizontal .thumb .detail + .detail {
  font-style: italic;
}
