label.options {
  display: flex;
  height: 37.6px;
  border: 1px solid var(--input-border);
  margin: .625rem 0;
  color: var(--input-foreground-color);
  background: var(--content-background);
  border-radius: var(--input-radius);
  min-width: 200px;
  transition: background 0.125s ease;
  align-items: stretch;
}

label.options.focus {
  background: var(--label-focus-color);
}

label.options span {
  max-width: 120px;
  min-width: 90px;
  padding: 8px !important;
  background: var(--label-focus-color);
  color: var(--input-foreground-color) !important;
  border-right: 1px solid var(--block-border-color);
  font-size: 0.9em;
  border-top-left-radius: var(--input-radius);
  border-bottom-left-radius: var(--input-radius);
}

label.options input[type],
label.options select {
  flex-grow: 1;
  min-width: 0;
}

.search-options input[type],
label.options input[type],
label.options select {
  border: none;
  background: inherit;
  color: inherit;
  padding: 8px;
}
.search-options input {
  width: 100%;
}

label.options select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml,<svg width="2.957mm" height="2.5998mm" version="1.1" viewBox="0 0 2.957 2.5998" xmlns="http://www.w3.org/2000/svg"><path d="m0.20931 0 1.2885 2.5998 1.2499-2.5998z" fill="%23000" opacity="0.3" fill-rule="evenodd" stroke-width=".051292"/></svg>') no-repeat right 10px center/auto 1em;
}
label.options select option {
  background: var(--label-focus-color);
}