label.options {
  display: flex;
  border: 1px solid var(--block-border-color);
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--input-foreground-color);
  border-radius: 2px;
  min-width: 200px;
  transition: background 0.125s ease;
}

label.options.focus {
  background: var(--label-focus-color);
}

label.options span {
  max-width: 90px;
  min-width: 90px;
  padding: 10px !important;
  background: var(--label-focus-color);
  color: var(--input-foreground-color) !important;
  border-right: 1px solid var(--block-border-color);
  font-size: 0.9em;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

label.options select {
  flex-grow: 1;
}

.search-options input,
label.options select {
  border: none;
  background: none;
  color: inherit;
  outline: none;
  padding: 11px;
}
.search-options input {
  width: 100%;
}