label.options {
  display: flex;
  border: 1px solid var(--input-border);
  margin: .625rem 0;
  color: var(--input-foreground-color);
  background: var(--content-background);
  border-radius: var(--input-radius);
  min-width: 200px;
  transition: background 0.125s ease;
}

label.options.focus {
  background: var(--label-focus-color);
}

label.options span {
  max-width: 120px;
  min-width: 90px;
  padding: 10px !important;
  background: var(--label-focus-color);
  color: var(--input-foreground-color) !important;
  border-right: 1px solid var(--block-border-color);
  font-size: 0.9em;
  border-top-left-radius: var(--input-radius);
  border-bottom-left-radius: var(--input-radius);
}

label.options input,
label.options select {
  flex-grow: 1;
  min-width: 0;
}

.search-options input,
label.options input,
label.options select {
  border: none;
  background: inherit;
  color: inherit;
  padding: 11px;
}
.search-options input {
  width: 100%;
}