<%= form_for(@album, as: "album", url: "/ajax/edit/album/" + @album.id.to_s) do |f| %>
<div class="message_content">
	<div class="search-options">
		<label class=""<% if @album.hidden %> disabled<% end %>>
			<span>Visibility</span>
			<div>
				<select id="privacy" name="album[privacy]" style="width:100%"<% if @album.hidden %> disabled<% end %>>
					<option value="0"<% if !@album.hidden && @album.listing == 0 %> selected<% end %>>Public</option>
					<option value="1"<% if !@album.hidden && @album.listing == 1 %> selected<% end %>>Unlisted</option>
					<option value="2"<% if @album.hidden || @album.listing == 2 %> selected<% end %>>Private</option>
				</select>
			</div>
		</label>
		<hr>
		<label class="">
			<span>Sorting</span>
			<div>
				<select id="sorting" name="album[sorting]" style="width:100%">
					<option value="0"<% if !@album.ordering || @album.ordering < 1 || @album.ordering > 3 %> selected<% end %> >Custom</option>
					<option value="1"<% if @album.ordering == 1 %> selected<% end %>>Date Created</option>
					<option value="2"<% if @album.ordering == 2 %> selected<% end %>>Date Added</option>
					<option value="3"<% if @album.ordering == 3 %> selected<% end %>>Score</option>
				</select>
			</div>
		</label>
		<hr>
		<label class="">
			<span>Direction</span>
			<div>
				<select id="direction" name="album[direction]" style="width:100%">
					<option value="0"<% if !@album.reverse_ordering %> selected<% end %>>Ascending</option>
					<option value="1"<% if @album.reverse_ordering %> selected<% end %>>Descending</option>
				</select>
			</div>
		</label>
	</div>
</div>
<div class="foot">
	<%= f.submit "Save", class: "green confirm" %>
	<button class="right cancel" type="button">Cancel</button>
</div>
<% end %>