<section class="page full-width listing compact">
	<% if @album.ordering && @album.ordering > 0 %>
		<span class="album-notice">
			<i class="fa fa-sort-amount-<%= @album.ordering_direction %>"></i>
			This playlist is automatically sorted by <%= @album.ordering_text %>.
		</span>
	<% end %>
	<div id="items" class="items<% if @modifications_allowed %> reorderable<% end %>" data-target="albumitems">
		<span class="bump" data-index="-1"></span>
		<%= render partial: 'album/item', collection: @items.records %>
	</div>
	<div class="load-more">
	<% if @items.pages > 0 %>
		<button data-page="0" data-url="albums/<%= @album.id %>/items" data-target="items">Load More</button>
	<% end %>
	</div>
</section>