<section style="width:100%" class="page listing compact">
	<% if @album.ordering && @album.ordering > 0 %>
		<span class="album-notice">
			<i class="fa fa-random -<% if @album.reverse_ordering %>asc<% else %>desc<% end %>"></i>
			This playlist is automatically sorted by <%= @album.ordering_text %>.
		</span>
	<% end %>
	<div id="items" class="items<% if @modificationsAllowed %> reorderable<% end %>" data-target="albumitem">
		<span class="bump" data-index="-1"></span>
		<%= render partial: 'album/item', collection: @items.records %>
	</div>
	<div class="load-more">
	<% if @items.pages > 0 %>
		<button data-page="0" data-url="albums/items" data-id="<%= @album.id %>" data-target="items">Load More</button>
	<% end %>
	</div>
</section>