%li.tag{class: "tag-#{tag.namespace}",
		data: tag.widget_parameters(current_user)
	}>
	%i.fa.fa-times-circle.remove{title: "Remove Tag", "data-name": tag.name}
	%a{href: tag.link}= tag.name
	= render partial: "tags/flags"
