%section.page.full-width.donate
	%h1
		%a{href: donate_path} Donate
	%a(href="#{donate_path}" data-external-form="#{donate_path}.json" data-title="Donate to Project Vinyl" data-icon="paypal" data-max-width="500px")
		%div(data-message="If you like what you see, maybe you should consider donating to keep this site running? kthanks.")
	.source
		Image by
		%a.source(href="//derpibooru.org/549114") zztfox
