@keyframes bobben {
  0% {
    transform: translateY(-100%);
  }
  5% {
    transform: translateY(-100%);
  }
  15% {
    transform: translateY(0);
    margin-bottom: 5px;
  }
  30% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(0);
    margin-bottom: 6px;
  }
  50% {
    transform: translateY(-30%);
  }
  70% {
    transform:translateY(0%);
    margin-bottom: 7px;
  }
  80% {
    transform:translateY(-15%);
  }
  90% {
    transform:translateY(0%);
    margin-bottom: 8px;
  }
  95% {
    transform:translateY(-7%);
  }
  97% {
    transform:translateY(0%);
    margin-bottom: 9px;
  }
  99% {
    transform:translateY(-3%);
  }
  100% {
    transform:translateY(0);
    margin-bottom: 9px;
  }
}
@-webkit-keyframes bobben {
  0% {
    -webkit-transform: translateY(-100%);
  }
  5% {
    -webkit-transform: translateY(-100%);
  }
  15% {
    -webkit-transform: translateY(0);
    margin-bottom: 5px;
  }
  30% {
    -webkit-transform: translateY(-50%);
  }
  40% {
    -webkit-transform: translateY(0);
    margin-bottom: 6px;
  }
  50% {
    -webkit-transform: translateY(-30%);
  }
  70% {
    -webkit-transform:translateY(0%);
    margin-bottom: 7px;
  }
  80% {
    -webkit-transform:translateY(-15%);
  }
  90% {
    -webkit-transform:translateY(0%);
    margin-bottom: 8px;
  }
  95% {
    -webkit-transform:translateY(-7%);
  }
  97% {
    -webkit-transform:translateY(0%);
    margin-bottom: 9px;
  }
  99% {
    -webkit-transform:translateY(-3%);
  }
  100% {
    -webkit-transform:translateY(0);
    margin-bottom: 9px;
  }
}

@keyframes intermediate {
  0% {background-position: 0 0;}
  100% {background-position: 30px 0;}
}
@-moz-keyframes intermediate {
  0% {background-position: 0 0;}
  100% {background-position: 30px 0;}
}
@-webkit-keyframes intermediate {
  0% {background-position: 0 0;}
  100% {background-position: 30px 0;}
}
@-o-keyframes intermediate {
  0% {background-position: 0 0;}
  100% {background-position: 30px 0;}
}