@media(min-width: 700px) {
  .dock-holder .dock-only {
    display: none;
  }
}

.dock-holder .dock-shadow {
  display: none;
}

@media(max-width: 700px) {
  
  .dock-holder.open nav {
    left: 0;
  }

  .dock-holder .no-dock {
    display: none !important;
  }

  .dock-holder .dock-shadow {
    z-index: 2;
    display: block;
    visibility: hidden;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    opacity: 0;
    transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
  }
  
  .dock-holder.open .dock-shadow {
    visibility: visible;
    opacity: 0.8;
  }
}
