@media(max-width: 700px) {
  nav {
    position: fixed !important;
    z-index: 9 !important;
    top: 0;
    left: -400px;
    bottom: 0;
    width: 400px !important;
    max-width: 70%;
    margin: 0;
    overflow-y: auto;
    background: var(--content-background);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: left 0.25s ease-in;
    color: #337287;
    scrollbar-width: thin;
    overflow-x: hidden;
  }
  .dock-holder.open nav {
    min-width: 150px;
  }

  .header ul, .header ul li {
    padding: 0;
    color: inherit;
  }

  nav ul li:hover, nav ul li.selected {
    color: inherit;
  }

  nav .sparkline {
    display: none !important;
  }

  nav > ul {
    height: initial !important;
  }

  nav ul li {
    text-align: left;
    opacity: 1;
  }

  .header ul li,
  .header .drop-down li,
  .header ul li a {
    display: flex;
    align-items: center;
  }

  .header ul li .icon:hover,
  .header ul li .icon:focus,
  .header ul li a:hover,
  .header ul li a:focus,
  .header ul li a:focus-within {
    background: var(--block-hover-color);
  }

  .header ul li a,
  .header ul li a > span {
    flex-grow: 1;
  }
  .header ul li a > span {
    padding: 12px;
  }
  .header ul li i {
    display: inline;
  }
  .header ul li i,
  .header ul li .icon {
    padding: 12px;
    flex-grow: 0;
  }
}
