@media(max-width: 700px) {
  nav {
    position: fixed !important;
    z-index: 9 !important;
    top: 0;
    left: -400px;
    bottom: 0;
    width: 400px !important;
    max-width: 70%;
    margin: 0;
    overflow-y: auto;
    background: var(--content-background);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: left 0.25s ease-in;
    color: #337287;
  }

  .dock-holder.open nav {
    min-width: 150px;
  }

  .header ul, .header ul li {
    padding: 0;
    color: inherit;
  }
  nav ul li:hover, nav ul li.selected {
    color: inherit;
  }

  nav > ul {
    height: initial !important;
  }

  nav ul li {
    display: block !important;
    text-align: left;
    opacity: 1;
  }

  nav .drop-down {
    position: initial;
    visibility: visible;
    opacity: 1;
    box-shadow: none;
  }
  
  nav .sparkline {
    display: none !important;
  }
  
  .header .drop-down::after {
    display: none;
  }
  
  .header ul li a {
    display: flex;
    align-items: center;
  }
  .header ul li a:hover {
    background: var(--block-hover-color);
  }
  .header ul li a > span {
    flex-grow: 1;
    padding: 12px;
  }
  .header ul li a > i,
  .header ul li a > .icon {
    padding: 12px;
    flex-grow: 0;
  }
}
