@media(max-width: 700px) {
  nav {
    position: fixed !important;
    z-index: 9 !important;
    top: 0;
    left: -400px;
    bottom: 0;
    width: 400px !important;
    max-width: 70%;
    margin: 0;
    overflow-y: auto;
    background: var(--content-background);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: left 0.25s ease-in;
  }

  .dock-holder.open nav {
    min-width: 300px;
  }

  .header ul, .header ul li {
    padding: 0;
  }
  .header ul li > a {
    padding-left: 10px;
  }

  nav > ul {
    height: initial !important;
  }

  nav ul li {
    display: block !important;
    text-align: left;
    opacity: 1;
  }

  nav > ul > li {
    box-shadow: 0 0 3px 0 var(--block-border-color) inset;
  }

  nav .drop-down {
    position: initial;
    visibility: visible;
    opacity: 1;
    box-shadow: none;
  }
  
  nav .sparkline {
    display: none !important;
  }
}
