@media(max-width: 700px) {
  .header .drop-down::after {
    display: none;
  }

  nav ul {
    --dock-peek: 10%;
    --dock-opened-sub-menu-width: 90%;
  }

  nav .drop-down {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    transform: translateX(110%);
    width: var(--dock-opened-sub-menu-width);
    height: 100wh;
    opacity: 1;
    box-shadow: none;
  }
  nav .drop-down:focus-within {
    transform: translateX(10%);
  }
  nav .drop-down .drop-down {
    width: 100%;
    transform: translateX(0%);
  }

  nav li, nav ul {
    position: static;
    transition: transform 0.3s linear !important;
  }
  nav ul:focus-within {
    transform: translateX(-90%);
    min-height: 100vh;
  }

  nav ul:focus-within ul::before  {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: 100%;
    width: var(--dock-peek);
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
  }

  nav ul:focus-within,
  nav ul:focus-within > li,
  nav ul:focus-within > li > a {
    background: var(--block-hover-color);
  }

  nav li:focus-within > .drop-down {
    display: block;
    visibility: visible;
  }

  .header ul li {
    position: static;
  }
}
