@media(max-width: 700px) {
  .header .drop-down::after {
    display: none;
  }
  .header ul li {
    position: static;
  }

  nav .drop-down {
    position: absolute;
    visibility: visible;
    opacity: 1;
    background: var(--content-background);
    top: 0;
    left: 0;
    width: calc(90% + 5px);
    min-height: 100vh;
    box-shadow: none;
    transform: translateX(130%);
    transition: transform 0.3s linear !important;
  }
  nav .drop-down-parent:focus-within > .drop-down {
    transform: translateX(10%);
  }
  nav .drop-down .drop-down {
    width: 100%;
    left: -10%;
  }

  nav .drop-down-parent .drop-down::before  {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: -10%;
    width: 10%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
  }
}
