#dock-toggle {
  float: left;
  border-radius: 0 0 10px 0;
  cursor: pointer;
  display: none;
  line-height: 33px;
}

#dock-toggle:hover {
  background: #fff;
}

#dock-toggle i {
  padding: 10px;
  transition: transform 0.25s linear
}

@media(max-width: 570px) {
  #dock-toggle {
    border-radius: 0;
  }
}
