#dock-toggle {
  cursor: pointer;
  display: none;
}

#dock-toggle i {
  padding: 10px;
  transition: transform 0.25s linear
}

@media(max-width: 700px) {
  .dock-holder #dock-toggle {
    display: block !important;
  }

  .dock-holder.open #dock-toggle i {
    transform: rotate(180deg);
  }
}
