%a(style=" |
			text-decoration: none; |
			background: #7bb042; |
			border: solid 1px #699739; |
			border-bottom-color: #638f36; |
			border-top-color: #6fa03c; |
			border-radius: 3px; |
			box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset; |
			text-shadow: 1px 1px #699739; |
			color: #fff; |
			font-weight: initial; |
			line-height: 20px; |
			padding: 16px;" href="#{url}" |
	)= yield
