= render 'email_wrapper', title: 'Welcome to Project Vinyl' do
	%p
		An account was recently created using the email address at #{@email}.
		If this was you, you can confirm your email and sign in through the link below.
	%br
	%p(style="text-align: center;")
		= render 'green_button', url: confirmation_url(@resource, confirmation_token: @token) do
			CONFIRM MY ACCOUNT
