= render 'email_wrapper', title: "Hello #{@resource.username}!" do
	%p
		We're contacting you to notify you that your password has been sucessfully changed! Woohoo!
	%p
		If you have any queries about this message, please reach out to us on Discord a The Pony Archive.
