= render 'email_wrapper', title: "Hello #{@resource.username}!" do
	%p
		Someone has requested a link to change the password on your account.
		You can do this through the link below.
	%p
		If you did not request this, you can safely ignore this email and nothing will change.
		Your password won't change until you access the link above and create a new one.
	%br
	%p(style="text-align: center;")
		= render 'green_button', url: edit_password_url(@resource, reset_password_token: @token) do
			CHANGE MY PASSWORD
