= render 'email_wrapper', title: "Hello #{@resource.username}!" do
	%p
		Your account has been locked due to an excessive number of unsuccessful sign in attempts.
		Click the link below to unlock your account.
	%br
	%p(style="text-align: center;")
		= render 'green_button', url: unlock_url(@resource, unlock_token: @token) do
			UNLOCK MY ACCOUNT
