ul.horizontal {
  overflow: hidden;
  margin-bottom: -1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: left;
}

ul.horizontal > li.generic {
  display: inline-block;
  padding: 10px;
  max-width: 100%;
  min-width: 190px;
  max-height: 250px;
  min-height: 140px;
  width: 235px;
}
ul.horizontal > li.generic.virtual,
ul.horizontal > li.generic:hover {
  background: #fcfcfc;
}

ul.horizontal.center > li {
  text-align: left;
  float: none;
  display: inline-block;
}

@media(max-width: 650px) {
  ul.horizontal {
    text-align: center;
  }
  ul.horizontal li.generic {
    text-align: left;
  }
}

ul.horizontal, ul.queue, .controls ul, li.generic {
  list-style: none;
  padding: 0;
}

