- if @modifications_allowed
	.new-module
		%button(data-external-form="#{new_user_profile_module_path(@user, column: column, index: index)}.json" data-title="Add Module" data-icon="plus" data-max-width="500px")
			Add Module
