%li.tag.drop-down-holder.popper{class: "tag-{namespace}", "data-slug": "{slug}"}>
	%a(href="/tags/{link}")
		%span {name}
	%span.count(data-count="{members}") ({members})
	{flags}
	%ul.drop-down.pop-out
		%li.action.toggle(data-family="tag-flags" data-descriminator="hide" data-target="tags" data-id="{id}" data-action="hide")
			%span.icon
			%span.label Hide
		%li.action.toggle(data-family="tag-flags" data-descriminator="spoiler" data-target="tags" data-id="{id}" data-action="spoiler")
			%span.icon
			%span.label Spoiler
		%li.action.toggle(data-family="tag-flags" data-descriminator="watch" data-target="tags" data-id="{id}" data-action="watch")
			%span.icon
			%span.label Watch
