%li(class="tag" data-namespace="{namespace}" data-slug="{slug}" data-watching="{watching}" data-hidden="{hidden}" data-spoilered="{spoilered}")>
	%i.fa.fa-times-circle.remove(title="Remove Tag" data-name="{name}")
	%a(href="/tags/{link}") {name}
