<h1 class="title resize-target">Processor Status</h1>
<% begin %>
<div class="listing compact">
	<div class="items">
		<div class="row">
			<div>Jobs in queue: <%= Resque.info[:pending] %> Total workers: <%= Resque.info[:workers] %></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	<% Resque.workers.each_with_index do |worker, i| %>
    <% payload = worker.job.dig("payload", "args") %>
    <% payload = "#{payload[0]["job_class"]}: #{payload[0]["arguments"]}" if payload %>
		<a class="row" href="/admin/resque">
			<div>
				<span class="active-icon<% if worker.working? %> active<% end %>" ></span>
				#<%= i+1 %>
			</div>
			<div><% if payload %><%= payload %><% else %>No task<% end %></div>
		</a>
	<% end %>
	</div>
</div>
<hr>
<button class="action blue" data-method="post" data-confirm data-url="/ajax/admin/verify" data-title="Verify System Integrity" type="button">Verify System Integrity</button>
<button class="action blue" data-method="post" data-confirm data-url="/ajax/admin/videos/requeue" data-title="Rebuild Processing Queue" type="button">Rebuild Processing Queue</button>
<% rescue %>
<p>
Oops! Could not connect to Resque.
</p>
<% end %>
