.row.row-group
	.row
		.cell(style="width:30px")
			%a.button.button-bub.disable= fa :pencil
		.cell(style="color:#{static_item.colour}")
			%i.fa.fa-4x{class: "fa-#{static_item.icon}"}
		.cell= static_item.title
		.cell.center
			%i.fa.fa-times(title="false")
		.cell
