%section.page.column-left
	%h1
		Reporting
		%a.right(href="/admin/reports?reportable_class=Video&reportable_id=#{@video.id}")
			View All
			= fa :chevron_right
	%h1 Open Reports
	.compact.listing
		%ul.items= render partial: "admin/report/thumb", collection: @video.open_reports
