%section.page.column-left
	%h1
		Reporting
		%a.right{href: admin_reports_path(@video.reportable_hash)}
			View All
			= fa :chevron_right
	%h1 Open Reports
	.compact.listing
		%ul.items= render @video.open_reports
