.popper {
  position: relative;
}
.popper .pop-out {
  white-space: nowrap;
  display: none;
  position: absolute;
  left: -30px;
  top: 100%;
  z-index: 999;
  width: 100%;
  max-height: 300px;
  min-width: 300px;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  box-shadow: 0px 1px rgba(255,255,255,0.3) inset;
  border: 1px solid #d6d6d6;
  border-bottom-color: #cacaca;
  border-top-color: #e2e2e2;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  border-radius: 3px;
}

.popper .pop-out li {
  cursor: pointer;
}
.popper .pop-out li .icon {
  display: inline-block;
  width: 30px;
}
.popper .pop-out li a {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  font-weight: inherit;
  margin: -10px;
  padding: 10px;
}
.pop-out, .pop-out li, .pop-out li .label {
  overflow-x: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.popper .pop-out li {
  padding: 10px;
}
.popper .pop-out li:nth-child(2n+1) {
  background: #fff;
}
.popper .pop-out li:nth-child(2n) {
  background: #f8f8ff;
}
.popper .pop-out li:hover {
  background: #eee;
}

.pop-out-shown .pop-out, .pop-out.shown {
  display: block !important;
}

.pop-out-shown::before,
.pop-out-shown::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  z-index: 999;
}

.pop-out-shown::before {
  margin-left: -12px;
  border-bottom: 12px solid #d6d6d6;
}
.pop-out-shown::after {
  margin-left: -12px;
  margin-bottom: -1px;
  border-bottom: 12px solid #fff;
}

.pop-out-shown.invert .pop-out {
  bottom: 100%;
  top: auto;
}
.pop-out-shown.invert::before,
.pop-out-shown.invert::after {
  border-bottom: none;
  top: -1px;
}
.pop-out-shown.invert::before {
  border-top: 12px solid #d6d6d6;
  margin-top: 1px;
}
.pop-out-shown.invert::after {
  border-top: 12px solid #fff;
  margin-bottom: 0;
}

.split-button.pop-out-shown::before,
.split-button.pop-out-shown::after {
  bottom: -12px;
}
.split-button.pop-out-shown > .pop-out {
  margin-top: 12px;
}

.popper.pop-left .pop-out {
  right: 0;
  left: auto;
}
.popper.pop-right .pop-out {
  left: 0;
  right: auto;
}