.slideout {
  position: relative;
  display: block;
  overflow: hidden;
  clear: both;
  opacity: 0;
  background: #fff;
  transition: max-height 0.25s linear, min-height 0.25s linear, opacity 0.5s linear 0.25s, background 0.5s linear;
  border-radius: 3px;
  margin-top: 5px;
  white-space: nowrap;
}
.slideout.shown {
  opacity: 1;
  background: #f8f8f8;
}
.slideout:not(.shown) {
  min-height: 0 !important;
  max-height: 0 !important;
}