= render layout: 'pagination/paginated', locals: {type: forum_thread_path(@thread), order: @order, paginated: @comments, id: "page"} do
	%ul.comments.comment-list(id="thread-#{@thread.id}")
		= render 'comments/set', thread: @comments.records, indirect: false
