.tab-set > .tab-set.tabs .button::before,
.tab-set > .tab-set.tabs .button::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border: solid transparent;
  border-bottom-width: 30px;
  transition: border 0.125s ease;
}
.tab-set > .tab-set.tabs .button::before {
  right: 100%;
	border-color:
    transparent
    var(--tab-background)
    var(--tab-background)
    transparent;
}
.tab-set > .tab-set.tabs .button::after {
  left: 100%;
	border-color:
    transparent
    transparent
    var(--tab-background)
    var(--tab-background);
}
