<li class="bio">
	<span class="avatar">
		<span style="background-image: url('/avatar/<%= artist_thumb_h.id %>');"></span>
	</span>
	<div class="description">
		<a href="/artist/<%= artist_thumb_h.id %>-<%= artist_thumb_h.name %>">
			<h2><%= artist_thumb_h.name %></h2>
		</a>
		<span class="tag-list">
			Artist
		</span>
	</div>
</li>