<li class="tag" style="float:left;padding:10px">
	<a href="/tags/<%= genre_thumb_h.short_name %>">
		<span style="color:<%= genre_thumb_h.get_colour %>"><%= genre_thumb_h.name %> (<%= number_with_delimiter genre_thumb_h.members %>)</span>
	</a>
</li>