<li class="genre">
	<span class="genre-icon">
		<i class="fa fa-music fa-inverse" ></i>
	</span>
	<div class="description">
		<a href="/genre/<%= genre_thumb_h.name %>">
			<h2><%= genre_thumb_h.name %></h2>
		</a>
	</div>
</li>