<li class="tag" style="float:left;padding:10px">
	<a href="/tags/<%= genre_thumb_h.name %>">
		<span style="color:<%= genre_thumb_h.get_colour %>"><%= genre_thumb_h.name %> (<%= genre_thumb_h.total_videos %>)</span>
	</a>
</li>