<li style="float:left;padding:10px">
	<a href="/tags/<%= genre_thumb_h.name %>">
		<h2 style="color:<%= genre_thumb_h.get_colour %>"><%= genre_thumb_h.name %> (<%= genre_thumb_h.total_videos %>)</h2>
	</a>
</li>