<li class="genre">
	<a href="/genre/<%= url_safe genre_thumb_h.name %>">
		<span class="genre-icon">
			<i class="fa fa-music fa-inverse" ></i>
		</span>
		<h2><%= genre_thumb_h.name %></h2>
	</a>
</li>