<nav class="header layer-foreground">
	<ul>
		<li class="albums<%= selected_path? 'albums' %>">
			<a href="/albums">
				<i class="fa fa-fw fa-picture-o"></i>
				<span> Albums</span>
			</a>
		</li
		><li class="artists<%= selected_path? 'videos' %>">
			<a href="/videos">
				<i class="fa fa-fw fa-play"></i>
				<span> Videos</span>
			</a>
		</li
		><li class="genres<%= selected_path? 'tags' %>">
			<a href="/tags">
				<i class="fa fa-fw fa-tags"></i>
				<span> Tags</span>
			</a>
		</li
		><li class="forum<%= selected_path? 'forum' %>">
			<a href="/forum">
				<i class="fa fa-fw fa-users"></i>
				<span> Forums</span>
			</a>
		</li>
	</ul>
</nav>
