<div class="pagination">
	<a class="button left" data-page-to="0" href="#/first">First</a>
	<span class="pages">
		<% i = results.page > 4 ? results.page - 4 : 0 %>
		<% while i < results.page + 4 && i <= results.pages do %>
		<a class="button<% if i == results.page %> selected<% end %>" data-page-to="<%= i %>" href="#/page/<%= i + 1 %>">
			<%= i + 1 %>
		</a>
		<% i = i + 1 %>
		<% end %>
	</span>
	<a class="button right" data-page-to="-1" href="#/last">Last</a>
</div>