<div class="tag-editor">
	<span class="value">
		<%= yield %>
	</span>
	<ul class="tags">
	</ul>
	<input class="tag input" type="text" placeholder="Tag list..." ></input>
	<ul class="search-results pop-out">
	</ul>
</div>