<span class="tag-list underline">
	<% collection.each_with_index do |item, index| %>
		<% if index > 0 %>,<% end %>
		<% if index == 20 %>
	<span class="overflow">
		<% end %>
		<a href="/tags/<%= item.get_as_string %>"><span><%= item.get_as_string %></span></a>
	<% end %>
	<% if collection.length > 20 %>
	</span>
	<a class="state-toggle" data-state="show-all" data-true="(less)" data-false="(more)" href="#">(more)</a>
	<% end %>
</span>