<li class="generic">
	<a class="thumb" style="background-image:url('/cover/<%= video_thumb_v.id %>');" href="/view/<%= video_thumb_v.id %>-<%= video_thumb_v.title %>">
		<div><%= video_thumb_v.title %></div>
	</a>
</li>