<section style="width:100%;" class="page">
	<h1><%= title %></h1>
	<div class="description">
		<%= description %>
	</did>
</section>
<style>
.wrapper {
  max-width: 500px;
  padding: 50px 0;
}
</style>