<div class="row row-group">
	<div class="row">
		<div style="width:30px">
		<a class="button button-bub disable">
			<i class="fa fa-pencil"></i>
		</a>
		</div>
		<div style="color:<%= static_item.colour %>">
			<i class="fa fa-4x fa-<%= static_item.icon %>"></i>
		</div>
		<div>
			<%= static_item.title %>
		</div>
		<div class="center">
			<i title="false" class="fa fa-times"></i>
		</div>
		<div>
		</div>
	</div>
</div>