%section.page.full-width
	%p
		Badges are a fun little feature that lets you add custom, sometimes humerous, notes a specific user.
		Other than appearing in strategic places next to their names, badges have no semantic meaning.
	%ul.horizontal.album-list#albums
		= render partial: 'simple_item', collection: Badge.static_badges
		= render partial: 'simple_item', collection: @badges
